Repository ever-co/ever-teams, pull requests merged in 2023-09, with the labels that each got.

#1321 fix: #1318 Dynamic values of Epic Dropdown
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1319 Updated Login code to alpha numberic
  apps/web/app/interfaces/IInvite.ts
  apps/web/app/interfaces/IRequestToJoin.ts
  apps/web/app/services/client/api/email-reset.ts
  apps/web/app/services/server/requests/auth.ts
  apps/web/app/services/server/requests/email-reset.ts
  apps/web/components/layout/header/request-to-join-modal.tsx
  apps/web/lib/features/team/join-team-modal.tsx
  apps/web/lib/features/unverified-email.tsx
  apps/web/lib/settings/email-reset-modal.tsx
  apps/web/pages/api/auth/login.ts
  apps/web/pages/api/auth/verify/code.ts
  apps/web/pages/auth/passcode.tsx
  apps/web/pages/team/join.tsx
Labels: WEB

#1320 Improve/changing logo to ever teams
  apps/mobile/app.json
  apps/mobile/app/components/HomeHeader.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/screens/LoginScreen/Components/LoginHeader.tsx
  apps/mobile/assets/images/app-icon-android-adaptive-foreground-ever.png
  apps/mobile/assets/images/app-icon-android-legacy-ever-teams.png
  apps/mobile/assets/images/app-icon-ios-ever-teams.png
  apps/mobile/assets/images/logo-ever-teams.png
  apps/mobile/assets/images/splash-ever-teams.png
  apps/mobile/assets/images/splash-logo-ever-teams-ios-tablet.png
  apps/mobile/assets/images/splash-logo-web-ever-teams.png
Labels: MOBILE, Improvement

#1324 Minor fixes
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/components/emoji-picker.tsx
  apps/web/lib/settings/team-setting-form.tsx
  apps/web/lib/settings/team-size-popover.tsx
Labels: bug, UI/UX, WEB

#1326 fix: #1325 Public Team Page Crash
  apps/web/app/hooks/features/usePublicOrganizationTeams.ts
  apps/web/app/services/client/api/public-organization-team.ts
  apps/web/app/services/server/requests/public-organization-team.ts
  apps/web/lib/features/task/task-input.tsx
  apps/web/pages/api/public/team/[profileLink]/[teamId].ts
  apps/web/pages/team/[teamId]/[profileLink].tsx
Labels: bug, WEB

#1330 fix: Minor issues
  apps/web/components/layout/header/request-to-join-modal.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/pages/team/[teamId]/[profileLink].tsx
Labels: bug, UI/UX, WEB

#1302 Jitsi Integration front
  apps/web/.env
  apps/web/app/constants.ts
  apps/web/app/helpers/cookies.ts
  apps/web/app/helpers/regex.ts
  apps/web/app/hooks/features/useTaskStatistics.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/client/api/jitsi-auth.ts
  apps/web/app/services/server/guards/authenticated-guard.ts
  apps/web/lib/app/authenticator.tsx
  apps/web/lib/components/loader.tsx
  apps/web/lib/features/integrations/excalidraw.tsx
  apps/web/lib/features/integrations/jitsi.tsx
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/pages/api/auth/jitsi/jwt.ts
  apps/web/pages/meet/index.tsx
  apps/web/pages/whiteboard/index.tsx
  apps/web/yarn.lock
  yarn.lock
Labels: WEB, Improvement

#1331 Added projects while creating team
  apps/web/app/interfaces/IOrganizationTeam.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/interfaces/index.ts
  apps/web/app/services/server/requests/index.ts
  apps/web/app/services/server/requests/organization-team.ts
  apps/web/app/services/server/requests/project.ts
  apps/web/pages/api/auth/register.ts
Labels: WEB

#1317 Support for Multiple Tenant Login
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/app/interfaces/IAuthentication.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/server/requests/auth.ts
  apps/web/lib/components/avatar.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/layout/auth-layout.tsx
  apps/web/pages/api/auth/signin-email-confirm.ts
  apps/web/pages/api/auth/signin-email.ts
  apps/web/pages/api/auth/signin-workspace.ts
  apps/web/pages/auth/passcode.tsx
Labels: WEB

#1338 Fix/#1336 auto login issue
  apps/web/app/helpers/cookies.ts
  apps/web/app/services/server/requests/employee.ts
  apps/web/lib/utils.ts
  apps/web/middleware.ts
Labels: bug, WEB

#1340 fix: cookie reset issue, fixed login UI
  apps/web/middleware.ts
  apps/web/pages/auth/passcode.tsx
Labels: bug, UI/UX, WEB

#1342 Toggle fixed
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/components/emoji-picker.tsx
  apps/web/lib/components/switch.tsx
  apps/web/lib/settings/team-setting-form.tsx
  apps/web/lib/settings/team-size-popover.tsx
Labels: bug, UI/UX, WEB

#1344 Fix/UI fixes
  apps/web/lib/features/languages/language-item.tsx
  apps/web/lib/features/timer/timer.tsx
  apps/web/lib/features/timezones/timezone-item.tsx
  apps/web/middleware.ts
  apps/web/pages/auth/passcode.tsx
Labels: bug, UI/UX, WEB

#1346 Fix/UI fixes
  apps/web/lib/features/team/invite/invite-form-modal.tsx
  apps/web/lib/settings/team-setting-form.tsx
Labels: UI/UX, WEB

#1351 fix: Email validation and email + code invitation accept
  apps/web/app/helpers/validations.ts
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
Labels: bug, WEB

#1333 Added Active Task sync across devices
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/services/hooks/features/useTeamTasks.ts
  apps/mobile/app/services/hooks/useOrganization.ts
  apps/mobile/app/services/interfaces/IOrganizationEmployeeTeam.ts
  apps/mobile/app/services/interfaces/IOrganizationTeam.ts
Labels: MOBILE, feature, logic

#1353 fix: #1352 Handle workspaced not found case
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/lib/i18n/en.ts
Labels: bug, WEB

#1354 fix: #1339 already member flow updated
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/components/layout/header/request-to-join-modal.tsx
Labels: bug, WEB

#1361 UI fixes
  apps/web/components/pages/task/TaskProperties.tsx
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-publicity.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/pages/task/details-section/components/profile-info.tsx
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/lib/features/task/task-linked-issue.tsx
  apps/web/lib/features/team/invite/user-invite-card.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/i18n/en.ts
  apps/web/pages/index.tsx
  apps/web/pages/profile/[memberId].tsx
  apps/web/pages/task/[id].tsx
  apps/web/styles/globals.css
Labels: bug, WEB

#1358 Feat/ Remove Invitation Mobile
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/TeamScreen/components/InviteCardItem.tsx
  apps/mobile/app/services/hooks/useTeamInvitation.ts
Labels: MOBILE, feature

#1365 fix: Organization Team Join Crash, login UI fix
  apps/web/app/helpers/img-title.ts
  apps/web/lib/settings/invitation-setting.tsx
  apps/web/pages/auth/passcode.tsx
Labels: bug, WEB

#1366 Verify Account - Mobile
  apps/mobile/app/components/HamburgerMenu.tsx
  apps/mobile/app/components/TeamDropdown/DropDown.tsx
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskFilter.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/VerifyAccount.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/index.tsx
  apps/mobile/app/screens/LoginScreen/Components/LoginHeader.tsx
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
  apps/mobile/app/screens/LoginScreen/Components/UserTenants.tsx
  apps/mobile/app/screens/LoginScreen/index.tsx
  apps/mobile/app/services/client/requests/auth.ts
  apps/mobile/app/services/hooks/features/useAuthenticationTeam.ts
  apps/mobile/app/services/hooks/features/useVerifyEmail.ts
Labels: MOBILE, Improvement

#1377 User Card options labels menu fix - Mobile
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/TeamScreen/components/InviteCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
Labels: bug, MOBILE, UI/UX

#1376 fix: Filter UI
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-item.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/lib/features/timer/timer-button.tsx
  apps/web/lib/features/timer/timer-status.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/settings/team-size-popover.tsx
  apps/web/pages/profile/[memberId].tsx
  apps/web/pages/task/[id].tsx
Labels: bug, UI/UX, WEB

#1379 fix: Auto reset of input on data refresh
  apps/web/lib/settings/task-labels-form.tsx
  apps/web/lib/settings/task-priorities-form.tsx
  apps/web/lib/settings/task-sizes-form.tsx
  apps/web/lib/settings/task-statuses-form.tsx
  apps/web/lib/settings/version-form.tsx
Labels: bug, WEB

#1382 fix: Updated label dropdown
  apps/web/lib/features/task/task-labels.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1383 fix: Unnesessary API calling on Edit
  apps/web/app/hooks/features/useTaskStatus.ts
  apps/web/lib/settings/related-issue-type-form.tsx
  apps/web/lib/settings/task-labels-form.tsx
  apps/web/lib/settings/task-priorities-form.tsx
  apps/web/lib/settings/task-sizes-form.tsx
  apps/web/lib/settings/task-statuses-form.tsx
  apps/web/lib/settings/version-form.tsx
Labels: bug, WEB

#1385 fix: Unnesessary API calling of label change
  apps/web/lib/features/task/task-labels.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1386 fix: Build issue
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1389 fix: Task Filter issue
  apps/web/lib/features/task/task-status.tsx
Labels: bug, UI/UX, WEB

#1392 Timer section label tags
  apps/mobile/app/components/CreateTeamModal.tsx
  apps/mobile/app/components/HamburgerMenu.tsx
  apps/mobile/app/components/TaskLabelPopup.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TaskLabels.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
  apps/mobile/app/services/client/api/auth/signin.ts
  apps/mobile/app/services/hooks/features/useAuthenticationTeam.ts
  apps/mobile/app/services/hooks/features/useTeamTasks.ts
Labels: bug, MOBILE

#1395 fix: Dynamic Team Color
  apps/web/lib/features/team/team-item.tsx
  apps/web/lib/settings/team-avatar.tsx
  apps/web/pages/settings/team.tsx
Labels: bug, UI/UX, WEB

#1394 Bug/task statuses not sync
  apps/mobile/app/components/AllTaskStatuses.tsx
  apps/mobile/app/components/TaskPriority.tsx
  apps/mobile/app/components/TaskSize.tsx
  apps/mobile/app/components/TaskStatus.tsx
  apps/mobile/app/components/TaskStatusPopup.tsx
  apps/mobile/app/services/client/queries/task/task-priority.ts
  apps/mobile/app/services/client/queries/task/task-sizes.ts
  apps/mobile/app/services/client/queries/task/task-status.ts
  apps/mobile/app/services/client/requests/task-priority.ts
  apps/mobile/app/services/client/requests/task-size.ts
  apps/mobile/app/services/client/requests/task-status.ts
  apps/mobile/app/services/hooks/features/useTaskLabels.ts
  apps/mobile/app/services/hooks/features/useTaskPriority.ts
  apps/mobile/app/services/hooks/features/useTaskSizes.ts
  apps/mobile/app/services/hooks/features/useTaskStatus.ts
  apps/mobile/app/services/interfaces/ITaskLabel.ts
  apps/mobile/app/services/interfaces/ITaskPriority.ts
  apps/mobile/app/services/interfaces/ITaskSize.ts
  apps/mobile/app/services/interfaces/ITaskStatus.ts
Labels: bug, MOBILE, logic

#1404 fix: #1402 Automatically Stop timer when it started on GT Web and user try to change team
  apps/web/app/interfaces/ITimer.ts
  apps/web/components/ui/toast.tsx
  apps/web/lib/features/team/team-item.tsx
  apps/web/lib/features/team/teams-dropdown.tsx
  apps/web/lib/i18n/en.ts
Labels: bug

#1407 fix: #1405 Added Status Timer in Main Avatar
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/timer/timer-status.tsx
  apps/web/lib/features/user-nav-menu.tsx
Labels: enhancement

#1410 Feat/issue types mobile
  apps/mobile/app/components/IssuesModal.tsx
  apps/mobile/app/components/TaskPriority.tsx
  apps/mobile/app/components/TaskSize.tsx
  apps/mobile/app/components/TaskStatus.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/TaskInfo.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UnassignedTaskList.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/IndividualTask.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TaskLabels.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
  apps/mobile/app/services/client/queries/task/task-issue.ts
  apps/mobile/app/services/client/requests/issue-type.ts
  apps/mobile/app/services/hooks/features/useTaskIssue.ts
  apps/mobile/app/services/interfaces/ITask.ts
  apps/mobile/app/services/interfaces/ITaskIssue.ts
Labels: MOBILE, feature

#1411 fix: Large screen main page header
  apps/web/lib/features/team/user-team-card/index.tsx
Labels: bug, UI/UX, WEB

#1413 Bug/unnecessary api calls
  apps/mobile/app/components/TaskPriorityPopup.tsx
  apps/mobile/app/components/TaskSizePopup.tsx
  apps/mobile/app/components/TaskStatusPopup.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TaskLabels.tsx
  apps/mobile/app/services/client/queries/invitation/invitations.ts
  apps/mobile/app/services/client/queries/task/task-issue.ts
  apps/mobile/app/services/client/queries/task/task-labels.ts
  apps/mobile/app/services/client/queries/task/task-priority.ts
  apps/mobile/app/services/client/queries/task/task-sizes.ts
  apps/mobile/app/services/client/queries/task/task-status.ts
  apps/mobile/app/services/client/queries/user/user.ts
Labels: bug, MOBILE

#1412 fix: Current Timer Status
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/pages/profile/[memberId].tsx
Labels: bug, WEB

#1416 fix: Disabled fields for Member users
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/components/emoji-picker.tsx
  apps/web/lib/settings/team-setting-form.tsx
  apps/web/lib/settings/team-size-popover.tsx
Labels: bug, WEB

#1417 Cross Site Cookies
  apps/web/app/helpers/cookies/helpers.ts
  apps/web/app/helpers/cookies/index.ts
  apps/web/pages/api/auth/meet/jwt.ts
  apps/web/pages/meet/index.tsx
Labels: priority::1, WEB

#1418 fix: Breadcrumb aligment issue, refactored collab UI
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/i18n/en.ts
  apps/web/pages/index.tsx
Labels: UI/UX, WEB

#1424 Restricted users to change issue if the current task's type is 'Epic'
  apps/mobile/app/components/IssuesModal.tsx
Labels: MOBILE, feature

#1422 fixed line margin issue when first element of the editor is checklist
  apps/web/components/pages/task/description-block/editor-components/CheckListElement.tsx
Labels: bug, UI/UX, WEB

#1427 Bug/email update flow mobile
  apps/mobile/app/screens/Authenticated/SettingScreen/Personal/UserAvatar.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/ConfirmEmailPopup.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/ContactInfoForm.tsx
  apps/mobile/app/services/hooks/features/useUser.ts
Labels: bug, MOBILE

#1430 fix:#1429 Member Tasks page Label filter is not working
  apps/web/lib/features/task/task-filters.tsx
Labels: bug, WEB

#1434 Imrpove/tracking disabled disabling timer in profile
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TimerButton.tsx
Labels: MOBILE, Improvement

#1437 Fixed the issue where danger zones weren't pressable
  apps/mobile/app/screens/Authenticated/SettingScreen/index.tsx
Labels: bug, MOBILE

#1446 Fix/#1444 auto login
  apps/web/lib/features/team/team-item.tsx
  apps/web/pages/auth/passcode.tsx
Labels: bug, WEB

#1447 fix: Bug Fixes
  apps/web/components/pages/task/description-block/editor-footer.tsx
  apps/web/components/pages/task/description-block/editor-toolbar.tsx
  apps/web/components/pages/task/description-block/task-description-editor.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/settings/issues-settings.tsx
  apps/web/lib/settings/task-labels-form.tsx
  apps/web/lib/settings/task-priorities-form.tsx
  apps/web/lib/settings/task-sizes-form.tsx
  apps/web/lib/settings/task-statuses-form.tsx
  apps/web/pages/task/[id].tsx
Labels: bug, WEB

#1451 fix: Epic Dropdown UI
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1452 fix: #1435 Member UI alignement fixed for Safari
  apps/web/lib/settings/member-table.tsx
  apps/web/lib/settings/table-action-popover.tsx
Labels: bug, WEB

#1454 Bug/improved timer run
  apps/mobile/app/screens/Authenticated/ProfileScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/index.tsx
  apps/mobile/app/services/client/queries/task/stats.ts
  apps/mobile/app/services/client/queries/task/tasks.ts
  apps/mobile/app/services/client/queries/user/user.ts
  apps/mobile/app/services/hooks/features/useTaskStatics.ts
Labels: bug, MOBILE

#1443 feat/#1439 Sentry Setup
  apps/web/.env
  apps/web/.env.sample
  apps/web/.gitignore
  apps/web/next.config.js
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  yarn.lock
Labels: enhancement, feature

#1455 fix: user card task time
  apps/web/lib/features/task/task-card.tsx
Labels: bug, WEB

#1457 Imrpovement/one workspace team login
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
  apps/mobile/app/services/hooks/features/useAuthenticationTeam.ts
Labels: MOBILE, Improvement

#1459 fix: #1436 Member Task Sync between multiple users
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/services/server/requests/organization-team.ts
  apps/web/lib/features/task/task-all-status-type.tsx
Labels: bug, WEB

#1461 fix: #1436 Started showing Issue Type Dropdown everytime while creating new Issue
  apps/web/lib/features/task/task-input.tsx
Labels: bug, WEB

#1463 Bug/code input improvement
  apps/mobile/app/components/CodeInput.tsx
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
  apps/mobile/app/services/client/queries/organizationTeam/organization.ts
  apps/mobile/app/services/client/queries/user/user.ts
Labels: bug, MOBILE

#1466 added functionality to make the code input's value capitalized
  apps/web/lib/components/inputs/auth-code-input.tsx
Labels: bug, MOBILE

#1470 fix: Task Number and Title alignement in Member Tasks page
  apps/web/lib/features/task/task-displays.tsx
Labels: bug, WEB

#1477 fix: #1476 Alignment resize issue on edit name
  apps/web/lib/settings/member-table.tsx
Labels: bug, UI/UX, WEB

#1472 fix: Logo UI
  apps/web/lib/components/svgs/ever-teams-logo.tsx
  apps/web/lib/layout/navbar.tsx
Labels: bug, UI/UX, WEB

#1475 fix: #1474 Radio Button UI
  apps/web/lib/i18n/en.ts
  apps/web/lib/layout/navbar.tsx
  apps/web/lib/settings/team-setting-form.tsx
Labels: bug, UI/UX, WEB

#1481 Improve/color picker mobile
  apps/mobile/app/components/ColorPickerModal.tsx
  apps/mobile/app/helpers/name-format.ts
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/components/TaskLabelForm.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/TaskPriorityForm.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/TaskSizeForm.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/TaskStatusForm.tsx
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: MOBILE, Improvement
