Repository ever-co/ever-teams, pull requests merged in 2023-12, with the labels that each got.

#1922 fix: Multiple time invitation accept with same link
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/app/hooks/features/useAuthTeamTasks.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/pages/api/auth/login.ts
Labels: bug, WEB

#1924 removed invite card options shadow in dark theme and fixed manage ass…
  apps/mobile/app/components/Task/DetailsBlock/components/ManageAssignees.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/InviteCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: bug, MOBILE, UI/UX

#1926 fix: #1925 Workspace Login when no team available
  apps/web/pages/auth/passcode.tsx
Labels: bug, WEB

#1928 fix: Logout Redirection and Auto Login for single team/workspace
  apps/web/app/constants.ts
  apps/web/pages/auth/passcode.tsx
Labels: bug, WEB

#1930 Bug/timer screen teams dropdown and estimate task
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/EstimateTime.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
Labels: bug, MOBILE, UI/UX

#1934 Fix/api improvements
  apps/web/app/hooks/features/useAuthenticateUser.ts
  apps/web/app/hooks/features/useEmployee.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/useSettings.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/employee.ts
  apps/web/app/services/client/api/issue-type.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/client/api/task-labels.ts
  apps/web/app/services/client/api/task-priorities.ts
  apps/web/app/services/client/api/task-related-issue-type.ts
  apps/web/app/services/client/api/task-status.ts
  apps/web/app/services/client/api/task-version.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/client/api/timer.ts
  apps/web/app/services/client/axios.ts
  apps/web/app/services/server/requests/issue-type.ts
  apps/web/app/services/server/requests/task-labels.ts
  apps/web/app/services/server/requests/task-priorities.ts
  apps/web/app/services/server/requests/task-related-issue-type.ts
  apps/web/app/services/server/requests/task-version.ts
  apps/web/app/services/server/requests/taskStatus.ts
  apps/web/lib/app/authenticator.tsx
  apps/web/lib/features/team/team-item.tsx
  apps/web/pages/api/issue-types/index.tsx
  apps/web/pages/api/tags/index.tsx
  apps/web/pages/api/tags/level.ts
  apps/web/pages/api/task-priorities/index.tsx
  apps/web/pages/api/task-related-issue-types/index.ts
  apps/web/pages/api/task-statuses/index.tsx
  apps/web/pages/api/task-versions/index.tsx
  apps/web/pages/api/user/me.ts
Labels: bug, WEB

#1951 fix: Minor Task Page Child Issues
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/lib/features/task/task-displays.tsx
Labels: bug, WEB

#1949 Feat/task block view for issues
  apps/web/app/stores/task-filter.ts
  apps/web/lib/components/radial-progress.tsx
  apps/web/lib/components/separator.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/index.ts
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-progress-bar.tsx
  apps/web/lib/features/task/task-times.tsx
  apps/web/lib/features/team-members-block-view.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/user-team-block/index.tsx
  apps/web/lib/features/team/user-team-block/task-info.tsx
  apps/web/lib/features/team/user-team-block/user-info.tsx
  apps/web/lib/features/team/user-team-block/user-team-block-header.tsx
  apps/web/lib/features/team/user-team-block/user-team-card-menu.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/styles/globals.css
  apps/web/tailwind.config.js
Labels: WEB, Create Task

#1956 Fix/Webapp-Port
  Layerfile
  Layerfile.build
  Layerfile.node
Labels: devops

#1957 Northflank template
  Layerfile
  Layerfile.build
  Layerfile.node
  README.md
  northflank-template.json
Labels: devops

#1960 Fix/Webapps Errors
  Layerfile
  Layerfile.build
Labels: devops

#1962 Fix/block view
  apps/web/lib/components/separator.tsx
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/task/task-times.tsx
  apps/web/lib/features/team-members-block-view.tsx
  apps/web/lib/features/team-members-table-view.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/invite/user-invite-card.tsx
  apps/web/lib/features/team/user-team-block/index.tsx
  apps/web/lib/features/team/user-team-block/task-info.tsx
  apps/web/lib/features/team/user-team-block/user-team-block-header.tsx
  apps/web/pages/index.tsx
  apps/web/tailwind.config.js
Labels: WEB

#1955 Fix/get api performance
  apps/web/app/hooks/features/useTaskStatistics.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/server/requests/timesheet.ts
Labels: bug, WEB

#1969 fix: #1968 Timer Button Enable condition
  apps/web/app/hooks/features/useTimer.ts
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/timer/timer.tsx
Labels: bug, WEB

#1974 Updated Tooltip text and added offline page
  apps/web/components/pages/main/no-team.tsx
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/public/locales/ar/common.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
  yarn.lock
Labels: bug, WEB

#1981 Fix/table show text mesage after loading skeletons in Block View of team issues
  apps/web/components/ui/data-table.tsx
  apps/web/lib/features/team-members-block-view.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/user-team-table/user-team-table-header.tsx
  apps/web/pages/index.tsx
Labels: WEB, Improvement

#1984 added device theme detect and set app's theme according to that in fi…
  apps/mobile/app/app.tsx
  apps/mobile/app/navigators/AppNavigator.tsx
Labels: MOBILE, Improvement

#1985 Improve Env Variable Retrieval
  apps/web/app/constants.ts
  apps/web/app/env.ts
  apps/web/app/helpers/cookies/helpers.ts
  apps/web/app/hooks/features/useImageAssets.ts
  apps/web/app/hooks/useCollaborative.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/employee.ts
  apps/web/app/services/client/api/invite.ts
  apps/web/app/services/client/api/languages.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/client/api/timer.ts
  apps/web/app/services/client/axios.ts
  apps/web/components/ui/services/recaptcha.tsx
  apps/web/lib/app/init-state.tsx
  apps/web/lib/components/services/recaptcha.tsx
  apps/web/lib/features/integrations/boards/export-to-backend.ts
  apps/web/lib/features/integrations/boards/firebase.ts
  apps/web/lib/features/integrations/chatwoot/index.tsx
  apps/web/lib/features/integrations/meet/index.tsx
  apps/web/lib/settings/icon-items.tsx
  apps/web/lib/settings/integration-setting.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/api/auth/meet/jwt.ts
  apps/web/pages/auth/team.tsx
Labels: WEB, Improvement

#1989 Improve/tootlips task card time titles values
  apps/web/lib/features/task/task-times.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/public/locales/ar/common.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: WEB, Improvement

#1995 Improve Env Retrieval
  apps/web/app/env.ts
  apps/web/pages/_app.tsx
Labels: WEB, Improvement

#2015 Feat/cardOrder: make cards element (of list view) draggable
  .cspell.json
  apps/mobile/app/services/client/requests/organization-team.ts
  apps/web/app/hooks/features/useOrganizatioTeamsEmployee.ts
  apps/web/app/interfaces/IOrganizationEmployeeTeam.ts
  apps/web/app/interfaces/IOrganizationTeam.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/server/requests/organization-team.ts
  apps/web/lib/features/team-members-card-view.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/pages/api/organization-team/employee/[id].ts
Labels: enhancement, WEB
