Repository ever-co/ever-teams, pull requests merged in 2023-07, with the labels that each got.

#988 Minor improvements
  apps/web/app/hooks/features/useAuthTeamTasks.ts
  apps/web/app/hooks/features/useOTRefreshInterval.ts
  apps/web/app/hooks/features/usePagination.ts
  apps/web/app/hooks/features/usePublicOrganizationTeams.ts
  apps/web/app/hooks/features/useRefreshInterval.ts
  apps/web/app/hooks/features/useTaskInput.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/components/pages/task/description-block/task-description-block.tsx
  apps/web/lib/components/auto-complete-dropdown.tsx
  apps/web/lib/components/avatar.tsx
  apps/web/lib/components/pagination.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/components/themes-popup.tsx
  apps/web/lib/features/team/invite/invite-email-dropdown.tsx
  apps/web/lib/features/team/invite/invite-email-item.tsx
  apps/web/lib/features/team/invite/invite-form-modal.tsx
  apps/web/pages/task/[id].tsx
Labels: bug, WEB, Improvement

#1003 506 task page side panel start due dates
  apps/web/app/helpers/date.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/settings/task-labels-form.tsx
  apps/web/lib/settings/task-priorities-form.tsx
  apps/web/lib/settings/task-sizes-form.tsx
  apps/web/lib/settings/task-statuses-form.tsx
  apps/web/lib/settings/version-form.tsx
  apps/web/package.json
  apps/web/pages/_app.tsx
  yarn.lock
Labels: WEB, Improvement

#1015 936 task page create new task popup task issue
  apps/web/app/helpers/date.ts
  apps/web/app/hooks/useModal.ts
  apps/web/components/pages/task/CompletionBlock.tsx
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/description-block/task-description-editor.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/features/index.ts
  apps/web/lib/features/task/task-item.tsx
  apps/web/lib/features/task/task-status-modal.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/settings/task-labels-form.tsx
  apps/web/lib/settings/task-priorities-form.tsx
  apps/web/lib/settings/task-sizes-form.tsx
  apps/web/lib/settings/task-statuses-form.tsx
  apps/web/lib/settings/version-form.tsx
  apps/web/pages/task/[id].tsx
  apps/web/styles/globals.css
Labels: WEB, Improvement

#1017 Feat/#1004 task description serialize html
  apps/web/components/pages/task/description-block/editor-components/BlockButton.tsx
  apps/web/components/pages/task/description-block/editor-components/TextEditorService.ts
  apps/web/components/pages/task/description-block/editor-footer.tsx
  apps/web/components/pages/task/description-block/editor-toolbar.tsx
  apps/web/components/pages/task/description-block/task-description-editor.tsx
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/package.json
  apps/web/tailwind.config.js
  yarn.lock
Labels: WEB, Improvement

#1019 added the functionality of copy/paste by keeping the same format
  apps/web/components/pages/task/description-block/editor-components/TextEditorService.ts
  apps/web/components/pages/task/description-block/task-description-editor.tsx
  apps/web/package.json
Labels: WEB, Improvement

#1021 521 task page linked issues block
  apps/web/app/helpers/colors.ts
  apps/web/app/helpers/cookies.ts
  apps/web/app/helpers/index.ts
  apps/web/app/hooks/features/useLinkedTasks.ts
  apps/web/app/hooks/index.ts
  apps/web/app/interfaces/hooks.ts
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/description-block/task-description-editor.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/user-profile-tasks.tsx
  apps/web/lib/settings/list-card.tsx
  apps/web/lib/settings/version-form.tsx
  apps/web/pages/task/[id].tsx
Labels: WEB, Improvement

#1024 Logo - gauzy teams to ever teams
  apps/web/lib/components/svgs/ever-teams-logo.tsx
  apps/web/lib/components/svgs/index.ts
  apps/web/lib/layout/auth-layout.tsx
  apps/web/lib/layout/navbar.tsx
Labels: WEB, Improvement

#1039 BUG | Task page, Label not working #1030
  apps/web/.vscode/settings.json
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useAuthTeamTasks.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/client/api/task-linked-issue.ts
  apps/web/app/services/server/requests/index.ts
  apps/web/app/services/server/requests/task-linked-issue.ts
  apps/web/app/services/server/requests/tasks.ts
  apps/web/app/utils/index.ts
  apps/web/app/utils/scroll-to-element.ts
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/app/init-state.tsx
  apps/web/lib/components/accordian.tsx
  apps/web/lib/components/avatar.tsx
  apps/web/lib/components/modal.tsx
  apps/web/lib/components/svgs/ever-teams-logo.tsx
  apps/web/lib/features/index.ts
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-linked-issue.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/settings/danger-zone-personal.tsx
  apps/web/lib/settings/danger-zone-team.tsx
  apps/web/lib/settings/invitation-setting.tsx
  apps/web/lib/settings/issues-settings.tsx
  apps/web/lib/settings/left-side-setting-menu.tsx
  apps/web/lib/settings/member-setting.tsx
  apps/web/middleware.ts
  apps/web/pages/api/tasks/task-linked-issue.ts
  apps/web/pages/settings/personal.tsx
  apps/web/pages/settings/team.tsx
Labels: WEB, Improvement

#1097 1059 bug not able to set due date same as start date
  apps/web/.eslintrc.json
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/ui/calendar.tsx
  apps/web/lib/app/init-state.tsx
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-linked-issue.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/user-profile-tasks.tsx
  apps/web/lib/settings/member-table-status.tsx
Labels: WEB, Improvement

#1113 Fix/UI no team
  apps/web/lib/settings/invitation-setting.tsx
  apps/web/lib/settings/member-setting.tsx
  apps/web/lib/settings/table-action-popover.tsx
  apps/web/tailwind.config.js
Labels: bug

#1122 1107 long task title is not looking good
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-publicity.tsx
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/pages/index.tsx
  apps/web/pages/profile/[memberId].tsx
  apps/web/pages/settings/personal.tsx
  apps/web/pages/settings/team.tsx
  apps/web/pages/task/[id].tsx
Labels: WEB, Improvement

#1131 Fix/#1130 dark mode cancel button
  apps/web/lib/components/button.tsx
Labels: bug

#1133 fix: Reduce size of Task Title
  apps/web/components/pages/task/title-block/task-title-block.tsx
Labels: bug

#1134 Fix/url validation
  apps/web/lib/features/task/task-item.tsx
  apps/web/lib/features/team/team-item.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/pages/profile/[memberId].tsx
Labels: bug, WEB

#1135 Fix/#1132 overlap line
  apps/web/lib/settings/page-dropdown.tsx
Labels: bug, WEB
