Repository ever-co/ever-teams, pull requests merged in 2023-08, with the labels that each got.

#1138 Fix/#1137 dropdown values
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug

#1140 Fix/app crash
  apps/web/lib/features/task/task-all-status-type.tsx
Labels: bug, WEB

#1143 Fix/minor fixes
  apps/web/components/pages/task/details-section/blocks/task-publicity.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/team/teams-dropdown.tsx
  apps/web/lib/i18n/en.ts
Labels: bug, WEB

#1144 fix: Home icon, replaces with Team icon
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/pages/index.tsx
Labels: bug, WEB

#1146 1087 task detail page handle case to automatically select version
  apps/web/app/hooks/features/useTaskVersion.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/interfaces/ITaskVersion.ts
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/settings/version-form.tsx
Labels: WEB, Improvement

#1152 Feat/parent task
  apps/web/app/interfaces/ITask.ts
  apps/web/app/services/server/requests/tasks.ts
  apps/web/components/pages/task/ParentTask.tsx
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/components/ui/DatePicker/index.tsx
  apps/web/components/ui/hover-card.tsx
  apps/web/lib/i18n/en.ts
  apps/web/package.json
  yarn.lock
Labels: bug, WEB

#1154 fix: #1151 Fixed code pasting in email input
  apps/web/lib/components/inputs/auth-code-input.tsx
  apps/web/pages/auth/passcode.tsx
Labels: bug, WEB

#1156 Fix/#1148 task type not working
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/components/pages/task/TaskProperties.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1157 Fix/removed unused code
  apps/web/package.json
  apps/web/pages/_app.tsx
  yarn.lock
Labels: WEB

#1160 Fix/#1159 timer sync
  apps/web/app/hooks/features/useTimer.ts
Labels: bug, WEB

#1162 Timer Color/Icon animation updated
  apps/web/lib/features/timer/timer.tsx
  apps/web/styles/globals.css
Labels: bug, WEB

#1163 Fix/task type dropdown enable
  apps/web/app/interfaces/ITask.ts
  apps/web/components/pages/task/ParentTask.tsx
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-issue.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/i18n/en.ts
Labels: bug, WEB

#1186 Fix/UI improvement
  apps/web/lib/components/inputs/input.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team/invite/user-invite-card.tsx
  apps/web/lib/features/team/teams-dropdown.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
  apps/web/lib/features/timer/timer-button.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/layout/navbar.tsx
  apps/web/pages/index.tsx
  apps/web/styles/globals.css
Labels: bug

#1189 Fix/UI improvement
  apps/web/lib/components/button.tsx
  apps/web/lib/components/separator.tsx
  apps/web/lib/components/sidebar-accordian.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/task/task-times.tsx
  apps/web/lib/features/team/invite/user-invite-card.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
  apps/web/lib/features/timer/timer-button.tsx
  apps/web/lib/features/timer/timer-status.tsx
  apps/web/lib/features/timer/timer.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/layout/main-header.tsx
  apps/web/lib/layout/navbar.tsx
  apps/web/lib/settings/left-side-setting-menu.tsx
  apps/web/pages/index.tsx
  apps/web/pages/profile/[memberId].tsx
  apps/web/pages/task/[id].tsx
Labels: bug

#1197 Fix/UI improvements
  apps/web/lib/components/breadcrumb.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/team/teams-dropdown.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/pages/index.tsx
  apps/web/pages/profile/[memberId].tsx
  apps/web/pages/settings/personal.tsx
  apps/web/pages/settings/team.tsx
  apps/web/pages/task/[id].tsx
Labels: bug, UI/UX, WEB

#1202 Fix/improve dropdowns
  apps/web/lib/components/dropdown.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-labels.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team/teams-dropdown.tsx
  apps/web/lib/settings/table-action-popover.tsx
  apps/web/lib/settings/team-size-popover.tsx
Labels: bug, UI/UX, WEB

#1203 Fix/Passcode Page Auth Cards Animation
  apps/web/pages/auth/passcode.tsx
Labels: WEB, Improvement

#1210 Fix/#1209 user card alignment
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/team/invite/user-invite-card.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/task-info.tsx
Labels: bug, UI/UX, WEB

#1214 Feat/Icon to remove currently selected Task(#1174)
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/layout/auth-layout.tsx
  apps/web/pages/auth/passcode.tsx
Labels: WEB, Improvement

#1218 Fix/task details sidebar UI alignments
  apps/web/components/pages/task/TaskProperties.tsx
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-progress.tsx
  apps/web/components/pages/task/details-section/blocks/task-publicity.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/pages/task/details-section/components/profile-info-with-time.tsx
  apps/web/components/pages/task/details-section/components/profile-info.tsx
  apps/web/components/pages/task/task-details-aside.tsx
  apps/web/lib/features/task/task-labels.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/pages/task/[id].tsx
  apps/web/styles/globals.css
Labels: bug, UI/UX, WEB

#1222 Fix/task details child issues
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/task/task-linked-issue.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, UI/UX, WEB

#1230 Fix/refactoring
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-progress.tsx
  apps/web/components/pages/task/details-section/components/profile-info-with-time.tsx
Labels: UI/UX, WEB

#1228 Fix/#1225 member task card
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/user-profile-tasks.tsx
  apps/web/pages/task/[id].tsx
Labels: bug, UI/UX, WEB

#1232 Fix/refactoring
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
Labels: bug, UI/UX, WEB

#1236 Fix/public page UI
  apps/web/components/layout/header/request-to-join-modal.tsx
  apps/web/lib/components/auto-complete-dropdown.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
Labels: bug, UI/UX, WEB

#1237 Fix/UI refactorin minor fixes
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/components/emoji-picker.tsx
  apps/web/lib/components/inputs/input.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team/team-item.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/settings/language-dropdown.tsx
  apps/web/lib/settings/page-dropdown.tsx
  apps/web/lib/settings/team-setting-form.tsx
  apps/web/lib/settings/team-size-popover.tsx
  apps/web/lib/settings/timezone-dropdown.tsx
  apps/web/pages/index.tsx
  apps/web/tailwind.config.js
Labels: bug, UI/UX, WEB

#1241 Minor fixes
  apps/web/components/pages/main/no-team.tsx
  apps/web/lib/features/auth-user-task-input.tsx
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/team/team-item.tsx
  apps/web/lib/features/team/teams-dropdown.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/settings/icon-items.tsx
  apps/web/pages/auth/passcode.tsx
  apps/web/pages/auth/team.tsx
Labels: bug, UI/UX, WEB

#1239 Bug/issue type x icon remove
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1244 Updated Manager icon in user card
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/components/tooltip.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/styles/globals.css
Labels: UI/UX, WEB

#1255 Fix/#1249 timer
  apps/web/app/hooks/features/useRefetchData.ts
  apps/web/app/hooks/features/useTaskPriorities.ts
  apps/web/app/hooks/features/useTaskRelatedIssueType.ts
  apps/web/app/hooks/features/useTaskSizes.ts
  apps/web/app/hooks/features/useTaskStatus.ts
  apps/web/app/hooks/features/useTaskVersion.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/hooks/index.ts
  apps/web/app/interfaces/ITimer.ts
  apps/web/lib/app/init-state.tsx
  apps/web/lib/features/timer/timer.tsx
  apps/web/lib/settings/related-issue-type-form.tsx
  apps/web/lib/settings/task-priorities-form.tsx
  apps/web/lib/settings/task-sizes-form.tsx
  apps/web/lib/settings/task-statuses-form.tsx
  apps/web/lib/settings/version-form.tsx
  apps/web/pages/api/timer/stop.ts
Labels: bug, UI/UX, WEB

#1258 fix: #1250 Resolved API failing issue
  apps/web/app/hooks/features/useTaskLabels.ts
  apps/web/app/hooks/features/useTaskPriorities.ts
  apps/web/app/hooks/features/useTaskRelatedIssueType.ts
  apps/web/app/hooks/features/useTaskSizes.ts
  apps/web/app/hooks/features/useTaskStatus.ts
  apps/web/app/hooks/features/useTaskVersion.ts
Labels: bug, WEB

#1266 fix: #1265 Edit task title, minor UI fixes
  apps/web/app/hooks/features/useTaskInput.ts
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/task-info.tsx
  apps/web/lib/settings/icon-popover.tsx
Labels: bug, UI/UX, WEB

#1268 fix:#1267 Updated Child issue popup list
  apps/web/components/pages/task/IssueCard.tsx
Labels: bug, WEB

#1272 feat: Added TEAMS source as a default source
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/interfaces/ITimer.ts
  apps/web/app/services/server/requests/timer.ts
  apps/web/lib/features/timer/timer.tsx
  apps/web/pages/api/timer/start.ts
Labels: WEB

#1270 Feat/Related Task Issue
  apps/web/app/interfaces/ITask.ts
  apps/web/app/services/server/requests/tasks.ts
  apps/web/components/pages/task/ChildIssueCard.tsx
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/lib/components/dropdown.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/i18n/en.ts
  apps/web/pages/task/[id].tsx
Labels: WEB, Improvement

#1277 User name overlap issue
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UserHeaderCard.tsx
Labels: bug, UI/UX

#1279 Bug/modals not visible when keyboard on
  apps/mobile/app/components/CreateTeamModal.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/AssignTaskSection.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/InviteUserModal.tsx
Labels: bug, MOBILE, UI/UX

#1281 Fixed the task status page error, and added format name helper
  apps/mobile/app/helpers/name-format.ts
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/PriorityItem.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/StatusItem.tsx
Labels: bug, MOBILE

#1278 Fixed Settings Screen toggle dark button
  apps/mobile/app/components/HamburgerMenu.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/SingleInfo.tsx
  apps/mobile/assets/icons/new/toggle-dark.png
  apps/mobile/assets/icons/new/toggle-light.png
Labels: bug, MOBILE, UI/UX

#1283 Current user won't have option to make himself manager
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: bug, MOBILE

#1280 Feat/Action type dropdown
  apps/web/app/interfaces/ITask.ts
  apps/web/app/services/client/api/task-linked-issue.ts
  apps/web/app/services/server/requests/task-linked-issue.ts
  apps/web/components/pages/task/IssueCard.tsx
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/lib/components/dropdown.tsx
  apps/web/lib/features/task/task-linked-issue.tsx
  apps/web/pages/api/tasks/task-linked-issue.ts
Labels: WEB

#1282 Made the team settings labels dynamic
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
Labels: bug, MOBILE, UI/UX

#1284 Stopped updating email and phone values when in edit mode
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/SettingScreen/components/ContactInfoForm.tsx
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: bug, MOBILE

#1288 Bug/email validation when changing
  apps/web/lib/components/inputs/input.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/settings/personal-setting-form.tsx
Labels: bug, WEB

#1290 Bug/task card labels capitalize
  apps/mobile/app/components/AllTaskStatuses.tsx
  apps/mobile/app/components/LabelItem.tsx
  apps/mobile/app/components/TaskPriority.tsx
  apps/mobile/app/components/TaskSize.tsx
  apps/mobile/app/components/TaskStatus.tsx
  apps/mobile/app/components/TaskStatusPopup.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/TimerScreen/components/IndividualTask.tsx
Labels: bug, MOBILE, UI/UX

#1295 Tiny Fixes
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/lib/features/task/task-input.tsx
Labels: WEB

#1294 Added the function to unassign member from the given task in Teams Section
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: MOBILE, feature

#1298 fix: User time tracking on another device
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/pages/profile/[memberId].tsx
Labels: bug, WEB

#1292 Bug/task timer cannot close task
  apps/mobile/app/components/ProfileImage.tsx
  apps/mobile/app/helpers/img-title.ts
  apps/mobile/app/screens/Authenticated/TimerScreen/components/ComboBox.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/DeletePopUp.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/IndividualTask.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
  apps/mobile/app/services/hooks/features/useAuthTeamTasks.ts
Labels: bug, MOBILE

#1306 Feat/teams screen assign task
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UnassignedTaskList.tsx
  apps/mobile/app/services/hooks/features/useTeamMemberCard.ts
Labels: MOBILE, feature

#1311 Showing Team dropdown on relevant pages only
  apps/web/components/pages/task/details-section/blocks/task-progress.tsx
  apps/web/lib/layout/navbar.tsx
Labels: bug, WEB

#1316 Added null checker to fix the error that appears when removing team
  apps/mobile/app/screens/Authenticated/SettingScreen/components/SwitchTimeTracking.tsx
Labels: bug, MOBILE
