Repository ever-co/ever-teams, pull requests merged in 2023-10, with the labels that each got.

#1483 Improve/create task labels profile section
  apps/mobile/app/components/TaskLabelPopup.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/AssignTaskSection.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TaskLabels.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
  apps/mobile/app/services/interfaces/ITask.ts
Labels: MOBILE, Improvement

#1484 fixed build error, removed unused component
  apps/mobile/app/components/TaskLabel.tsx
  apps/mobile/app/components/TaskLabels.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/AssignTaskSection.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
Labels: bug, MOBILE

#1489 updated the api url in env so both icons and production server can run
  apps/mobile/.env
  apps/mobile/app/config/config.prod.ts
Labels: MOBILE, Improvement

#1486 Improve/icons for statuses mobile
  apps/mobile/app/components/IconModal.tsx
  apps/mobile/app/helpers/generate-icon.ts
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/components/ColorDropDown.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/components/IconDropdown.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/components/LabelItem.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/components/TaskLabelForm.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/ColorDropDown.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/IconDropDown.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/PriorityItem.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/TaskPriorityForm.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/ColorDropDown.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/IconDropDown.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/SizeItem.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/TaskSizeForm.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/ColorDropDown.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/IconDropdown.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/StatusItem.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/TaskStatusForm.tsx
  apps/mobile/app/services/interfaces/IIcon.ts
Labels: MOBILE, Improvement

#1496 fix: Close Collaborate popup when user click on Meet/Board button
  apps/web/components/shared/collaborate/index.tsx
Labels: bug, WEB

#1495 Bug/timer sync mobile
  apps/mobile/app/services/client/queries/timer/timer.ts
  apps/mobile/app/services/client/requests/timer.ts
  apps/mobile/app/services/hooks/useTimer.ts
  apps/mobile/app/services/interfaces/ITimer.ts
Labels: bug, MOBILE

#1497 fix: Resolved build time warnings
  apps/web/app/hooks/auth/useEmailVerifyToken.ts
  apps/web/app/hooks/features/useAuthTeamTasks.ts
  apps/web/app/hooks/features/useEmployee.ts
  apps/web/app/hooks/features/useIssueTypes.ts
  apps/web/app/hooks/features/useLinkedTasks.ts
  apps/web/app/hooks/features/useOTRefreshInterval.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/useRefreshInterval.ts
  apps/web/app/hooks/features/useRequestToJoinTeam.ts
  apps/web/app/hooks/features/useRolePermissions.ts
  apps/web/app/hooks/features/useRoles.ts
  apps/web/app/hooks/features/useTaskLabels.ts
  apps/web/app/hooks/features/useTaskPriorities.ts
  apps/web/app/hooks/features/useTaskRelatedIssueType.ts
  apps/web/app/hooks/features/useTaskSizes.ts
  apps/web/app/hooks/features/useTaskStatistics.ts
  apps/web/app/hooks/features/useTaskStatus.ts
  apps/web/app/hooks/features/useTaskVersion.ts
  apps/web/app/hooks/features/useTeamInvitations.ts
  apps/web/app/hooks/features/useTeamMemberCard.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/hooks/features/useUser.ts
  apps/web/app/hooks/useOutsideClick.ts
  apps/web/app/hooks/useQuery.ts
  apps/web/app/services/server/requests/issue-type.ts
  apps/web/app/services/server/requests/languages.ts
  apps/web/app/services/server/requests/task-labels.ts
  apps/web/app/services/server/requests/task-priorities.ts
  apps/web/app/services/server/requests/task-related-issue-type.ts
  apps/web/app/services/server/requests/task-sizes.ts
  apps/web/app/services/server/requests/task-version.ts
  apps/web/app/services/server/requests/taskStatus.ts
Labels: bug, WEB

#1500 fixed the current user card in teams section not updating time when t…
  apps/mobile/app/screens/Authenticated/TeamScreen/components/WorkedOnTask.tsx
  apps/mobile/app/services/hooks/features/useTaskStatics.ts
Labels: bug, MOBILE

#1502 Improve/timer stop button color mobile
  apps/mobile/app/components/HeaderTimer.tsx
  apps/mobile/app/components/TimerButton.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TimerButton.tsx
  apps/web/lib/features/timer/timer-button.tsx
Labels: MOBILE, UI/UX

#1509 Bug/task cards time values visibility
  apps/mobile/app/components/WorkedDayHours.tsx
  apps/mobile/app/components/WorkedOnTask.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskTab.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/TodayWorkTime.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/WorkedOnTask.tsx
Labels: bug, MOBILE, UI/UX

#1493 feat: Added Readonly Epic
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/server/requests/tasks.ts
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/api/tasks/[id].ts
  apps/web/pages/task/[id].tsx
Labels: bug, WEB

#1510 Bug/now 24hours tab logic
  apps/mobile/app/components/WorkedDayHours.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/UserProfileTasks.tsx
Labels: bug, MOBILE, logic

#1508 Bug/teams screen cards timer state
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UserHeaderCard.tsx
Labels: bug, MOBILE, logic

#1523 fix: Task Input Dropdown text view
  apps/web/lib/features/auth-user-task-input.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1525 Bug/alignement issue timer
  apps/mobile/app/components/TimerButton.tsx
  apps/mobile/app/components/TimerCard.tsx
Labels: bug, MOBILE, UI/UX

#1526 fixed the vertical alignment of task status,label, size etc. rows in …
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/AssignTaskSection.tsx
Labels: bug, MOBILE, UI/UX

#1527 updated bottom navigator's icons
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
Labels: bug, MOBILE, UI/UX

#1528 added the functionality to when pressed on settings icon to navigate …
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/SectionTab.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/index.tsx
Labels: bug, MOBILE

#1517 Updated Active Task API on Timer start
  apps/web/app/hooks/features/useOTRefreshInterval.ts
  apps/web/app/hooks/features/useOrganizatioTeamsEmployee.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/useRefreshInterval.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/services/client/api/organization-team-employee.ts
  apps/web/app/services/server/requests/organization-team-employee.ts
  apps/web/pages/api/organization-team-employee/[id]/active-task.ts
  apps/web/pages/api/organization-team-employee/[id]/index.tsx
Labels: enhancement

#1535 Bug/timer input task label not scrollable
  apps/web/lib/features/task/task-labels.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, UI/UX, WEB

#1539 Updated the input field appearance when latest logout was in dark theme
  apps/mobile/app/components/CodeInput.tsx
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
Labels: bug, MOBILE, UI/UX

#1542 Bug/tasks filter fix
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/FilterPopup.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskLabelFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskPriorityFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskSizeFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskStatusFilter.tsx
Labels: bug, MOBILE, logic

#1544 limited the labels, sizes, priorities, statuses number of characters …
  apps/mobile/app/components/LabelItem.tsx
Labels: bug, MOBILE, UI/UX

#1549 fixed other member total/today time value colors, commented all teams…
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/WorkedOnTask.tsx
Labels: bug, MOBILE, UI/UX

#1546 Formatted names in popups
  apps/mobile/app/components/LabelIcon.tsx
  apps/mobile/app/components/PriorityIcon.tsx
  apps/mobile/app/components/SizeIcon.tsx
Labels: bug, MOBILE, UI/UX

#1552 Improve/code input paste functionality
  apps/mobile/app/components/CodeInput.tsx
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: MOBILE, Improvement

#1538 Fixed the progress bar to show value
  apps/mobile/app/components/TimerCard.tsx
Labels: bug, MOBILE, UI/UX

#1553 Improve board menu
  apps/web/lib/features/integrations/boards/AppMainMenu.tsx
  apps/web/lib/features/integrations/boards/index.tsx
Labels: WEB, Improvement

#1558 Fix/#1355 Task Status randomly not saving updated value
  apps/web/app/utils/index.ts
  apps/web/app/utils/queue.ts
  apps/web/app/utils/wait.ts
  apps/web/lib/features/task/task-labels.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: bug, WEB

#1557 Bug/labels dropdown fixed height
  apps/web/lib/features/task/task-status.tsx
Labels: bug, UI/UX, WEB

#1550 Shortcut keys implementations
  apps/web/app/hooks/index.ts
  apps/web/app/hooks/useDetectOS.ts
  apps/web/app/hooks/useHotkeys.ts
  apps/web/lib/components/keyboard-shortcuts.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/features/task/task-assign-popover.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/timer/timer.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/layout/navbar.tsx
  apps/web/package.json
  yarn.lock
Labels: enhancement, WEB

#1473 Feat/GitHub integration
  apps/web/.env
  apps/web/.env.sample
  apps/web/app/constants.ts
  apps/web/app/hooks/index.ts
  apps/web/app/hooks/integrations/useGitHubIntegration.ts
  apps/web/app/hooks/integrations/useIntegration.ts
  apps/web/app/hooks/integrations/useIntegrationTenant.ts
  apps/web/app/hooks/integrations/useIntegrationTypes.ts
  apps/web/app/interfaces/index.ts
  apps/web/app/interfaces/integrations/IGithubMetadata.ts
  apps/web/app/interfaces/integrations/IGithubRepositories.ts
  apps/web/app/interfaces/integrations/IIntegration.ts
  apps/web/app/interfaces/integrations/IIntegrationTenant.ts
  apps/web/app/interfaces/integrations/IIntegrationType.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/client/api/integrations/github.ts
  apps/web/app/services/client/api/integrations/index.ts
  apps/web/app/services/client/api/integrations/integration-tenant.ts
  apps/web/app/services/client/api/integrations/types.ts
  apps/web/app/services/server/requests/index.ts
  apps/web/app/services/server/requests/integrations/github.ts
  apps/web/app/services/server/requests/integrations/index.ts
  apps/web/app/services/server/requests/integrations/integration-tenant.ts
  apps/web/app/services/server/requests/integrations/types.ts
  apps/web/app/stores/index.ts
  apps/web/app/stores/integration-github.ts
  apps/web/app/stores/integration-tenant.ts
  apps/web/app/stores/integration-types.ts
  apps/web/app/stores/integration.ts
  apps/web/components/ui/select.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/settings/integration-setting.tsx
  apps/web/lib/settings/left-side-setting-menu.tsx
  apps/web/package.json
  apps/web/pages/api/integration-tenant/remember/state/index.ts
  apps/web/pages/api/integration/github/install.ts
  apps/web/pages/api/integration/github/metadata.ts
  apps/web/pages/api/integration/github/oauth.ts
  apps/web/pages/api/integration/github/repositories.ts
  apps/web/pages/api/integration/types/index.ts
  apps/web/pages/integration/github.tsx
  apps/web/pages/settings/team.tsx
  yarn.lock
Labels: WEB

#1564 Bug/logo removal confirmation
  apps/mobile/app/components/ConfirmationModal.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/SettingScreen/Personal/UserAvatar.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/TeamLogo.tsx
Labels: bug, MOBILE

#1560 Project-Team mapping
  apps/web/app/constants.ts
  apps/web/app/helpers/cookies/index.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/interfaces/IOrganizationTeam.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/services/server/guards/authenticated-guard.ts
  apps/web/app/services/server/requests/tasks.ts
  apps/web/pages/api/tasks/team.ts
Labels: WEB

#1568 added settings active tab icons for dark theme
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/SectionTab.tsx
Labels: bug, MOBILE, UI/UX

#1570 fixed the create label,size, status, priority bottom sheet input text…
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/components/TaskLabelForm.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/TaskPriorityForm.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/TaskSizeForm.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/TaskStatusForm.tsx
Labels: bug, MOBILE, UI/UX

#1575 Improve/web timezones improvement
  apps/web/app/helpers/date.ts
  apps/web/lib/components/dropdown.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/settings/timezone-dropdown.tsx
  apps/web/package.json
  yarn.lock
Labels: WEB, Improvement

#1577 Bug/profile avatar when no image
  apps/mobile/app/components/ProfileImage.tsx
  apps/mobile/app/helpers/img-title-profile-avatar.ts
  apps/mobile/app/screens/Authenticated/SettingScreen/Personal/UserAvatar.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/InviteCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UserHeaderCard.tsx
Labels: bug, MOBILE, UI/UX

#1572 Bug/timezones popup
  apps/mobile/app/screens/Authenticated/SettingScreen/components/TimezonePopup.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/UserTimezone.tsx
  apps/mobile/app/services/hooks/features/useSettings.ts
Labels: bug, MOBILE, UI/UX

#1584 fix: User Deactivated Case for Timer
  apps/web/lib/features/timer/timer-status.tsx
Labels: bug, WEB

#1588 fix: Updated Task Card Size
  apps/web/lib/features/team/user-team-card/index.tsx
Labels: UI/UX, WEB

#1580 Added gradient to the timer button "Start" in dark theme
  apps/mobile/app/components/HeaderTimer.tsx
  apps/mobile/app/components/TimerButton.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TimerButton.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: bug, MOBILE, UI/UX

#1587 disabled the input so users can't change active task when timer is ru…
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
Labels: MOBILE, Improvement

#1593 fix: Invite Card UI alignment
  apps/web/lib/features/team/invite/user-invite-card.tsx
Labels: bug, UI/UX, WEB

#1590 changed the event listener to be activated on normal press
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
Labels: bug, MOBILE

#1595 Improve/swap map with flatlist
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskLabelFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskPriorityFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskSizeFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskStatusFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/UserProfileTasks.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UnassignedTaskList.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/ComboBox.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/index.tsx
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
  apps/mobile/app/screens/LoginScreen/Components/UserTenants.tsx
  apps/mobile/app/screens/LoginScreen/index.tsx
Labels: MOBILE, Improvement

#1597 fixed the avatars section of combobox tasks in timer screen, to show …
  apps/mobile/app/screens/Authenticated/TimerScreen/components/IndividualTask.tsx
Labels: bug, MOBILE, UI/UX

#1601 fixed the timer screen teams dropdown non active teams positioning
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
Labels: bug, MOBILE, UI/UX

#1604 when user is scrolling no longer active task is set
  apps/mobile/app/components/HamburgerMenu.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/ComboBox.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/IndividualTask.tsx
Labels: bug, MOBILE

#1608 Bug/statues arrow down icon dark theme
  apps/mobile/app/components/TaskPriority.tsx
  apps/mobile/app/components/TaskSize.tsx
  apps/mobile/app/components/TaskSizePopup.tsx
  apps/mobile/app/components/TaskStatus.tsx
Labels: bug, MOBILE, UI/UX

#1612 border indicating task running is removed from last 24 hours section
  apps/mobile/app/components/AllTaskStatuses.tsx
  apps/mobile/app/components/TaskLabels.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/UserProfileTasks.tsx
Labels: bug, MOBILE, UI/UX

#1614 Updated README file and Project run commands
  README.md
  package.json
Labels: WEB

#1611 Improve/hamburger menu blur
  apps/mobile/app/components/HamburgerMenu.tsx
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
Labels: MOBILE, UI/UX, Improvement

#1628 Chatwoot integration
  apps/web/.env
  apps/web/lib/features/integrations/chatwoot/index.tsx
  apps/web/pages/_app.tsx
Labels: enhancement, WEB

#1625 Bug/timer status display
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/helpers/get-timer-status.ts
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UserHeaderCard.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
  apps/mobile/app/services/client/requests/organization-team.ts
  apps/mobile/app/services/hooks/useOrganization.ts
Labels: bug, MOBILE

#1630 added functionality to show message to user when trying to login wit…
  apps/mobile/app/services/client/api/auth/sendAuthCode.ts
  apps/mobile/app/services/hooks/features/useAuthenticationTeam.ts
Labels: bug, MOBILE, Login

#1634 Improve/profile avatar timer status
  apps/mobile/app/components/HamburgerMenu.tsx
  apps/mobile/app/components/ProfileImage.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/services/client/api/auth/sendAuthCode.ts
Labels: MOBILE, Improvement

#1640 One-click deployment to Vercel
  README.md
Labels: enhancement, WEB

#1642 fixed the send code color in Input Code when login, also aligned sett…
  apps/mobile/app/components/HamburgerMenu.tsx
  apps/mobile/app/components/TeamDropdown/DropDown.tsx
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
Labels: bug, MOBILE, UI/UX

#1645 showing the tasks in last 24 hours dynamically, by adding missing par…
  apps/mobile/app/screens/Authenticated/ProfileScreen/logics/useProfileScreenLogic.ts
  apps/mobile/app/services/client/requests/organization-team.ts
  apps/mobile/app/services/hooks/features/useAuthTeamTasks.ts
Labels: bug, MOBILE

#1649 Feat/GitHub sync
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/integrations/useGitHubIntegration.ts
  apps/web/app/hooks/integrations/useIntegrationTenant.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/services/client/api/integrations/github.ts
  apps/web/app/services/client/api/integrations/integration-tenant.ts
  apps/web/app/services/client/api/organization-projects.ts
  apps/web/app/services/server/requests/integrations/github.ts
  apps/web/app/services/server/requests/integrations/integration-tenant.ts
  apps/web/app/services/server/requests/organization-projects.ts
  apps/web/app/services/server/requests/organization-team.ts
  apps/web/app/services/server/requests/tasks.ts
  apps/web/app/stores/integration-tenant.ts
  apps/web/lib/settings/integration-setting.tsx
  apps/web/pages/api/integration/github/repository/sync.ts
  apps/web/pages/api/organization-projects/[id].ts
  apps/web/pages/api/organization-team/index.ts
  apps/web/pages/integration/github.tsx
Labels: WEB

#1652 Bug/active task non manager members
  apps/mobile/app/services/hooks/features/useTeamMemberCard.ts
  apps/mobile/app/services/hooks/features/useTeamTasks.ts
Labels: bug, MOBILE

#1659 fix: Github Repo selection
  apps/web/app/hooks/integrations/useGitHubIntegration.ts
  apps/web/app/services/server/requests/integrations/github.ts
  apps/web/lib/settings/integration-setting.tsx
  apps/web/pages/api/integration/github/repository/sync.ts
Labels: bug

#1657 [DevOps] Deploy to Fly.io
  .dockerignore
  Dockerfile
  apps/web/next.config.js
  apps/web/package.json
  fly.toml
  yarn.lock
Labels: WEB, devops

#1665 Bug/team settings statuses color picker
  apps/mobile/app/components/ColorPickerModal.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/components/TaskLabelForm.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/components/TaskPriorityForm.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/SizeItem.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/components/TaskSizeForm.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/TaskStatusForm.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/index.tsx
Labels: bug, MOBILE, UI/UX

#1668 fix: Verification Code Translation
  apps/web/lib/features/unverified-email.tsx
Labels: bug, UI/UX, WEB

#1670 Reset card UI
  apps/web/lib/features/team-members-card-view.tsx
  apps/web/lib/features/team-members-table-view.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/i18n/en.ts
  apps/web/pages/index.tsx
Labels: bug, UI/UX

#1674 Feat/task screen title block
  apps/mobile/app/app.tsx
  apps/mobile/app/components/ProfileImage.tsx
  apps/mobile/app/components/Task/TitleBlock/index.tsx
  apps/mobile/app/components/index.ts
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/helpers/img-title-profile-avatar.ts
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/models/task/TaskStore.ts
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
  apps/mobile/app/screens/Authenticated/TaskScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/index.ts
  apps/mobile/app/services/client/requests/tasks.ts
  apps/mobile/app/services/hooks/features/useTeamTasks.ts
  apps/mobile/app/services/interfaces/IDataResponse.ts
Labels: MOBILE, feature

#1675 Github Action - build push image
  .github/workflows/docker-build-publish.yml
Labels: devops

#1683 Feat/#1682 project team
  apps/web/app/services/server/requests/tasks.ts
  apps/web/app/stores/team-tasks.ts
  apps/web/lib/features/team-members.tsx
  apps/web/pages/api/tasks/[id].ts
  apps/web/pages/api/tasks/team.ts
Labels: enhancement

#1691 [DevOps] Build starter for Railway and integrate button to deploy
  Dockerfile
  README.md
  apps/web/next.config.js
  apps/web/package.json
  fly.toml
  yarn.lock
Labels: devops
