Repository ever-co/ever-teams, pull requests merged in 2023-11, with the labels that each got.

#1686 Improve/task title epic
  apps/mobile/app/components/IssuesModal.tsx
  apps/mobile/app/components/Task/TitleBlock/CreateParentTaskModal.tsx
  apps/mobile/app/components/Task/TitleBlock/index.tsx
  apps/mobile/app/helpers/sub-text.ts
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/TaskScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/ComboBox.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/IndividualTask.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
  apps/mobile/app/services/hooks/features/useTaskInput.ts
  apps/mobile/app/services/interfaces/ITask.ts
Labels: MOBILE, Improvement

#1700 fix: Unneccessary Loader
  apps/web/lib/features/team-members-card-view.tsx
  apps/web/lib/features/team-members.tsx
Labels: bug, WEB

#1707 [DevOps] Deploy to Netlify
  .gitignore
  README.md
  apps/web/package.json
  netlify.toml
  railway.json
  yarn.lock
Labels: devops

#1696 Feat/task description block
  apps/mobile/app/components/Accordion.tsx
  apps/mobile/app/components/IssuesModal.tsx
  apps/mobile/app/components/StatusType.tsx
  apps/mobile/app/components/Task/DetailsBlock/blocks/TaskMainInfo.tsx
  apps/mobile/app/components/Task/DetailsBlock/blocks/TaskPublicity.tsx
  apps/mobile/app/components/Task/DetailsBlock/components/CalendarModal.tsx
  apps/mobile/app/components/Task/DetailsBlock/components/ManageAssignees.tsx
  apps/mobile/app/components/Task/DetailsBlock/components/ProfileInfo.tsx
  apps/mobile/app/components/Task/DetailsBlock/components/TaskRow.tsx
  apps/mobile/app/components/Task/DetailsBlock/index.tsx
  apps/mobile/app/components/Task/TitleBlock/CreateParentTaskModal.tsx
  apps/mobile/app/components/Task/TitleBlock/index.tsx
  apps/mobile/app/components/TaskEpic.tsx
  apps/mobile/app/components/TaskEpicPopup.tsx
  apps/mobile/app/components/TaskLabels.tsx
  apps/mobile/app/components/TaskStatus.tsx
  apps/mobile/app/components/TaskVersion.tsx
  apps/mobile/app/components/TaskVersionPopup.tsx
  apps/mobile/app/components/VersionIcon.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
  apps/mobile/app/screens/Authenticated/TaskScreen/index.tsx
  apps/mobile/app/services/client/queries/task/task-version.ts
  apps/mobile/app/services/client/requests/task-version.ts
  apps/mobile/app/services/hooks/features/useTaskVersion.ts
  apps/mobile/app/services/hooks/features/useTeamTasks.ts
  apps/mobile/app/services/interfaces/ITask.ts
  apps/mobile/app/services/interfaces/ITaskVersion.ts
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: MOBILE, feature

#1712 fixed title alignment in profile section cards
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
Labels: bug, UI/UX

#1714 added team logo and name in profile screen, also fixed the issue in 1703
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ProfileHeader.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: MOBILE, Improvement

#1720 fixed the epic popup alignment
  apps/mobile/app/components/TaskEpicPopup.tsx
Labels: bug, MOBILE, UI/UX

#1721 fixed width for the issues modal, because it was causing issues o…
  apps/mobile/app/components/IssuesModal.tsx
Labels: bug, MOBILE, UI/UX

#1722 fixed the width of labels to be same as other statuses in smaller sc…
  apps/mobile/app/components/TaskLabels.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
Labels: bug, MOBILE, UI/UX

#1735 Feat/task screen estimations
  apps/mobile/app/components/Accordion.tsx
  apps/mobile/app/components/Task/EstimateBlock/components/ProfileInfoWithTime.tsx
  apps/mobile/app/components/Task/EstimateBlock/index.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/TaskScreen/index.tsx
Labels: MOBILE, feature

#1743 allowing users to navigate only when scrolling is stopped
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
Labels: bug, MOBILE

#1716 Improve/manager member role screen
  apps/mobile/app/components/ConfirmationModal.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/MembersSettingsScreen/components/ChangeRoleModal.tsx
  apps/mobile/app/screens/Authenticated/MembersSettingsScreen/components/MembersList.tsx
  apps/mobile/app/screens/Authenticated/MembersSettingsScreen/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/services/hooks/features/useTeamMemberCard.ts
  apps/mobile/yarn.lock
Labels: MOBILE, Improvement

#1739 GitHub integration fixes
  apps/web/app/hooks/integrations/useGitHubIntegration.ts
  apps/web/app/hooks/integrations/useIntegrationTenant.ts
  apps/web/app/services/client/api/integrations/integration-tenant.ts
  apps/web/app/services/server/requests/integrations/integration-tenant.ts
  apps/web/lib/settings/integration-setting.tsx
  apps/web/pages/api/integration-tenant/[id].ts
  apps/web/pages/integration/github.tsx
Labels: enhancement, WEB

#1749 Fix/GitHub installation loader
  apps/web/lib/components/loader.tsx
  apps/web/pages/integration/github.tsx
  apps/web/pages/profile/[memberId].tsx
  apps/web/pages/settings/personal.tsx
  apps/web/public/locales/ar/common.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: bug, WEB

#1754 Fix/updated GitHub integration UI
  apps/web/lib/settings/integration-setting.tsx
  apps/web/pages/settings/team.tsx
  apps/web/public/locales/ar/common.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: WEB

#1766 Fix/#1646 navigation issue
  apps/web/lib/settings/left-side-setting-menu.tsx
Labels: bug, WEB

#1767 fix: Updated Delete Github integration API
  apps/web/app/services/server/requests/integrations/integration-tenant.ts
  apps/web/pages/api/integration-tenant/[id].ts
  apps/web/public/locales/en/common.json
Labels: bug, WEB

#1773 [DevOps] Deploy to Heroku button
  Dockerfile
  Procfile
  README.md
  app.json
  heroku.yml
Labels: devops

#1775 fixed the key so re-renders description for each task
  apps/web/components/pages/task/description-block/task-description-editor.tsx
Labels: bug, WEB

#1770 Feat/task description block mobile
  apps/mobile/app/app.tsx
  apps/mobile/app/components/Accordion.tsx
  apps/mobile/app/components/Task/DescrptionBlock/index.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/TaskScreen/index.tsx
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: MOBILE, feature

#1777 Improve/task screen time block group time
  apps/mobile/app/components/Task/TimeBlock/index.tsx
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
Labels: MOBILE, Improvement

#1779 added version popup, so users can select, removed the old static comp…
  apps/mobile/app/components/TaskVersion.tsx
  apps/mobile/app/components/TaskVersionPopup.tsx
  apps/mobile/app/components/Version.tsx
  apps/mobile/app/components/VersionIcon.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/AssignTaskSection.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/services/interfaces/ITask.ts
Labels: MOBILE, Improvement, Create Task

#1782 limited height and added scroll to manage assignees
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
Labels: bug, UI/UX, WEB

#1784 created the task versions screen
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/components/TaskVersionForm.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/components/VersionItem.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/index.tsx
  apps/mobile/app/screens/index.ts
  apps/mobile/app/services/client/requests/task-version.ts
  apps/mobile/app/services/hooks/features/useTaskVersion.ts
Labels: MOBILE, feature

#1789 fixed the label button width when has no value, in timer and profile …
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/AssignTaskSection.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
Labels: bug, MOBILE, UI/UX

#1790 Improve/status value removal when selected one pressed
  apps/mobile/app/components/TaskPriority.tsx
  apps/mobile/app/components/TaskSize.tsx
  apps/mobile/app/components/TaskStatus.tsx
  apps/mobile/app/components/TaskVersion.tsx
Labels: MOBILE, Improvement

#1793 Bug/profile avatars when no image url
  apps/web/lib/components/tooltip.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/lib/features/timer/timer-status.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/pages/profile/[memberId].tsx
Labels: bug, UI/UX, WEB

#1797 added debounced search to web and mobile
  apps/mobile/app/screens/Authenticated/SettingScreen/components/TimezonePopup.tsx
  apps/web/lib/components/dropdown.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/settings/timezone-dropdown.tsx
Labels: MOBILE, WEB, Improvement

#1800 Enhance/prettier configuration in package json
  apps/extensions/package.json
  apps/mobile/android/app/src/main/res/drawable-mdpi/splashscreen_image.png
  apps/mobile/android/app/src/main/res/drawable-xhdpi/splashscreen_image.png
  apps/mobile/android/app/src/main/res/drawable-xxhdpi/splashscreen_image.png
  apps/mobile/android/app/src/main/res/drawable-xxxhdpi/splashscreen_image.png
  apps/mobile/assets/images/ever-teams-logo.png
  apps/mobile/ios/GauzyTeams/Images.xcassets/SplashScreen.imageset/image.png
  apps/mobile/package.json
  apps/web/package.json
Labels: enhancement, MOBILE, WEB

#1802 fixed the card resizing when pressing options button
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
Labels: bug, MOBILE

#1803 Added dark theme to Login/Register screen
  apps/mobile/app/components/CodeInput.tsx
  apps/mobile/app/components/TextField.tsx
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/models/AuthenticationStore.ts
  apps/mobile/app/screens/LoginScreen/Components/EmailVerificationForm.tsx
  apps/mobile/app/screens/LoginScreen/Components/FillTeamNameForm.tsx
  apps/mobile/app/screens/LoginScreen/Components/FillUserInfoForm.tsx
  apps/mobile/app/screens/LoginScreen/Components/LoginBottom.tsx
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
  apps/mobile/app/screens/LoginScreen/Components/UserTenants.tsx
  apps/mobile/app/screens/LoginScreen/index.tsx
Labels: MOBILE, Improvement

#1807 Fix/React Infinite Rendering
  apps/web/lib/settings/timezone-dropdown.tsx
Labels: WEB, Improvement

#1812 added nullish operators to fix errors
  apps/mobile/app/components/TeamDropdown/DropDown.tsx
  apps/mobile/app/components/TeamDropdown/DropDownSection.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ProfileHeader.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskFilter.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/AcceptInviteModal.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UserHeaderCard.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
Labels: bug, MOBILE

#1815 Fix/Browser terminal errors and warning
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/components/emoji-picker.tsx
  apps/web/lib/settings/page-dropdown.tsx
  apps/web/lib/settings/period-dropdown.tsx
  apps/web/lib/settings/proof-dropdown.tsx
  apps/web/lib/settings/team-size-popover.tsx
Labels: WEB

#1816 added navigation when task title pressed in profile screen
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskTitleDisplay.tsx
Labels: MOBILE, Improvement

#1817 added status bar to screens
  apps/mobile/app/screens/Authenticated/MembersSettingsScreen/index.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/index.tsx
Labels: MOBILE, Improvement

#1820 Bug/member task cards label scroll buttons
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/TaskInfo.tsx
Labels: bug, MOBILE

#1824 Bug/one side popup option open at once
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/UserProfileTasks.tsx
Labels: bug, MOBILE

#1841 aligned the navigation icons vertically in android devices
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
Labels: bug, MOBILE, UI/UX

#1845 Bug/icon rendering ios
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/InviteCardItem.tsx
Labels: bug, MOBILE, UI/UX

#1844 fixed double letter insert and paste issue for android
  apps/mobile/app/components/CodeField.tsx
  apps/mobile/app/components/CodeInput.tsx
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: bug, MOBILE, logic

#1846 Bug/expo doctor fixes
  apps/mobile/app/screens/DemoPodcastListScreen.tsx
  apps/mobile/app/screens/DemoShowroomScreen/DrawerIconButton.tsx
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: bug, MOBILE

#1839 added defaultTeamId to be saved in asyncStorage
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
  apps/mobile/app/screens/LoginScreen/Components/UserTenants.tsx
  apps/mobile/app/services/hooks/features/useAuthenticationTeam.ts
  apps/mobile/app/services/interfaces/IAuthentication.ts
Labels: MOBILE, Improvement, Login

#1850 fixed java errors with style types
  apps/mobile/app/components/Task/DetailsBlock/blocks/TaskMainInfo.tsx
  apps/mobile/app/components/TaskLabels.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/UserProfileTasks.tsx
Labels: bug, MOBILE

#1848 Improve/danger zone section
  .cspell.json
  apps/mobile/app/screens/Authenticated/SettingScreen/components/UserRemoveAccount.tsx
  apps/web/lib/settings/danger-zone-personal.tsx
  apps/web/public/assets/svg/danger-zones.svg
  apps/web/public/locales/ar/common.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: Improvement

#1853 truncated text in android and aligned with task number
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TimerTaskSection.tsx
Labels: bug, MOBILE, UI/UX

#1854 Bug/timer responsiveness
  apps/mobile/app/components/TimerButton.tsx
  apps/mobile/app/components/TimerCard.tsx
Labels: bug, MOBILE, UI/UX

#1862 Bug/replacing png with svg
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskFilter.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/QuitTeam.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/RemoveTeam.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/ChangeTeamLogo.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/ChangeUserAvatar.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/UserRemoveAccount.tsx
Labels: bug, MOBILE, UI/UX

#1863 adjusted font sizes according to the screen width, and aligned titles…
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskLabelFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskPriorityFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskSizeFilter.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/TaskTitleDisplay.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/TaskInfo.tsx
Labels: bug, MOBILE, UI/UX

#1864 Conditionally rendering options icon in team member cards
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: bug, MOBILE, UI/UX

#1847 Call Backend API based of optional NEXT_PUBLIC_GAUZY_API_SERVER_URL Variable
  apps/mobile/app/services/client/fetch.ts
  apps/web/.env
  apps/web/.env.sample
  apps/web/app/services/client/api/task-sizes.ts
  apps/web/app/services/client/axios.ts
  apps/web/app/services/server/requests/task-sizes.ts
  apps/web/pages/api/task-sizes/index.tsx
Labels: WEB

#1866 fixed code filed for iOS devices, and reduced card options dropdown h…
  apps/mobile/app/components/CodeField.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: bug, MOBILE, UI/UX

#1871 fixed profile screen card shadow for androids, also fixed estimate mo…
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/EstimateTime.tsx
Labels: bug, MOBILE, UI/UX

#1884 Koyeb Deploy Button
  README.md
Labels: devops

#1886 Enchance/update yarn lock mobile to fix expo doctor
  apps/mobile/yarn.lock
Labels: enhancement

#1895 fixed the profile/team avatar blocks to be responsive in smaller scre…
  apps/mobile/app/screens/Authenticated/SettingScreen/Personal/UserAvatar.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/TeamLogo.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/index.tsx
Labels: bug, MOBILE, UI/UX

#1901 Webapp Layerfile
  Layerfile
Labels: devops

#1904 added keyboard avoiding view, also some nullish operators to prevent …
  apps/mobile/app/components/ProfileImage.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/TransferOwnership.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/services/hooks/features/useAuthTeamTasks.ts
Labels: bug, MOBILE, UI/UX

#1905 displaying the email address to which code is sent when login
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/LoginScreen/Components/PassCode.tsx
Labels: MOBILE, Improvement

#1908 adjusted zIndex, also closing keyboard when bottom sheets are closing
  apps/mobile/app/screens/Authenticated/SettingScreen/Personal/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/UpdateFullNameForm.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/UserRemoveAccount.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/index.tsx
Labels: bug, MOBILE, UI/UX

#1910 added alternate play icon to fix production bug
  apps/mobile/app/components/svgs/icons.tsx
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ListCardItem.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/UserHeaderCard.tsx
Labels: bug, MOBILE

#1912 fixed the timer width
  apps/mobile/app/components/TimerCard.tsx
Labels: bug, MOBILE, UI/UX

#1916 added team publicity switcher, and changed the timer status code order
  apps/mobile/app/helpers/get-timer-status.ts
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/fr.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/SwitchTeamPublicity.tsx
  apps/mobile/app/screens/Authenticated/TeamScreen/components/ListCardItem.tsx
Labels: MOBILE, feature

#1918 added conditionally disabling same as web app to team danger zone
  apps/mobile/app/i18n/ar.ts
  apps/mobile/app/i18n/bg.ts
  apps/mobile/app/i18n/en.ts
  apps/mobile/app/i18n/es.ts
  apps/mobile/app/i18n/he.ts
  apps/mobile/app/i18n/ko.ts
  apps/mobile/app/i18n/ru.ts
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/SingleInfo.tsx
Labels: MOBILE, Improvement
