Repository ever-co/ever-teams, pull requests merged in 2024-11, with the labels that each got.

#3223 [Feat]: DataTableTimeSheet and SelectFilter components for improved and status management
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FrequencySelect.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/index.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/helpers/date.ts
  apps/web/components/app-sidebar.tsx
  apps/web/components/ui/data-table.tsx
  apps/web/lib/components/custom-select/multi-select.tsx
  apps/web/lib/components/types.ts
  apps/web/lib/features/integrations/calendar/confirm-change-status.tsx
  apps/web/lib/features/integrations/calendar/helper-calendar.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/time-sheet-filter-popover.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: feature, WEB, Ever Teams

#3225 [Feat]: Add Multilingual Support for Timesheet Component
  apps/web/app/[locale]/timesheet/[memberId]/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FrequencySelect.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/helpers/date.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Improvement, Ever Teams, Timesheets

#3230 [Feat]: Add dark Mode Support to timesheet component
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FrequencySelect.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/api/timer/timesheet/daily/route.ts
  apps/web/app/interfaces/index.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/interfaces/timer/index.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/components/shared/tasks/assigned-tasks.tsx
  apps/web/components/shared/tasks/task-input.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: feature, WEB, Ever Teams

#3234 3108 feature/ task list view all tasks in a team
  .vscode/settings.json
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/[locale]/permissions/component.tsx
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/[locale]/team/tasks/page.tsx
  apps/web/app/hooks/features/useAuthTeamTasks.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/layout.tsx
  apps/web/app/stores/menu.ts
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-main.tsx
  apps/web/components/pages/task/description-block/task-description-editor.tsx
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/pages/team/tasks/AssigneeUser.tsx
  apps/web/components/pages/team/tasks/DropdownMenuTask.tsx
  apps/web/components/pages/team/tasks/FilterButton.tsx
  apps/web/components/pages/team/tasks/StatusBadge.tsx
  apps/web/components/pages/team/tasks/TaskTable.tsx
  apps/web/components/pages/team/tasks/columns.tsx
  apps/web/components/pages/team/tasks/tasks-data-table.tsx
  apps/web/components/ui/sidebar.tsx
  apps/web/components/ui/table.tsx
  apps/web/lib/components/combobox/index.tsx
  apps/web/lib/components/pagination.tsx
  apps/web/lib/components/svgs/app-logo.tsx
  apps/web/lib/components/time-picker/index.tsx
  apps/web/lib/features/activity/components/screenshot-details.tsx
  apps/web/lib/features/integrations/calendar/calendar-component.tsx
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/outstanding-all.tsx
  apps/web/lib/features/task/daily-plan/outstanding-date.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/locales/en.json
  apps/web/package.json
  apps/web/public/assets/user-teams.png
  yarn.lock
Labels: Improvement, Ever Teams, Bug fix

#3233 [Feat]: Create RejectSelectedModal Component
  apps/web/app/[locale]/timesheet/[memberId]/components/RejectSelectedModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/index.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
Labels: feature, WEB, Ever Teams

#3238 [Feat]:Implement EditTaskModal component with enhanced task editing UI
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/index.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/multiple-select/index.tsx
Labels: feature, WEB, Ever Teams

#3244 we should not plan the same task twice
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/utils/remove-duplicate-item.ts
  apps/web/components/ui/dropdown-menu.tsx
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
Labels: WEB, Ever Teams, Bug fix

#3254 [Feat]: Implement Timesheet logs API integration with State management and query handling
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/api/timer/timesheet/daily/route.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
Labels: feature, WEB, Ever Teams

#3265 [Feat]: Added Translations For The UI In Multiple Languages
  apps/web/app/[locale]/permissions/component.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/RejectSelectedModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3266 Feat: Add grouped display for timesheet data by date
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: bug, feature, WEB, Ever Teams

#3305 [Feat]: Timesheet Filter Calendar
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/lib/components/custom-select/multi-select.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/task/task-issue.tsx
Labels: feature, WEB, Ever Teams

#3224 fix: update Team Member Role
  apps/web/lib/settings/member-table.tsx
Labels: WEB, Ever Teams, Bug fix

#3322 change position of 'Delete this plan' button
  apps/web/lib/features/user-profile-plans.tsx
Labels: WEB, Ever Teams, Bug fix

#3323 Fix: Double Scrollbars and Overflow when extending the Sidebar
  apps/web/lib/layout/main-layout.tsx
Labels: Ever Teams, Bug fix

#3325 Fix colours for sidebar links in dark mode
  apps/web/components/nav-main.tsx
  apps/web/components/pages/team/tasks/tasks-data-table.tsx
Labels: UI/UX, Bug fix

#3326 (apps/web)[fix]: Task Labels UI on Task Component
  apps/web/lib/features/auth-user-task-input.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: Create Task, Ever Teams, Bug fix

#3327 [WEB] update utilities packages
  apps/web/package.json
  yarn.lock
Labels: WEB, dependencies, Ever Teams

#3328 Fix [User Team Card] size and user team cart activity
  apps/web/lib/features/team/user-team-card/user-team-card-activity.tsx
Labels: UI/UX, Ever Teams, Bug fix

#3329 preserve input values on invite member form
  apps/web/lib/components/auto-complete-dropdown.tsx
  apps/web/lib/features/team/invite/invite-email-dropdown.tsx
Labels: WEB, Ever Teams, Bug fix

#3333 [Feat]: Add Timelog FilterOptions
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/hooks/index.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/stores/index.ts
  apps/web/app/stores/time-logs.ts
  apps/web/lib/components/custom-select/multi-select.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/task/task-block-card.tsx
  apps/web/lib/features/task/task-issue.tsx
Labels: feature, WEB, Ever Teams

#3334 [Feat]: Update DynamicSelect component and localization Files
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/lib/components/custom-select/select-items.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3337 improve arrow navigation on 'see plans' modal
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
Labels: WEB, Ever Teams, Bug fix

#3338 [Feat]: Add Delete Task Timesheet function
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/api/timer/timesheet/bulk-delete/route.ts
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
  apps/web/components/ui/alert-dialog.tsx
  apps/web/components/ui/button.tsx
  apps/web/lib/components/alert-dialog-confirmation.tsx
  apps/web/lib/components/index.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/package.json
  yarn.lock
Labels: bug, feature, WEB, Ever Teams

#3342 [Feat]: Display Timesheet Data and Refactor Code
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
  apps/web/lib/components/types.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-issue.tsx
Labels: feature, WEB, Ever Teams

#3335 feat: add table view for daily plan tasks
  apps/web/components/ui/data-table.tsx
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/daily-plan/table-view/cells/task-action-menu-cell.tsx
  apps/web/lib/features/task/daily-plan/table-view/cells/task-estimation-cell.tsx
  apps/web/lib/features/task/daily-plan/table-view/cells/task-info-cell.tsx
  apps/web/lib/features/task/daily-plan/table-view/cells/task-times-cell.tsx
  apps/web/lib/features/task/daily-plan/table-view/index.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/team-members-table-view.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: feature, WEB, Ever Teams

#3353 [Improvement] Create task and assign another team member
  .vscode/settings.json
  apps/web/app/hooks/features/useTaskInput.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/components/pages/kanban/menu-kanban-card.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/task/task-input.tsx
Labels: feature, WEB, Ever Teams

#3357 [Feature] Add project information in task card
  apps/web/lib/features/task/task-all-status-type.tsx
Labels: feature, WEB, Ever Teams

#3352 [Feat]: Timesheet-Duration-Display
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/task/task-displays.tsx
Labels: feature, WEB, Ever Teams

#3361 [Web] Refactor/sidebar
  .cspell.json
  apps/web/.env
  apps/web/.env.sample
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/api/subscribe/route.ts
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-main.tsx
  apps/web/components/nav-projects.tsx
  apps/web/components/nav-secondary.tsx
  apps/web/components/pages/all-teams/header-tabs.tsx
  apps/web/components/pages/main/header-tabs.tsx
  apps/web/components/pages/task/description-block/editor-components/LinkElement.tsx
  apps/web/components/sidebar-opt-in-form.tsx
  apps/web/components/ui/card.tsx
  apps/web/components/ui/form.tsx
  apps/web/components/ui/label.tsx
  apps/web/components/ui/sidebar.tsx
  apps/web/components/workspace-switcher.tsx
  apps/web/lib/features/task/daily-plan/views-header-tabs.tsx
  apps/web/lib/features/task/task-input-kanban.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/styles/globals.css
  apps/web/tailwind.config.js
  yarn.lock
Labels: enhancement, UI/UX, WEB, Improvement, Ever Teams

#3362 Fix Build Error
  Dockerfile
  apps/web/app/hooks/features/useOrganizationTeams.ts
Labels: Ever Teams, Bug fix

#3358 [Feat]: Improve Modal For Updating Tasks and Filter
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/stores/time-logs.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/manual-time/manage-member-component.tsx
  apps/web/lib/features/multiple-select/index.tsx
Labels: feature, WEB, Ever Teams

#3359 [Feat]: Add Component for Timesheet Creation and Optimize Task Button
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FrequencySelect.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/stores/time-logs.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: feature, WEB, Ever Teams

#3365 [Feat]: Add time Entry Modal and Update Timesheet Status based on API response
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/api/timer/timesheet/status/route.ts
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/hooks/useScrollListener.ts
  apps/web/app/interfaces/IDailyPlan.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
  apps/web/components/ui/accordion.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/manual-time/manage-member-component.tsx
Labels: feature, WEB, Ever Teams

#3367 [Feat]: Add sortable headers to Timesheet component with dynamic sorting
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetLoader.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/index.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: bug, feature, WEB, Ever Teams

#3371 (apps-web)[fix]: Center Dashboard Data on Toggle FullWidth Mode
  apps/web/app/[locale]/page-component.tsx
Labels: WEB, Ever Teams, Bug fix

#3374 (apps/web)[Fix]: Assignees and Project Dropdown on TaskInput
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/features/task/task-input.tsx
Labels: WEB, Ever Teams, Bug fix

#3375 [Refactor]: Optimize DeleteTimesheet and UpdateTimesheetStatus
  apps/web/app/api/timer/timesheet/time-log/[id]/route.ts
  apps/web/app/api/timer/timesheet/time-log/route.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: Don't Merge

#3360 [Feature] Create new project from the project dropdown
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/services/client/api/projects.ts
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/ui/svgs/project-icon.tsx
  apps/web/lib/features/project/create-project-modal.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3197 remove the dailyPlanHour popup from the soft flow
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/components/shared/timer/timer-card.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/timer/timer.tsx
Labels: WEB, Improvement, Ever Teams

#3384 [Fix]: Handle Timesheet Update
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/lib/components/combobox/index.tsx
  apps/web/lib/features/manual-time/manage-member-component.tsx
Labels: WEB, Ever Teams, Bug fix
