Repository ever-co/ever-teams, pull requests merged in 2024-12, with the labels that each got.

#3376 [Feature] Add Weekly/Daily time limits report view
  apps/web/app/[locale]/reports/weekly-limit/components/data-table.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/date-range-select.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/export-mode-select.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/group-by-select.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/members-select.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/time-report-table.tsx
  apps/web/app/[locale]/reports/weekly-limit/page.tsx
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useTimeLimits.ts
  apps/web/app/interfaces/IOrganization.ts
  apps/web/app/interfaces/ITimeLimits.ts
  apps/web/app/services/client/api/activity/time-limits.ts
  apps/web/app/services/server/requests/organization.ts
  apps/web/app/stores/time-limits.ts
  apps/web/components/app-sidebar.tsx
  apps/web/lib/settings/page-dropdown.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3392 [Feature] Add time limits report filters
  apps/web/app/[locale]/reports/weekly-limit/components/data-table.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/group-by-select.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/time-report-table.tsx
  apps/web/app/[locale]/reports/weekly-limit/page.tsx
  apps/web/app/hooks/features/usePagination.ts
  apps/web/app/interfaces/ITimeLimits.ts
Labels: feature, WEB, Ever Teams

#3396 fix: Screenshot Details Card show twice
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/lib/features/activity/components/screenshot-details.tsx
  apps/web/lib/features/activity/components/screenshot-item.tsx
Labels: WEB, Ever Teams, Bug fix

#3400 [Fix bug] Header scroll and card items in the table view | All teams page
  apps/web/app/[locale]/all-teams/component.tsx
  apps/web/lib/features/all-teams/users-teams-card/user-card.tsx
Labels: WEB, Ever Teams, Bug fix

#3401 [Fix bug] Task detail page crashes
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
Labels: WEB, Ever Teams, Bug fix

#3402 [Feat]: Added Bulk Deletion Functionality For Time Entries
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/lib/components/alert-dialog-confirmation.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: WEB, Ever Teams, Bug fix

#3403 [Feat]: Manage Permissions and Improve Time entries view
  apps/web/app/[locale]/kanban/page.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/team-members-kanban-view.tsx
  apps/web/lib/settings/member-table.tsx
Labels: feature, Improvement, Ever Teams, Timesheets, Bug fix

#3413 [Fix]: Update Timesheet Functionality and Load All Projects
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CompactTimesheetComponent.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/lib/components/Kanban.tsx
Labels: feature, Improvement, Ever Teams, Bug fix

#3417 [Feat]: Add Timesheet Creation Functionality
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CompactTimesheetComponent.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/components/ui/sidebar.tsx
  apps/web/lib/features/multiple-select/index.tsx
Labels: feature, WEB, Ever Teams

#3426 [Feat]: Improve AddManuel with form handling and error check
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/helpers/date.ts
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/multiple-select/index.tsx
Labels: feature, WEB, Improvement, Timesheets, Bug fix

#3460 [Feat]: Add Icons For Member work men hours pending task
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CompactTimesheetComponent.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/MonthlyTimesheetCalendar.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimeSheetFilterPopover.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetAction.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetDetailModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetIcons.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/WeeklyTimesheetCalendar.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/index.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/helpers/array-data.ts
  apps/web/app/helpers/date.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/task/task-displays.tsx
Labels: feature, WEB, Ever Teams, Timesheets, Bug fix

#3469 [Fix] Dark colors | 'groupBy' report limits dropdown
  apps/web/app/[locale]/reports/weekly-limit/components/group-by-select.tsx
Labels: WEB, Ever Teams, Bug fix

#3481 [Fix bug] Daily Plan | Same tasks are shown for different users
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/outstanding-all.tsx
  apps/web/lib/features/task/daily-plan/outstanding-date.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/daily-plan/task-estimated-count.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/lib/features/user-profile-tasks.tsx
Labels: WEB, Ever Teams, Bug fix

#3480 [Feat]: Timesheet Improvements
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetDetailModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/helpers/date.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/multiple-select/index.tsx
Labels: feature, WEB, Ever Teams, Bug fix

#3485 [Feat]: Timesheet-Pagination-Hook-and-Component
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetIcons.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetPagination.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimesheetPagination.ts
  apps/web/components/ui/pagination.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: feature, WEB, Ever Teams, Bug fix

#3488 [Feat]: Add Selection/Deselection Functionality based on ID
  apps/web/app/[locale]/timesheet/[memberId]/components/RejectSelectedModal.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: feature, WEB, Ever Teams, Bug fix

#3489 [Feat]: Update Offline Screen for Network Interruption
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/interfaces/hooks.ts
  apps/web/components/pages/offline/index.tsx
  apps/web/lib/features/timer/timer.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams
