Repository ever-co/ever-teams, pull requests merged in 2024-10, with the labels that each got.

#3087 feat: user can add tasks for today / tomorrow plan from 'See plan' modal
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
  apps/web/lib/features/team/user-team-card/task-skeleton.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#3082 3007 improvement see plan add ability to createedit plan
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
  apps/web/lib/features/team/user-team-card/task-skeleton.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#3065 refactor: display notifications one time per day
  apps/web/app/constants.ts
  apps/web/lib/features/team/team-outstanding-notifications.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: bug, WEB, Ever Teams

#3097 3061 improvement see plan past plans view
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#3103 fix dropdowns in 'See plan' modal
  apps/web/lib/components/modal.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
Labels: WEB, Improvement, Ever Teams

#3110 user is able to double-click on specific dates and see a Plan
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
Labels: WEB, Improvement, Ever Teams

#3112 [Fix] Settings | Icon direction when sections are collapsed / expended
  apps/web/lib/components/accordian.tsx
Labels: WEB, Improvement, Ever Teams

#3118 feat: improve the warnings order in the Daily plan modal
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: WEB, Improvement, Ever Teams

#3119 2970 improvement planned total estimate logic
  apps/web/app/helpers/date.ts
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: WEB, Improvement, Ever Teams

#3123 3086 improvement see plan add arrows back forward
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
Labels: WEB, daily plan

#3135 fix: show live time for task on which the user is working
  apps/web/lib/components/kanban-card.tsx
Labels: bug, WEB, Ever Teams

#3138 change 'require plan to track' to 'enforce plan'
  apps/web/app/[locale]/settings/team/page.tsx
  apps/web/lib/settings/team-setting-form.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams

#3109 set the tab to outstanding if there are outstanding tasks next day
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: bug, WEB, Ever Teams

#3136 feat: add actions on kanban | task action menu
  apps/web/components/pages/kanban/menu-kanban-card.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: bug, WEB, Ever Teams

#3139 add enforce plan flow
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/components/shared/timer/timer-card.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/enforce-planed-task-modal.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/timer/timer.tsx
Labels: feature, WEB, Ever Teams

#3147 [fix](settings): section should not change position if the user collapse it
  apps/web/lib/components/accordian.tsx
Labels: Bug fix

#3148 fixbug: fix suggest daily plan modal
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/suggest-daily-plan-modal.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: WEB, Ever Teams, Bug fix

#3146 [Fix] Public link URL does not work
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/[locale]/team/[teamId]/[profileLink]/page.tsx
  apps/web/app/hooks/features/usePublicOrganizationTeams.ts
  apps/web/app/hooks/features/useTaskStatistics.ts
  apps/web/app/services/client/axios.ts
  apps/web/lib/features/team-members-card-view.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/middleware.ts
Labels: bug, WEB

#3161 3155 bug settings enforce plans how it should work
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/lib/components/modal.tsx
  apps/web/lib/components/switch.tsx
  apps/web/lib/features/daily-plan/add-daily-plan-work-hours-modal.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/suggest-daily-plan-modal.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, WEB, Ever Teams

#3169 improvement: Today plan | warnings, if no tasks -> 'Please, add tasks'
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#3167 [Fix](Web): load team members cards on home page
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams, Bug fix

#3159 refactor: the timer should not start when the user ignores the 'Todayplan' popup
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/lib/components/modal.tsx
  apps/web/lib/components/switch.tsx
  apps/web/lib/features/daily-plan/add-daily-plan-work-hours-modal.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/suggest-daily-plan-modal.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams, Bug fix

#3189 3102 feature/implement responsive vertical sidebar with expand/collapse
  .cspell.json
  apps/web/app/[locale]/page-component.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-main.tsx
  apps/web/components/nav-projects.tsx
  apps/web/components/nav-secondary.tsx
  apps/web/components/nav-user.tsx
  apps/web/components/team-switcher.tsx
  apps/web/components/ui/breadcrumb.tsx
  apps/web/components/ui/collapsible.tsx
  apps/web/components/ui/dialog.tsx
  apps/web/components/ui/global-skeleton.tsx
  apps/web/components/ui/separator.tsx
  apps/web/components/ui/sheet.tsx
  apps/web/components/ui/sidebar.tsx
  apps/web/components/ui/skeleton.tsx
  apps/web/components/ui/tooltip.tsx
  apps/web/lib/components/svgs/ever-teams-logo.tsx
  apps/web/lib/components/svgs/index.ts
  apps/web/lib/components/svgs/symbol-app-logo.tsx
  apps/web/lib/config/constants.tsx
  apps/web/lib/hooks/use-mobile.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/lib/layout/navbar.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/styles/globals.css
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  yarn.lock
Labels: Improvement

#3199 3104-3105-3106-3107 feature/vertical sidebar, projects, favorites and role based navigation in sidebar
  .cspell.json
  .vscode/settings.json
  apps/web/app/hooks/features/useActiveTeam.ts
  apps/web/app/hooks/features/useFavoritesTask.ts
  apps/web/app/hooks/features/useOrganizationTeamManagers.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/hooks/useQuery.ts
  apps/web/app/stores/team-tasks.ts
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-main.tsx
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/lib/config/constants.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-issue.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/layout/MainSidebarTrigger.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/lib/layout/navbar.tsx
  apps/web/lib/utils.ts
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, Improvement, Ever Teams

#3198 refactor: user should be able to plan tasks for Dates with Planned
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#3153 Feat(app/web): Team Settings | Edit User Role
  apps/web/app/interfaces/IUserData.ts
  apps/web/lib/features/roles/role-item.tsx
  apps/web/lib/settings/edit-role-dropdown.tsx
  apps/web/lib/settings/member-table.tsx
  apps/web/lib/settings/table-action-popover.tsx
Labels: WEB, Don't Merge, Ever Teams

#3181 show notifications acordingly to selected team
  apps/web/lib/features/team/team-outstanding-notifications.tsx
Labels: WEB, Ever Teams, Bug fix

#3203 [Fix]: Timesheet-UI
  apps/web/app/[locale]/timesheet/components/FrequencySelect.tsx
  apps/web/app/[locale]/timesheet/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/page.tsx
  apps/web/components/ui/dropdown-menu.tsx
  apps/web/lib/features/integrations/calendar/confirm-change-status.tsx
Labels: WEB, Bug fix

#3208 Feat: Implement Timesheet Filter Component With Status, Date Filters
  apps/web/app/[locale]/calendar/component.tsx
  apps/web/app/[locale]/timesheet/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/components/FrequencySelect.tsx
  apps/web/app/[locale]/timesheet/components/TimesheetCard.tsx
  apps/web/app/[locale]/timesheet/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/components/time-sheet-filter-popover.tsx
  apps/web/app/[locale]/timesheet/page.tsx
  apps/web/lib/features/integrations/calendar/setup-full-calendar.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: feature, WEB

#3213 [Feat]: Implement dynamic date range picker for timesheet filtering
  apps/web/app/[locale]/timesheet/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/components/TimesheetFilterDate.tsx
  apps/web/app/[locale]/timesheet/components/index.tsx
Labels: feature, WEB
