Repository ever-co/ever-teams, pull requests merged in 2024-07, with the labels that each got.

#2683 Fix task time tracking issues
  apps/web/app/hooks/features/useTimer.ts
Labels: priority::1, WEB, Ever Teams

#2685 Fix/login with one team workspace
  apps/web/app/[locale]/auth/passcode/component.tsx
  apps/web/app/[locale]/auth/password/component.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams

#2686 Pre-select the most recent Workspace & Team
  apps/web/app/[locale]/auth/passcode/component.tsx
  apps/web/app/[locale]/auth/password/component.tsx
  apps/web/app/[locale]/auth/workspace/component.tsx
  apps/web/app/constants.ts
Labels: WEB, Ever Teams

#2687 [fix]: Tab 'Outstanding' should have
  apps/web/app/hooks/features/useTaskStatistics.ts
  apps/web/components/ui/select.tsx
  apps/web/lib/components/dropdown.tsx
  apps/web/lib/features/task/daily-plan/index.ts
  apps/web/lib/features/task/daily-plan/outstanding-all.tsx
  apps/web/lib/features/task/daily-plan/outstanding-date.tsx
  apps/web/lib/features/task/daily-plan/outstanding.tsx
  apps/web/lib/features/task/daily-plan/task-estimated-count.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/package.json
  yarn.lock
Labels: WEB, Ever Teams

#2659 Manager notification for outstanding users tasks
  apps/web/app/services/client/api/daily-plan.ts
  apps/web/lib/features/team/team-outstanding-notifications.tsx
Labels: WEB, Ever Teams

#2709 Hidden tabs and filters on profile page
  apps/web/app/[locale]/profile/[memberId]/page.tsx
Labels: WEB, Ever Teams

#2699 [Feature] All Teams management
  apps/web/app/[locale]/all-teams/component.tsx
  apps/web/app/[locale]/all-teams/page.tsx
  apps/web/app/helpers/plan-day-badge.ts
  apps/web/app/hooks/features/useOrganizationTeamManagers.ts
  apps/web/app/interfaces/IOrganizationTeam.ts
  apps/web/app/stores/all-teams.ts
  apps/web/app/stores/header-tabs.ts
  apps/web/components/pages/all-teams/header-tabs.tsx
  apps/web/lib/features/all-teams-members-block-view.tsx
  apps/web/lib/features/all-teams-members-card-view.tsx
  apps/web/lib/features/all-teams-members.tsx
  apps/web/lib/features/all-teams/all-team-members-filter.tsx
  apps/web/lib/features/all-teams/users-teams-block/member-block.tsx
  apps/web/lib/features/all-teams/users-teams-block/user-info.tsx
  apps/web/lib/features/all-teams/users-teams-block/user-team-active-task-times.tsx
  apps/web/lib/features/all-teams/users-teams-block/user-team-active-task.tsx
  apps/web/lib/features/all-teams/users-teams-block/user-team-task-estimate.tsx
  apps/web/lib/features/all-teams/users-teams-block/user-team-today-worked.tsx
  apps/web/lib/features/all-teams/users-teams-card/member-infos.tsx
  apps/web/lib/features/all-teams/users-teams-card/user-card.tsx
  apps/web/lib/features/all-teams/users-teams-card/user-team-active-task-times.tsx
  apps/web/lib/features/all-teams/users-teams-card/user-team-active-task.tsx
  apps/web/lib/features/all-teams/users-teams-card/user-team-task-estimate.tsx
  apps/web/lib/features/all-teams/users-teams-card/user-team-today-worked.tsx
  apps/web/lib/features/team/team-item.tsx
  apps/web/lib/features/team/team-outstanding-notifications.tsx
  apps/web/lib/features/team/teams-dropdown.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams

#2700 [Feat] Daily plan | delete
  apps/web/lib/components/alert-popup.tsx
  apps/web/lib/components/index.ts
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/outstanding-date.tsx
  apps/web/lib/features/task/daily-plan/outstanding.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/lib/features/user-profile-tasks.tsx
Labels: WEB, Improvement, Ever Teams

#2718 [Improvement] How to add task to 'Daily Plan'
  apps/web/lib/features/task/task-card.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#2721 [Feature] 'Plan's' views UI
  apps/web/app/stores/header-tabs.ts
  apps/web/lib/components/image-overlapper.tsx
  apps/web/lib/components/kanban-card.tsx
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/outstanding-all.tsx
  apps/web/lib/features/task/daily-plan/outstanding-date.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/daily-plan/task-estimated-count.tsx
  apps/web/lib/features/task/daily-plan/views-header-tabs.tsx
  apps/web/lib/features/task/task-block-card.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: UI/UX, WEB, Ever Teams

#2736 [Fix] Magic link and Passcode sign-in issue
  apps/web/app/[locale]/auth/passcode/component.tsx
  apps/web/app/services/client/api/auth/invite-accept.ts
Labels: bug, priority::1, WEB, Ever Teams

#2737 [Fix] Daily plan creation popup, filters and sort
  apps/web/app/services/client/api/daily-plan.ts
  apps/web/app/services/server/requests/daily-plan.ts
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
  apps/web/lib/features/task/daily-plan/outstanding-all.tsx
  apps/web/lib/features/task/task-block-card.tsx
  apps/web/lib/features/task/task-card.tsx
Labels: WEB, Improvement, Ever Teams

#2744 [Fix] 'Daily Plan' | Member should see which tasks are planned
  apps/web/app/helpers/plan-day-badge.ts
  apps/web/lib/components/kanban-card.tsx
  apps/web/lib/features/all-teams/users-teams-card/user-team-active-task.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-block-card.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/team/user-team-block/task-info.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/task-info.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: WEB, Ever Teams

#2738 [Task] Daily Plan | add 'Remove from all plans' option to Action menu
  apps/web/app/api/daily-plan/[id]/remove/route.ts
  apps/web/app/api/daily-plan/[id]/route.ts
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/interfaces/IDailyPlan.ts
  apps/web/app/services/client/api/daily-plan.ts
  apps/web/app/services/server/requests/daily-plan.ts
  apps/web/app/stores/daily-plan.ts
  apps/web/lib/components/modal.tsx
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: WEB, Ever Teams

#2745 [Fix] Profile | tab 'Assigned' values in Action menu
  apps/web/app/hooks/features/useTimer.ts
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
  apps/web/lib/features/task/task-card.tsx
Labels: WEB, Ever Teams

#2743 [Task] Daily Plan | Drag and Drop
  apps/extensions/components/popup/Timer.tsx
  apps/web/app/helpers/drag-and-drop.ts
  apps/web/app/helpers/index.ts
  apps/web/app/interfaces/IDailyPlan.ts
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/outstanding-all.tsx
  apps/web/lib/features/task/daily-plan/outstanding-date.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/team-members-kanban-view.tsx
  apps/web/lib/features/team-members-table-view.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: feature, WEB, Don't Merge, Ever Teams

#2748 [Task]: Daily Plan | tab Future tasks
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: WEB, Ever Teams

#2752 fix: auto show error after login
  apps/web/lib/components/inputs/auth-code-input.tsx
Labels: bug

#2753 [Bug] Register | Tenant SMTP blocks new users to register (development environment)
  apps/web/app/api/auth/register/route.ts
Labels: bug, WEB, Ever Teams

#2759 fix: remove unecessary paddings / margings on home and team page
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/lib/layout/main-layout.tsx
Labels: enhancement

#2774 [Feat] Daily plan | Compare estimated UI Only
  apps/web/app/[locale]/page-component.tsx
  apps/web/lib/components/sidebar-accordian.tsx
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/daily-plan/index.ts
  apps/web/lib/features/user-profile-plans.tsx
Labels: WEB, Ever Teams

#2778 [Feat]: Daily Plan Compare Estimated LOGIC
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/constants.ts
  apps/web/app/helpers/daily-plan-estimated.ts
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
Labels: WEB, Ever Teams

#2781 Added a customizable PopoverTimepicker
  .cspell.json
  .vscode/settings.json
  apps/web/components/ui/scroll-area.tsx
  apps/web/lib/components/index.ts
  apps/web/lib/components/time-picker/index.tsx
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
Labels: WEB, Ever Teams

#2769 [Fix] User can NOT start tracking time
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/components/shared/timer/timer-card.tsx
  apps/web/lib/components/modal.tsx
  apps/web/lib/features/daily-plan/plans-work-time-and-estimate.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/timer/timer.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams

#2777 feaf: add activity calendar view
  .cspell.json
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimeLogs.ts
  apps/web/app/interfaces/timer/ITimerLogs.ts
  apps/web/app/services/client/api/activity/time-logs.ts
  apps/web/app/stores/time-logs.ts
  apps/web/lib/features/activity/calendar.tsx
  apps/web/package.json
Labels: enhancement, WEB, Ever Teams

#2792 [Feat]: Daily Plan compare Estimated tasks time and Planned work hours
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/helpers/daily-plan-estimated.ts
  apps/web/app/helpers/date.ts
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/team-members-card-view.tsx
Labels: WEB, Ever Teams

#2793 [Improvement]:The Planned + date badges should have the RED color
  apps/web/app/helpers/plan-day-badge.ts
  apps/web/lib/features/task/task-all-status-type.tsx
Labels: WEB, Ever Teams

#2795 fixbug: fix outstanding notifications for manager role
  apps/web/lib/features/team/team-outstanding-notifications.tsx
Labels: bug, WEB, Ever Teams

#2798 [Improvement]: Customize select
  apps/mobile/app/helpers/date.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/lib/components/custom-select/index.tsx
  apps/web/lib/components/emoji-picker.tsx
  apps/web/lib/components/index.ts
  apps/web/lib/components/keyboard-shortcuts.tsx
  apps/web/lib/components/toggler.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/styles/style.css
Labels: WEB, Ever Teams

#2801 [Fix]: fix the delete button on the future tasks view
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/lib/features/user-profile-tasks.tsx
Labels: WEB, Improvement, Ever Teams

#2797 refactor: Estimate | '0' hours should display in different way
  apps/web/app/hooks/features/useTaskEstimation.ts
  apps/web/assets/common/loading.svg
  apps/web/assets/svg.ts
  apps/web/lib/components/inputs/input.tsx
  apps/web/lib/features/task/task-estimate.tsx
Labels: bug, WEB, Ever Teams

#2799 [FIX]: Show correct message for valid code but invalid password
  apps/web/app/[locale]/auth/passcode/component.tsx
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/lib/components/custom-select/index.tsx
  apps/web/lib/features/task/task-filters.tsx
Labels: WEB, Ever Teams

#2804 [Feat]: Add dynamic rendering to SelectItems component
  apps/web/lib/components/custom-select/index.tsx
  apps/web/lib/features/task/task-filters.tsx
Labels: bug, WEB, Ever Teams

#2800 fixbug: blocking any user to start working
  apps/web/lib/features/daily-plan/plans-work-time-and-estimate.tsx
  apps/web/lib/features/timer/timer.tsx
Labels: bug, WEB, Ever Teams

#2758 [Feature] 'Daily Plan' | visible dates with 'Plan' in the Calendar
  .cspell.json
  apps/web/components/ui/calendar.tsx
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
Labels: WEB, Ever Teams

#2806 [Feat] Enforced plan should let track time only on planned task
  apps/web/lib/features/daily-plan/daily-plan-enforce-planed-task-modal.tsx
  apps/web/lib/features/daily-plan/index.ts
  apps/web/lib/features/timer/timer.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams
