Repository ever-co/ever-teams, pull requests merged in 2024-06, with the labels that each got.

#2566 Next Auth Adapter callback functions
  apps/mobile/app/services/client/requests/auth.ts
  apps/web/app/[locale]/auth/error/page.tsx
  apps/web/app/[locale]/auth/social-logins-buttons.tsx
  apps/web/app/api/auth/signin-email-social-login/route.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/auth/invite-accept.ts
  apps/web/app/services/server/requests/OAuth.ts
  apps/web/app/services/server/requests/auth.ts
  apps/web/auth.ts
  apps/web/package.json
  yarn.lock
Labels: WEB, Ever Teams

#2569 [Feat] Show user detail in accordion
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/hooks/features/useUserProfilePage.ts
  apps/web/app/stores/user.ts
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
Labels: feature

#2581 [Improve] style of the assign task button and remove the arrow button
  apps/web/lib/components/image-overlapper.tsx
  apps/web/lib/features/task/task-card.tsx
Labels: WEB, Improvement, Ever Teams

#2583 feat: highlight the setting page
  apps/web/app/[locale]/settings/team/page.tsx
  apps/web/app/stores/setting.ts
  apps/web/components/pages/setting/interaction-observer.tsx
  apps/web/lib/settings/issues-settings.tsx
  apps/web/lib/settings/left-side-setting-menu.tsx
Labels: Don't Merge

#2579 [Improvement] Updated assign task popup height
  apps/web/lib/features/task/task-assign-popover.tsx
  apps/web/lib/features/task/task-input.tsx
Labels: WEB, Create Task, Ever Teams

#2580 [Fix] User activity showing twice
  apps/web/lib/features/team/user-team-card/index.tsx
Labels: WEB, Ever Teams

#2630 Fix sync task status kanban
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/shared/tasks/status-dropdown.tsx
  apps/web/lib/features/task/task-item.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: WEB, Ever Teams

#2609 improvement: fix the folder structure
  .cspell.json
  apps/web/app/[locale]/layout.tsx
  apps/web/app/api/auth/signin-workspace/signin-workspace.ts
  apps/web/app/constants.ts
  apps/web/i18n.ts
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
  apps/web/types/local.ts
Labels: enhancement, Tested

#2634 Member can't start Tracking time without Plan
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/api/daily-plan/me/route.ts
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/interfaces/IOrganizationTeam.ts
  apps/web/app/services/client/api/daily-plan.ts
  apps/web/app/services/server/requests/daily-plan.ts
  apps/web/app/stores/daily-plan.ts
  apps/web/lib/app/authenticator.tsx
  apps/web/lib/components/switch.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/settings/team-setting-form.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, WEB, Ever Teams

#2641 OAuth configs using consistent naming
  apps/web/app/constants.ts
  apps/web/app/services/server/requests/OAuth.ts
  apps/web/app/utils/check-provider-env-vars.ts
Labels: WEB, Improvement, Ever Teams

#2635 Member cant track without plan
  apps/web/.env
  apps/web/app/hooks/features/useTimer.ts
  apps/web/components/shared/timer/timer-card.tsx
  apps/web/lib/features/daily-plan/plans-work-time-and-estimate.tsx
  apps/web/lib/features/task/daily-plan/index.ts
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
  apps/web/lib/features/timer/timer.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#2647 Filter on Daily Plan Tab
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/stores/daily-plan.ts
  apps/web/lib/features/task/daily-plan/daily-plan-filter.tsx
  apps/web/lib/features/task/daily-plan/future-tasks.tsx
  apps/web/lib/features/task/daily-plan/outstanding.tsx
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/styles/globals.css
Labels: WEB, Ever Teams

#2649 Handle team user delete cases
  .cspell.json
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/stores/organization-team.ts
  apps/web/components/ui/sonner.tsx
  apps/web/components/ui/toaster.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
  apps/web/package.json
  yarn.lock
Labels: enhancement, WEB, Ever Teams

#2650 Resize tasks and members panels
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/components/ui/resizable.tsx
  apps/web/package.json
  apps/web/styles/globals.css
  yarn.lock
Labels: enhancement

#2655 User notification outstanding
  apps/web/app/[locale]/auth/passcode/component.tsx
  apps/web/app/[locale]/auth/password/component.tsx
  apps/web/app/[locale]/auth/workspace/component.tsx
  apps/web/app/[locale]/page-component.tsx
  apps/web/lib/features/team/team-outstanding-notifications.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams
