Repository ever-co/ever-teams, pull requests merged in 2024-08, with the labels that each got.

#2814 2813 refactor timer all start stop buttons should use the same logic
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/components/shared/timer/timer-card.tsx
  apps/web/lib/features/daily-plan/add-daily-plan-work-hours-modal.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/daily-plan/enforce-planed-task-modal.tsx
  apps/web/lib/features/daily-plan/index.ts
  apps/web/lib/features/daily-plan/plans-work-time-and-estimate.tsx
  apps/web/lib/features/daily-plan/suggest-daily-plan-modal.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/team-members-card-view.tsx
  apps/web/lib/features/timer/timer.tsx
Labels: bug, WEB, Ever Teams

#2803 [Fix]: Display statistical data on the progress of each task
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: bug, WEB, Ever Teams

#2818 [Feature]: Integrate LiveKit for meetings
  .cspell.json
  apps/web/.env
  apps/web/app/[locale]/meet/jitsi/component.tsx
  apps/web/app/[locale]/meet/jitsi/page.tsx
  apps/web/app/[locale]/meet/livekit/component.tsx
  apps/web/app/[locale]/meet/livekit/page.tsx
  apps/web/app/api/livekit/route.ts
  apps/web/app/hooks/useCollaborative.ts
  apps/web/app/hooks/useLiveKit.ts
  apps/web/app/interfaces/ILiveKiteCredentials.ts
  apps/web/app/interfaces/index.ts
  apps/web/app/services/server/livekitroom.ts
  apps/web/components/shared/collaborate/index.tsx
  apps/web/lib/features/integrations/livekit/index.tsx
  apps/web/package.json
  yarn.lock
Labels: feature, WEB, Ever Teams

#2822 refactor: refactor the SelecItems component to accept defaultValues
  apps/web/lib/components/custom-select/index.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
Labels: bug, WEB, Ever Teams

#2827 fixbug: duplicate action icons for estimation hours input
  apps/web/lib/features/task/task-estimate.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
Labels: bug, WEB, Ever Teams

#2826 Feat redirect to profil after plan suggestion
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/daily-plan/suggest-daily-plan-modal.tsx
Labels: WEB, Improvement, Ever Teams

#2821 feat: separate api call from react component
  apps/web/app/hooks/features/useManualTime.ts
  apps/web/app/interfaces/ITimer.ts
  apps/web/app/interfaces/timer/ITimerLogs.ts
  apps/web/app/services/client/api/timer/manual-time.ts
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
Labels: WEB, Improvement, Ever Teams

#2828 Feat: Settings Component Integration
  .cspell.json
  apps/web/app/[locale]/meet/livekit/component.tsx
  apps/web/components/shared/collaborate/index.tsx
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/integrations/livekit/index.tsx
  apps/web/lib/features/integrations/livekit/settings-livekit.tsx
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/styles/settings.module.css
  apps/web/tailwind.config.js
  yarn.lock
Labels: WEB, Ever Teams

#2830 Fix: Linting issues in settings-livekit and Daily-plan-compare-estima
  .cspell.json
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/integrations/livekit/settings-livekit.tsx
Labels: bug, Ever Teams

#2833 2682 bug daily plan task action menu hidden UI
  apps/web/lib/features/task/task-card.tsx
Labels: bug, WEB, Ever Teams

#2834 fix: the same task should not be planned multiple times for the same day
  apps/web/lib/features/task/task-card.tsx
Labels: bug, WEB, Ever Teams

#2835 fix: improve the delay when switching tabs (unassigend,assigned)
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/task/task-times.tsx
  apps/web/lib/features/user-profile-tasks.tsx
Labels: bug, WEB, Ever Teams

#2844 Add PostHog analytics integration
  .cspell.json
  apps/web/.env
  apps/web/app/[locale]/integration/posthog/page-view.tsx
  apps/web/app/[locale]/integration/posthog/provider.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/constants.ts
  apps/web/package.json
  yarn.lock
Labels: feature

#2850 [Refactored]: Calendar code into a new CalendarComponent file.
  apps/web/app/[locale]/calendar/page.tsx
  apps/web/lib/features/integrations/calendar/calendar-component.tsx
  apps/web/lib/features/integrations/calendar/setup-full-calendar.tsx
  apps/web/lib/utils.ts
Labels: feature, WEB, Work In Progress, Ever Teams

#2851 fix: show number of tasks instead of plans for different tabs
  apps/web/app/hooks/features/useAuthTeamTasks.ts
  apps/web/lib/features/task/daily-plan/outstanding-all.tsx
  apps/web/lib/features/task/daily-plan/task-estimated-count.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: bug, WEB, Ever Teams

#2855 [Feat]: Display Remove from all plans option only if task is planned
  apps/web/lib/features/task/task-card.tsx
Labels: feature, WEB, Ever Teams

#2856 fix: user should not edit past plans
  apps/web/lib/features/task/daily-plan/past-tasks.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/lib/utils.ts
Labels: bug, WEB, Ever Teams

#2857 fix: fix the number of outstanding tasks in notifications
  apps/web/lib/features/team/team-outstanding-notifications.tsx
Labels: bug, WEB, Ever Teams

#2859 [Fix]: Daily Plan | Total estimated time on Outstanding UI
  apps/web/lib/features/task/daily-plan/task-estimated-count.tsx
Labels: feature, WEB, Ever Teams

#2862 [Feat]: add 'Stats' tab with global metrics and enhanced legend component
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/lib/features/activity/calendar.tsx
  apps/web/lib/features/activity/screen-calendar.tsx
  apps/web/lib/features/integrations/activity-calendar/index.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/user-profile-tasks.tsx
Labels: feature, WEB, Ever Teams

#2863 fix: use the same logic for all start / stop timer button
  apps/web/lib/features/timer/timer.tsx
Labels: bug, WEB, Ever Teams

#2864 feat: remane the dailyplan tab name to Planned
  apps/web/lib/features/task/task-filters.tsx
Labels: WEB, Ever Teams

#2869 fix: user should be able to close popup after selection the appropriate date
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
  apps/web/lib/features/task/task-card.tsx
Labels: bug, WEB, Ever Teams

#2868 Feat: Add Custom legend with IDs and synchronize with ResponsiveCalendar
  apps/web/lib/features/integrations/activity-calendar/index.tsx
Labels: feature, WEB, Ever Teams

#2870 refactor: improve the suggest daily plan modal
  apps/web/lib/features/daily-plan/suggest-daily-plan-modal.tsx
Labels: WEB, Improvement, Ever Teams

#2876 fix: redirect user to profile page (asigned or outstandings tasks)
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: bug, WEB, Ever Teams

#2877 fix: outstanding tasks should be able to plan as normal tasks
  apps/web/lib/features/task/task-card.tsx
Labels: bug, WEB, Ever Teams

#2865 feat: Daily plan Tab Translates
  apps/web/lib/features/task/task-filters.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement

#2883 [Feat]: Customize month legend and theme styling
  apps/web/lib/features/integrations/activity-calendar/index.tsx
  apps/web/styles/globals.css
Labels: feature, Ever Teams

#2884 [Feat]: Add Generic useLocalStorageState hook for localStorage management
  apps/web/app/hooks/useLocalStorageState.ts
  apps/web/lib/features/user-profile-plans.tsx
Labels: feature, Ever Teams

#2875 [Feat]: Implement Create Manual Time Modal Component
  apps/web/app/[locale]/calendar/component.tsx
  apps/web/app/[locale]/calendar/page.tsx
  apps/web/lib/components/custom-select/index.tsx
  apps/web/lib/components/time-picker/index.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
  apps/web/lib/features/task/task-filters.tsx
Labels: feature, WEB, Ever Teams

#2889 refact: Pull Request Template & add contributing md
  .github/CONTRIBUTING.MD
  .github/PULL_REQUEST_TEMPLATE.md
Labels: devops, GitHub

#2829 [Improvement] Gauzy APIs default workspace and team after the user Logged In
  apps/web/app/[locale]/auth/passcode/component.tsx
  apps/web/app/[locale]/auth/password/component.tsx
  apps/web/app/api/auth/_signin-workspace/route.ts
  apps/web/app/api/auth/signin-workspace/signin-workspace.ts
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/app/hooks/auth/useAuthenticationPassword.ts
  apps/web/app/hooks/auth/useAuthenticationSocialLogin.ts
  apps/web/app/hooks/features/useAuthenticateUser.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/interfaces/IAuthentication.ts
  apps/web/app/interfaces/IUserData.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/auth/invite-accept.ts
  apps/web/app/services/server/requests/OAuth.ts
  apps/web/app/services/server/requests/auth.ts
Labels: WEB, Improvement, Ever Teams

#2899 refactor: improve the workspaces list on login/workspace screen
  apps/web/app/[locale]/auth/passcode/component.tsx
Labels: WEB, Ever Teams

#2904 [Improvement]: Timer | Implement hide/show functionality across multiple pages
  apps/web/app/[locale]/all-teams/component.tsx
  apps/web/app/[locale]/kanban/page.tsx
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/[locale]/settings/layout.tsx
  apps/web/app/hooks/index.ts
  apps/web/app/hooks/useScrollListener.ts
Labels: WEB, Improvement, Ever Teams

#2905 Settings | Team - Create Issue Statuses
  apps/web/app/interfaces/ITask.ts
  apps/web/app/interfaces/ITaskStatus.ts
  apps/web/lib/features/task/task-default-status.tsx
  apps/web/lib/features/task/task-status-modal.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/settings/task-statuses-form.tsx
Labels: WEB, Gauzy, Ever Teams

#2888 [Feat]: DataTableTimeSheet component for improved readability and re…
  .cspell.json
  apps/web/app/[locale]/calendar/component.tsx
  apps/web/app/[locale]/calendar/page.tsx
  apps/web/app/constants.ts
  apps/web/app/hooks/index.ts
  apps/web/components/ui/checkbox.tsx
  apps/web/components/ui/input.tsx
  apps/web/lib/features/integrations/calendar/calendar-component.tsx
  apps/web/lib/features/integrations/calendar/confirm-change-status.tsx
  apps/web/lib/features/integrations/calendar/helper-calendar.ts
  apps/web/lib/features/integrations/calendar/index.ts
  apps/web/lib/features/integrations/calendar/setup-full-calendar.tsx
  apps/web/lib/features/integrations/calendar/setup-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/time-sheet-filter-popover.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
  apps/web/package.json
  yarn.lock
Labels: feature, Ever Teams

#2906 [Bug]: permission issue for 'Stats' tab visibility on profiles
  apps/web/app/hooks/features/useTimeLogs.ts
  apps/web/app/interfaces/timer/ITimerLogs.ts
  apps/web/app/services/client/api/activity/time-logs.ts
  apps/web/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/components/ui/data-table.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
Labels: bug, Ever Teams

#2908 improvement: focus should be on the first input which has a digit when user click on edit | estimate task
  apps/web/lib/features/task/task-estimate.tsx
Labels: WEB, Improvement, Ever Teams

#2924 fix: Action menu | remove blank space after adding a task to tomorrow plan
  apps/web/lib/features/task/task-card.tsx
Labels: bug, WEB, Ever Teams

#2922 fix: user should not be able to set negative values for planned work time
  apps/web/lib/features/user-profile-plans.tsx
Labels: bug, WEB, Ever Teams

#2918 fix: remove planned task from 'Outstanding' tab
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/lib/utils.ts
Labels: bug, WEB, Ever Teams

#2915 improvement: use the same Task Estimate component on all pages / popups/ Task card
  apps/web/lib/features/task/task-estimate.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
Labels: WEB, Improvement, Ever Teams

#2923 [Feat]: Dynamic Member Selection
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
Labels: feature

#2925 [Feat]: Add special config for Managers to enable/disable time tracking for Members
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/api/employee/[id]/route.ts
  apps/web/app/api/employee/working/route.ts
  apps/web/app/hooks/features/useEmployee.ts
  apps/web/app/interfaces/IEmployee.ts
  apps/web/app/services/client/api/employee.ts
  apps/web/app/services/server/requests/employee.ts
  apps/web/app/stores/employee.ts
  apps/web/lib/components/avatar.tsx
  apps/web/lib/settings/member-table.tsx
  apps/web/lib/settings/table-action-popover.tsx
Labels: feature, Ever Teams

#2916 [Feature]: Confirm Status Change With Time Sheet
  apps/web/lib/components/time-picker/index.tsx
  apps/web/lib/features/daily-plan/daily-plan-compare-estimate-modal.tsx
  apps/web/lib/features/integrations/calendar/confirm-change-status.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/time-sheet-filter-popover.tsx
Labels: feature

#2930 [Feat]: Implement auto-complete for email domain and name pre-fill
  apps/web/lib/features/team/invite/invite-form-modal.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: feature, WEB, Ever Teams

#2917 [Improvement]: Global | Translations
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
  apps/web/lib/features/task/daily-plan/task-estimated-count.tsx
  apps/web/lib/features/team/invite/invite-email-dropdown.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/lib/settings/default-issue-type-form.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#2931 [Fix]: Resolve app crash on Task Page
  apps/web/components/pages/task/ChildIssueCard.tsx
  apps/web/components/pages/task/IssueCard.tsx
Labels: bug, WEB, Ever Teams

#2858 fix: popup should not appear when the user clicks 'Back' (or the profile page) button
  apps/web/lib/features/team-members-card-view.tsx
Labels: bug, WEB, Ever Teams

#2941 fixbug: SOFT FLOW, popups logic when user added the today plan in the past
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/lib/features/daily-plan/add-daily-plan-work-hours-modal.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: bug, WEB, Ever Teams

#2936 feat: redirect to 'unassigned' if no oustanding / assigned tasks (SOFT FLOW)
  apps/web/lib/features/task/task-filters.tsx
Labels: WEB, Improvement, Ever Teams

#2940 Feat: refact timesheet
  .cspell.json
  apps/web/app/[locale]/calendar/component.tsx
  apps/web/app/[locale]/calendar/page.tsx
  apps/web/components/ui/badge.tsx
  apps/web/lib/features/integrations/calendar/calendar-component.tsx
  apps/web/lib/features/integrations/calendar/helper-calendar.ts
  apps/web/lib/features/integrations/calendar/setup-full-calendar.tsx
  apps/web/lib/features/integrations/calendar/setup-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/time-sheet-filter-popover.tsx
  apps/web/lib/features/task/task-filters.tsx
Labels: WEB, Improvement, Ever Teams

#2951 feat: add more elements to the 'Planned tasks' popup
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/task/task-displays.tsx
Labels: WEB, Ever Teams

#2954 [Feat]: Add Badget Status, Select Filter status, Button delete
  apps/web/app/[locale]/calendar/page.tsx
  apps/web/lib/features/integrations/calendar/confirm-change-status.tsx
  apps/web/lib/features/integrations/calendar/setup-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: feature, WEB, Ever Teams

#2934 feat: ask the user to add selected task if it is not included in the today's plan
  apps/web/app/hooks/features/useStartStopTimerHandler.ts
  apps/web/components/shared/timer/timer-card.tsx
  apps/web/lib/features/daily-plan/enforce-planed-task-modal.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/timer/timer.tsx
Labels: WEB, Ever Teams

#2947 feat: Implement 'Default' selected task in the planned tasks popup
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/task/task-displays.tsx
Labels: WEB, Ever Teams

#2956 Improve Tasks Rendering
  apps/web/app/[locale]/profile/[memberId]/components/UserProfileDetail.tsx
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/hooks/features/usePagination.ts
  apps/web/components/pages/task/ChildIssueCard.tsx
  apps/web/lib/components/lazy-render.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/user-profile-tasks.tsx
Labels: WEB, Improvement

#2964 fix: aling elements with proper size on settings / Create new issue
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/settings/task-statuses-form.tsx
Labels: bug, WEB, Ever Teams

#2965 2742 improvement all teams UI for manager
  apps/web/lib/features/all-teams-members-block-view.tsx
  apps/web/lib/features/all-teams-members-card-view.tsx
  apps/web/lib/features/all-teams/all-team-members-filter.tsx
Labels: WEB, Ever Teams

#2966 Fix infinite time-slot requests
  apps/web/app/hooks/features/useTimer.ts
  apps/web/lib/components/lazy-render.tsx
  apps/web/lib/features/task/task-input.tsx
Labels: WEB, Improvement

#2969 Planned tasks popup | add unplan action menu
  .cspell.json
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: Ever Teams
