Repository ever-co/ever-teams, pull requests merged in 2024-02, with the labels that each got.

#2151 Feat/Next-Frontend APIs
  apps/web/app/[locale]/auth/passcode/page.tsx
  apps/web/app/[locale]/integration/github/page.tsx
  apps/web/app/api/auth/_signin-workspace/route.ts
  apps/web/app/api/auth/login/route.ts
  apps/web/app/api/auth/register/route.ts
  apps/web/app/api/auth/signin-email-confirm/route.ts
  apps/web/app/helpers/cookies/index.ts
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/app/interfaces/IOrganizationTeam.ts
  apps/web/app/services/client/api/activity/activity.ts
  apps/web/app/services/client/api/activity/index.ts
  apps/web/app/services/client/api/activity/time-slots.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/auth/invite-accept.ts
  apps/web/app/services/client/api/employee.ts
  apps/web/app/services/client/api/integrations/github.ts
  apps/web/app/services/client/api/integrations/integration-tenant.ts
  apps/web/app/services/client/api/invite.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/client/api/public-organization-team.ts
  apps/web/app/services/client/api/request-to-join-team.ts
  apps/web/app/services/client/api/role-permissions.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/client/api/timer.ts
  apps/web/app/services/client/api/timer/timer-status.ts
  apps/web/app/services/server/requests/auth.ts
  apps/web/app/services/server/requests/employee.ts
  apps/web/app/services/server/requests/integrations/github.ts
  apps/web/app/services/server/requests/integrations/index.ts
  apps/web/app/services/server/requests/integrations/integration-tenant.ts
  apps/web/app/services/server/requests/invite.ts
  apps/web/app/services/server/requests/organization-team.ts
  apps/web/app/services/server/requests/organization.ts
  apps/web/app/services/server/requests/public-organization-team.ts
  apps/web/app/services/server/requests/request-to-join-team.ts
  apps/web/app/services/server/requests/role-permissions.ts
  apps/web/app/services/server/requests/task-labels.ts
  apps/web/app/services/server/requests/tasks.ts
  apps/web/app/services/server/requests/timer.ts
  apps/web/app/services/server/requests/timer/daily.ts
  apps/web/app/services/server/requests/timer/status.ts
  apps/web/app/services/server/requests/timer/timer-slot.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/lib/features/unverified-email.tsx
  apps/web/lib/settings/integration-setting.tsx
  apps/web/package.json
  apps/web/pages/api/auth/signin-workspace.ts
  yarn.lock
Labels: WEB, Improvement

#2157 fix(Kanban): fixed the kanban scroll on task move + added the scroll
  apps/web/app/[locale]/kanban/page.tsx
  apps/web/lib/components/Kanban.tsx
  apps/web/lib/features/team-members-kanban-view.tsx
Labels: Improvement

#2173 Feat: Unauthorized page
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/unauthorized/page.tsx
  apps/web/components/pages/unauthorized/index.tsx
  apps/web/components/ui/svgs/sad-cry.tsx
  apps/web/messages/ar.json
  apps/web/messages/bg.json
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/he.json
  apps/web/messages/it.json
  apps/web/messages/nl.json
  apps/web/messages/pl.json
  apps/web/messages/pt.json
  apps/web/messages/ru.json
  apps/web/messages/zh.json
  apps/web/middleware.ts
  apps/web/public/locales/ar/common.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: WEB, Improvement

#2176 Fix/errors
  apps/web/app/hooks/features/useKanban.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/useTaskLabels.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/services/server/requests/public-organization-team.ts
  apps/web/components/layout/header/request-to-join-modal.tsx
  apps/web/components/shared/skeleton/Skeleton.tsx
  apps/web/components/shared/skeleton/UserTeamCardSkeleton.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/team-members-table-view.tsx
  apps/web/lib/features/team/invite/invite-form-modal.tsx
  apps/web/lib/layout/auth-layout.tsx
  apps/web/styles/globals.css
Labels: WEB, Improvement

#2187 Refact: No Team
  apps/web/app/[locale]/layout.tsx
  apps/web/components/pages/main/no-team.tsx
Labels: WEB, Improvement

#2192 Feat: Data Synchronization Mode UI on Setting Page
  .cspell.json
  apps/desktop/i18n/bg.json
  apps/desktop/i18n/en.json
  apps/desktop/i18n/fr.json
  apps/desktop/i18n/he.json
  apps/desktop/i18n/nl.json
  apps/web/app/[locale]/settings/personal/page.tsx
  apps/web/app/stores/data-sync.ts
  apps/web/lib/components/toggler.tsx
  apps/web/lib/settings/sync.zone.tsx
  apps/web/messages/ar.json
  apps/web/messages/bg.json
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/he.json
  apps/web/messages/it.json
  apps/web/messages/nl.json
  apps/web/messages/pl.json
  apps/web/messages/pt.json
  apps/web/messages/ru.json
  apps/web/messages/zh.json
  apps/web/public/locales/ar/common.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: enhancement, WEB

#2197 Feat: sync mode
  apps/web/app/[locale]/team/[teamId]/[profileLink]/page.tsx
  apps/web/app/hooks/features/useRefreshInterval.ts
  apps/web/app/hooks/features/useTaskStatistics.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/lib/app/init-state.tsx
  apps/web/lib/components/toggler.tsx
Labels: enhancement

#2202 Fix: profile infinity scroll and Tab (Tickets) data
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/hooks/useInfinityFetch.ts
  apps/web/lib/features/user-profile-tasks.tsx
Labels: WEB, Improvement

#2207 Feat/Next-Frontend APIs
  .cspell.json
  Layerfile
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/auth/invite-accept.ts
  apps/web/app/services/client/api/auth/register.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/pages/api/auth/signin-workspace.ts
Labels: WEB, Improvement

#2209 2208 fix kanban scrolling
  apps/web/app/[locale]/kanban/page.tsx
  apps/web/lib/features/team-members-kanban-view.tsx
Labels: duplicate, enhancement, WEB, Improvement

#2201 2199 feature adding some additional features in kanban
  apps/web/lib/components/Kanban.tsx
  apps/web/lib/components/kanban-card.tsx
Labels: enhancement

#2217 Fix: Errors
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/settings/team/page.tsx
  apps/web/app/hooks/useCheckAPI.ts
  apps/web/lib/features/task/task-activity.tsx
  apps/web/lib/settings/sync.zone.tsx
Labels: WEB

#2211 [Fix]: height of login section bottom section
  apps/web/lib/layout/auth-layout.tsx
Labels: enhancement, UI/UX

#2218 [Feature]: 2216 add reset button in code enterence on auth pages
  apps/web/app/[locale]/auth/passcode/page.tsx
  apps/web/lib/components/inputs/auth-code-input.tsx
Labels: enhancement, WEB, Improvement

#2220 [UI]: design card of kanban is fixed
  apps/web/app/[locale]/kanban/page.tsx
  apps/web/app/hooks/features/useKanban.ts
  apps/web/components/ui/svgs/circular-progress.tsx
  apps/web/lib/components/image-overlapper.tsx
  apps/web/lib/components/kanban-card.tsx
  apps/web/lib/features/team-members-kanban-view.tsx
Labels: UI/UX, WEB, Improvement

#2222 [UI]: kanban page header scrolling dropdown
  apps/web/app/[locale]/kanban/page.tsx
Labels: bug, UI/UX, WEB

#2226 [UI]: Settings page design re-arrange and added the layout system
  apps/web/app/[locale]/settings/layout.tsx
  apps/web/app/[locale]/settings/personal/page.tsx
  apps/web/app/[locale]/settings/team/page.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/lib/settings/left-side-setting-menu.tsx
Labels: enhancement, UI/UX, WEB

#2233 Feat/Static build
  apps/web/app/[locale]/[...rest]/page.tsx
  apps/web/app/[locale]/auth/passcode/component.tsx
  apps/web/app/[locale]/auth/passcode/page.tsx
  apps/web/app/[locale]/auth/team/component.tsx
  apps/web/app/[locale]/auth/team/page.tsx
  apps/web/app/[locale]/board/component.tsx
  apps/web/app/[locale]/board/page.tsx
  apps/web/app/[locale]/integration/github/component.tsx
  apps/web/app/[locale]/integration/github/page.tsx
  apps/web/app/[locale]/meet/component.tsx
  apps/web/app/[locale]/meet/page.tsx
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/permissions/component.tsx
  apps/web/app/[locale]/permissions/page.tsx
  apps/web/app/api/image-assets/upload/[folder]/route.ts
  apps/web/app/api/integration-tenant/[id]/route.ts
  apps/web/app/api/invite/[id]/route.ts
  apps/web/app/api/issue-types/[id]/route.ts
  apps/web/app/api/organization-projects/[id]/route.ts
  apps/web/app/api/organization-projects/setting/[id]/route.ts
  apps/web/app/api/organization-team-employee/[id]/active-task/route.ts
  apps/web/app/api/organization-team-employee/[id]/route.ts
  apps/web/app/api/organization-team-join/[id]/[action]/route.ts
  apps/web/app/api/organization-team/[id]/route.ts
  apps/web/app/api/organization-team/employee/[id]/route.ts
  apps/web/app/api/organization-team/teams/[id]/route.ts
  apps/web/app/api/public/team/[profileLink]/[teamId]/route.ts
  apps/web/app/api/role-permissions/[id]/route.ts
  apps/web/app/api/roles/[id]/route.ts
  apps/web/app/api/tags/[id]/route.ts
  apps/web/app/api/task-priorities/[id]/route.ts
  apps/web/app/api/task-related-issue-types/[id]/route.ts
  apps/web/app/api/task-sizes/[id]/route.ts
  apps/web/app/api/task-statuses/[id]/route.ts
  apps/web/app/api/task-versions/[id]/route.ts
  apps/web/app/api/tasks/[id]/route.ts
  apps/web/app/api/tasks/employee/[employeeId]/route.ts
  apps/web/app/api/user/[id]/route.ts
  apps/web/app/constants.ts
  apps/web/app/hooks/auth/useAuthenticationPasscode.ts
  apps/web/app/hooks/auth/useAuthenticationTeam.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/services/client/api/task-status.ts
  apps/web/middleware.ts
  apps/web/next.config.js
Labels: WEB

#2247 Tiny Fixes
  apps/web/app/api/auth/verify/resend-link/route.ts
  apps/web/app/api/employee/working/route.ts
  apps/web/app/api/invite/emails/route.ts
  apps/web/app/api/invite/resend/route.ts
  apps/web/app/api/invite/route.ts
  apps/web/app/api/invite/validate-by-code/route.ts
  apps/web/app/api/organization-projects/setting/[id]/route.ts
  apps/web/app/api/tasks/team/route.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/server/requests/tasks.ts
Labels: WEB, Improvement
