Repository ever-co/ever-teams, pull requests merged in 2024-01, with the labels that each got.

#2047 Fix: remove local lang prefix in route paths
  apps/web/components/shared/skeleton/InviteTeamCardSkeleton.tsx
  apps/web/middleware.ts
Labels: Improvement

#2052 fix: display language list in dropdown on personnal settings page
  apps/web/app/api/.gitkeep
  apps/web/app/hooks/features/useLanguageSettings.ts
  apps/web/app/hooks/useLanguage.ts
  apps/web/lib/settings/personal-setting-form.tsx
Labels: WEB

#2064 Fix: cards columns style and width and breadcumbs links
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/[locale]/task/[id]/page.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
Labels: Improvement

#2070 Refact: change Texts and Titles on Auth pages
  .cspell.json
  apps/desktop/i18n/en.json
  apps/desktop/i18n/he.json
  apps/web/app/[locale]/auth/passcode/page.tsx
  apps/web/lib/components/button.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/i18n/en.ts
  apps/web/lib/layout/auth-layout.tsx
  apps/web/messages/bg.json
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/he.json
  apps/web/messages/it.json
  apps/web/messages/nl.json
  apps/web/messages/pl.json
  apps/web/messages/pt.json
  apps/web/messages/ru.json
  apps/web/messages/zh.json
  apps/web/public/locales/bg/common.json
  apps/web/public/locales/de/common.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: WEB

#2073 Feat: add Activity Filters and screenshoot Tab UI
  .cspell.json
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/api/timer/slot/route.ts
  apps/web/app/constants.ts
  apps/web/app/helpers/array-data.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/interfaces/IScreenshoot.ts
  apps/web/app/interfaces/timer/ITimerSlot.ts
  apps/web/app/services/client/api/activity/time-slots.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/client/api/timer/timer-status.ts
  apps/web/app/services/server/requests/timer/timer-slot.ts
  apps/web/app/stores/time-slot.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/lib/features/activity/screenshoots.tsx
  apps/web/lib/features/activity/visited-sites.tsx
  apps/web/messages/en.json
  apps/web/messages/fr.json
  apps/web/messages/it.json
  apps/web/messages/pl.json
  apps/web/messages/pt.json
  apps/web/messages/ru.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
Labels: enhancement, WEB

#2076 Feat: improve screenshots tab page
  apps/web/app/helpers/array-data.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/lib/components/progress-bar.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour-skeleton.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/lib/features/activity/screenshoots.tsx
Labels: WEB, Improvement

#2078 feat: get daily apps visited
  apps/web/app/api/timer/daily/route.ts
  apps/web/app/helpers/array-data.ts
  apps/web/app/hooks/features/useTimeDailyActivity.ts
  apps/web/app/interfaces/timer/ITimerApp.ts
  apps/web/app/services/client/api/activity/activity.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/server/requests/timer/daily.ts
  apps/web/app/stores/time-slot.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/app-visited-Item.tsx
  apps/web/lib/features/activity/components/app-visited-skeleton.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/messages/en.json
  apps/web/messages/fr.json
  apps/web/messages/it.json
  apps/web/messages/pl.json
  apps/web/messages/pt.json
  apps/web/messages/ru.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
Labels: enhancement, WEB

#2082 Feat: display details of time slots & create API route to delete time slots
  .nx/cache/nx-console-project-graph/project-graph.html
  .nx/cache/nx-console-project-graph/static/3rdpartylicenses.txt
  .nx/cache/nx-console-project-graph/static/environment.js
  .nx/cache/nx-console-project-graph/static/favicon.ico
  .nx/cache/nx-console-project-graph/static/main.js
  .nx/cache/nx-console-project-graph/static/polyfills.js
  .nx/cache/nx-console-project-graph/static/runtime.js
  .nx/cache/nx-console-project-graph/static/styles.css
  .nx/cache/nx-console-project-graph/static/styles.js
  apps/web/app/api/timer/slot/route.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/interfaces/IScreenshoot.ts
  apps/web/app/interfaces/timer/ITimerSlot.ts
  apps/web/app/services/client/api/activity/time-slots.ts
  apps/web/app/services/server/requests/timer/timer-slot.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/app-visited-Item.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/lib/features/activity/components/screenshot-details.tsx
  apps/web/lib/features/activity/components/screenshot-item.tsx
  apps/web/lib/features/activity/screenshoots.tsx
Labels: enhancement, WEB

#2084 Feat/Next-Frontend APIs
  apps/web/app/api/integration/github/metadata/route.ts
  apps/web/app/api/integration/github/oauth/route.ts
  apps/web/app/api/integration/github/repositories/route.ts
  apps/web/app/api/integration/github/repository/sync/route.ts
  apps/web/app/api/issue-types/route.ts
  apps/web/app/api/languages/route.ts
  apps/web/app/api/tags/level/route.ts
  apps/web/app/api/task-priorities/route.ts
  apps/web/app/api/task-related-issue-types/route.ts
  apps/web/app/api/task-sizes/route.ts
  apps/web/app/api/task-statuses/route.ts
  apps/web/app/api/task-versions/route.ts
  apps/web/app/api/user/[id]/route.ts
  apps/web/app/hooks/features/useEmployee.ts
  apps/web/app/hooks/features/useIssueTypes.ts
  apps/web/app/hooks/features/useLanguageSettings.ts
  apps/web/app/hooks/features/useTaskLabels.ts
  apps/web/app/hooks/features/useTaskPriorities.ts
  apps/web/app/hooks/features/useTaskRelatedIssueType.ts
  apps/web/app/hooks/features/useTaskSizes.ts
  apps/web/app/hooks/features/useTaskStatus.ts
  apps/web/app/hooks/features/useTaskVersion.ts
  apps/web/app/hooks/features/useTimeDailyActivity.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/hooks/integrations/useGitHubIntegration.ts
  apps/web/app/services/client/api/activity/activity.ts
  apps/web/app/services/client/api/activity/time-slots.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/employee.ts
  apps/web/app/services/client/api/integrations/github.ts
  apps/web/app/services/client/api/invite.ts
  apps/web/app/services/client/api/issue-type.ts
  apps/web/app/services/client/api/languages.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/client/api/task-labels.ts
  apps/web/app/services/client/api/task-priorities.ts
  apps/web/app/services/client/api/task-related-issue-type.ts
  apps/web/app/services/client/api/task-sizes.ts
  apps/web/app/services/client/api/task-status.ts
  apps/web/app/services/client/api/task-version.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/client/api/timer.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/client/api/timer/timer-status.ts
  apps/web/app/services/client/axios.ts
  apps/web/app/services/server/requests/employee.ts
  apps/web/app/services/server/requests/issue-type.ts
  apps/web/app/services/server/requests/languages.ts
  apps/web/components/shared/skeleton/Skeleton.tsx
  apps/web/lib/app/authenticator.tsx
Labels: WEB, Improvement

#2083 Feat: add visited page activity
  .gitignore
  .nx/cache/nx-console-project-graph/project-graph.html
  .nx/cache/nx-console-project-graph/static/3rdpartylicenses.txt
  .nx/cache/nx-console-project-graph/static/environment.js
  .nx/cache/nx-console-project-graph/static/favicon.ico
  .nx/cache/nx-console-project-graph/static/main.js
  .nx/cache/nx-console-project-graph/static/polyfills.js
  .nx/cache/nx-console-project-graph/static/runtime.js
  .nx/cache/nx-console-project-graph/static/styles.css
  .nx/cache/nx-console-project-graph/static/styles.js
  apps/web/app/api/timer/daily/route.ts
  apps/web/app/hooks/features/useTimeDailyActivity.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/interfaces/IScreenshoot.ts
  apps/web/app/interfaces/timer/ITimerApp.ts
  apps/web/app/services/client/api/activity/time-slots.ts
  apps/web/app/services/server/requests/timer/daily.ts
  apps/web/app/services/server/requests/timer/timer-slot.ts
  apps/web/app/stores/time-slot.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/app-visited-Item.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/lib/features/activity/components/screenshot-details.tsx
  apps/web/lib/features/activity/components/screenshot-item.tsx
  apps/web/lib/features/activity/visited-sites.tsx
  apps/web/messages/en.json
  apps/web/messages/fr.json
  apps/web/messages/it.json
  apps/web/messages/pl.json
  apps/web/messages/pt.json
  apps/web/messages/ru.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
Labels: enhancement

#2087 feat: Show activity Tabs for connected user profil and Manger only
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimeDailyActivity.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/services/client/api/activity/activity.ts
  apps/web/app/services/client/api/timer/timer-status.ts
  apps/web/app/services/server/requests/timer/status.ts
  apps/web/app/stores/time-slot.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/app-visited-details.tsx
  apps/web/lib/features/activity/screenshoots.tsx
  apps/web/lib/settings/JitsuRoot.tsx
Labels: enhancement, WEB

#2093 Feat: Show Team Member Activity on Team Page
  apps/web/app/hooks/features/useTimeDailyActivity.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/interfaces/IScreenshoot.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/lib/features/activity/components/screenshot-item.tsx
  apps/web/lib/features/activity/screenshoots.tsx
  apps/web/lib/features/activity/visited-sites.tsx
  apps/web/lib/features/index.ts
  apps/web/lib/features/team-members-block-view.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/task-skeleton.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-activity.tsx
Labels: enhancement, WEB

#2095 Feat/Next-Frontend APIs
  apps/web/app/api/organization-team-join/[id]/[action]/route.ts
  apps/web/app/api/organization-team-join/resend-code/route.ts
  apps/web/app/api/organization-team-join/validate/route.ts
  apps/web/app/api/tags/[id]/route.ts
  apps/web/app/api/tags/route.ts
  apps/web/app/api/task-priorities/[id]/route.ts
  apps/web/app/api/task-priorities/route.ts
  apps/web/app/hooks/features/useTaskLabels.ts
  apps/web/app/hooks/features/useTaskPriorities.ts
  apps/web/app/services/client/api/request-to-join-team.ts
  apps/web/app/services/client/api/task-labels.ts
  apps/web/app/services/client/api/task-priorities.ts
  apps/web/app/services/client/axios.ts
  apps/web/components/layout/header/request-to-join-modal.tsx
Labels: WEB, Improvement

#2097 Feat/Next-Frontend APIs
  apps/web/app/api/invite/[id]/route.ts
  apps/web/app/api/issue-types/[id]/route.ts
  apps/web/app/api/issue-types/route.ts
  apps/web/app/hooks/features/useIssueTypes.ts
  apps/web/app/hooks/features/useTeamInvitations.ts
  apps/web/app/services/client/api/invite.ts
  apps/web/app/services/client/api/issue-type.ts
Labels: WEB, Improvement

#2101 Feat/Next-Frontend APIs
  apps/web/app/api/organization-projects/[id]/route.ts
  apps/web/app/api/organization-projects/setting/[id]/route.ts
  apps/web/app/api/organization-team-employee/[id]/active-task/route.ts
  apps/web/app/api/organization-team-employee/[id]/route.ts
  apps/web/app/api/role-permissions/[id]/route.ts
  apps/web/app/api/roles/route.ts
  apps/web/app/services/client/api/organization-projects.ts
  apps/web/app/services/client/api/organization-team-employee.ts
  apps/web/app/services/client/api/role-permissions.ts
  apps/web/app/services/client/api/roles.ts
  apps/web/app/services/client/axios.ts
Labels: WEB, Improvement

#2104 Feat: Activity on Task page
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/[locale]/task/[id]/page.tsx
  apps/web/app/hooks/features/useTimeDailyActivity.ts
  apps/web/app/hooks/features/useTimeSlot.ts
  apps/web/app/hooks/features/useUserProfilePage.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/task/task-activity.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-activity.tsx
  apps/web/lib/features/team/user-team-card/user-worked-task.tsx
Labels: enhancement, WEB

#2105 Feat/Next-Frontend APIs
  apps/web/app/api/organization-team/[id]/route.ts
  apps/web/app/api/organization-team/employee/[id]/route.ts
  apps/web/app/api/organization-team/teams/[id]/route.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/server/requests/organization-team.ts
Labels: WEB, Improvement

#2108 Feat: Maintenace page
  apps/web/app/[locale]/error.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/api/route.ts
  apps/web/app/hooks/features/useUserProfilePage.ts
  apps/web/app/hooks/useCheckAPI.ts
  apps/web/app/services/client/api/default.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/server/requests/default.ts
  apps/web/app/services/server/requests/index.ts
  apps/web/components/pages/maintenance/index.tsx
  apps/web/components/pages/task/task-details-aside.tsx
  apps/web/components/ui/svgs/rocket.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-activity.tsx
  apps/web/lib/features/user-activity-tasks.tsx
  apps/web/messages/ar.json
  apps/web/messages/bg.json
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/he.json
  apps/web/messages/it.json
  apps/web/messages/nl.json
  apps/web/messages/pl.json
  apps/web/messages/pt.json
  apps/web/messages/ru.json
  apps/web/messages/zh.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/fr/common.json
  apps/web/public/locales/he/common.json
  apps/web/public/locales/it/common.json
  apps/web/public/locales/nl/common.json
  apps/web/public/locales/pl/common.json
  apps/web/public/locales/pt/common.json
  apps/web/public/locales/ru/common.json
  apps/web/public/locales/zh/common.json
Labels: Improvement

#2112 Feat/Next-Frontend APIs
  apps/web/app/api/public/team/[profileLink]/[teamId]/route.ts
  apps/web/app/api/roles/[id]/route.ts
  apps/web/app/api/task-related-issue-types/[id]/route.ts
  apps/web/app/api/task-related-issue-types/route.ts
  apps/web/app/api/task-sizes/[id]/route.ts
  apps/web/app/api/task-sizes/route.ts
  apps/web/app/api/task-statuses/[id]/route.ts
  apps/web/app/api/task-statuses/route.ts
  apps/web/app/hooks/features/usePublicOrganizationTeams.ts
  apps/web/app/services/client/api/public-organization-team.ts
  apps/web/app/services/client/api/roles.ts
  apps/web/app/services/client/api/task-linked-issue.ts
  apps/web/app/services/client/api/task-related-issue-type.ts
  apps/web/app/services/client/api/task-sizes.ts
  apps/web/app/services/client/api/task-status.ts
Labels: WEB, Improvement

#2120 Feat/Next-Frontend APIs
  apps/web/app/api/task-versions/[id]/route.ts
  apps/web/app/api/task-versions/route.ts
  apps/web/app/api/tasks/[id]/route.ts
  apps/web/app/api/user/[id]/route.ts
  apps/web/app/api/user/reset/route.ts
  apps/web/app/hooks/features/useKanban.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/services/client/api/settings.ts
  apps/web/app/services/client/api/task-version.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/client/api/user.ts
  apps/web/app/services/server/requests/tasks.ts
Labels: WEB, Improvement

#2122 Feat: Pagination and Infinity Scroll
  apps/web/app/hooks/useInfinityFetch.ts
  apps/web/components/shared/Observer/index.tsx
  apps/web/lib/features/task/task-input.tsx
Labels: enhancement, WEB, Improvement

#2123 Fix: DeepScan Errors
  apps/mobile/app/components/Button.tsx
  apps/mobile/app/components/LabelItem.tsx
  apps/mobile/app/components/Toggle.tsx
  apps/mobile/app/models/task/Task.ts
  apps/mobile/app/screens/Authenticated/ProfileScreen/components/ProfileScreenSkeleton.tsx
  apps/mobile/app/screens/Authenticated/TimerScreen/components/TaskDisplayBox.tsx
  apps/mobile/app/services/client/requests/organization-team.ts
  apps/mobile/app/services/hooks/features/useTeamMemberCard.ts
  apps/mobile/app/services/hooks/useLanguageModal.ts
  apps/mobile/app/services/hooks/useOrganization.ts
  apps/mobile/app/services/hooks/useTimezoneModal.ts
  apps/web/app/[locale]/settings/team/page.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/shared/collaborate/index.tsx
  apps/web/components/shared/tasks/assigned-tasks.tsx
  apps/web/components/shared/tasks/unassigned-task.tsx
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/components/emoji-picker.tsx
  apps/web/lib/components/inputs/input.tsx
  apps/web/lib/components/svgs/icons.tsx
  apps/web/lib/components/typography.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team-member-cell.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/team-item.tsx
  apps/web/lib/settings/integration-setting.tsx
  apps/web/lib/settings/issue-types-form.tsx
  apps/web/lib/settings/member-table.tsx
  apps/web/lib/settings/team-avatar.tsx
  apps/web/lib/settings/team-size-popover.tsx
  apps/web/lib/settings/transfer-team-modal.tsx
Labels: WEB, Improvement

#2125 Feat/Next-Frontend APIs
  apps/web/app/api/organization-projects/route.ts
  apps/web/app/api/organization-team/route.ts
  apps/web/app/api/tasks/employee/[employeeId]/route.ts
  apps/web/app/api/tasks/team/route.ts
  apps/web/app/api/timer/timesheet/all-statistics-tasks/route.ts
  apps/web/app/hooks/features/useAuthenticateUser.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/client/api/projects.ts
  apps/web/app/services/client/api/tasks.ts
  apps/web/app/services/server/requests/organization-team.ts
Labels: WEB, Improvement

#2124 Feat: user Activity on Task ( Hooks, API Routes)
  .cspell.json
  apps/web/app/[locale]/task/[id]/page.tsx
  apps/web/app/api/timer/timesheet/route.ts
  apps/web/app/helpers/array-data.ts
  apps/web/app/hooks/features/useTaskActivity.ts
  apps/web/app/interfaces/ITaskTimesheet.ts
  apps/web/app/interfaces/index.ts
  apps/web/app/services/client/api/activity/index.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/client/api/organization-team.ts
  apps/web/app/services/server/requests/organization-team.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/task-timesheet.ts
  apps/web/components/pages/maintenance/index.tsx
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/lib/features/task/activity/user-task-activity.tsx
  apps/web/lib/features/task/task-activity.tsx
Labels: enhancement, WEB

#2140 Feat/Next-Frontend APIs
  apps/web/app/api/email-reset/request-change-email/route.ts
  apps/web/app/api/email-reset/verify-change-email/route.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/services/client/api/auth.ts
  apps/web/app/services/client/api/email-reset.ts
  apps/web/app/services/client/api/timer.ts
  apps/web/lib/features/unverified-email.tsx
Labels: WEB, Improvement
