Repository ever-co/ever-teams, pull requests merged in 2024-09, with the labels that each got.

#2955 [Feat]: implement multi-select dropdown with persistent open state for
  apps/web/app/[locale]/calendar/component.tsx
  apps/web/lib/components/custom-select/index.tsx
  apps/web/lib/components/custom-select/multi-select.tsx
  apps/web/lib/components/custom-select/select-items.tsx
  apps/web/lib/components/index.ts
  apps/web/lib/features/index.ts
  apps/web/lib/features/integrations/calendar/setup-time-sheet.tsx
  apps/web/lib/features/integrations/calendar/time-sheet-filter-popover.tsx
  apps/web/lib/features/multiple-select/index.tsx
Labels: feature, WEB, Ever Teams

#2953 2942 feature planned button stat working on the popup
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/task/task-estimate.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams

#2975 [Feat] Planned task modal | view action
  apps/web/app/[locale]/task/[id]/component.tsx
  apps/web/app/[locale]/task/[id]/page.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/task-details-modal.tsx
Labels: WEB, Ever Teams

#2976 [UI]: add 'See Plan' option on team member task card menu
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
Labels: WEB, Ever Teams

#2957 feat: add active task confirmation popup
  apps/web/app/constants.ts
  apps/web/lib/features/daily-plan/active-task-handler-modal.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Ever Teams

#2983 [Feat]: Add generic CustomCombobox component with props for dynamic
  apps/web/lib/components/combobox/index.tsx
Labels: feature, WEB, Improvement, Ever Teams

#2985 Fix unnecessary multiples employees API requests
  apps/web/app/hooks/features/useEmployee.ts
  apps/web/app/hooks/features/useTeamInvitations.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/components/shared/invite/invite-modal.tsx
  apps/web/lib/app/init-state.tsx
  apps/web/lib/components/typography.tsx
  apps/web/lib/features/team/invite/invite-form-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement

#2979 [Feat] Planned tasks popup | search / add / create task
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: WEB, Ever Teams

#2988 [Feat]: Adapt ManageOrMemberComponent to new design with dynamic fields and combobox
  apps/web/app/[locale]/calendar/page.tsx
  apps/web/lib/components/combobox/index.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
  apps/web/lib/features/manual-time/manage-member-component.tsx
Labels: Improvement, Ever Teams

#2989 Refact: remove duplication of user card menu
  apps/web/lib/features/team/user-team-block/index.tsx
  apps/web/lib/features/team/user-team-block/user-team-card-menu.tsx
Labels: bug, WEB, Ever Teams

#2984 [Feat] Team card member | See all plans modal
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/components/ui/calendar.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
Labels: WEB, Ever Teams

#3012 fix arrow direction in settings sidebar
  apps/web/lib/components/sidebar-accordian.tsx
Labels: bug, WEB, Ever Teams

#3011 fix: trim leading zeros at the beginning of work time planned
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: bug, Ever Teams

#3015 3001 bug planned years months have not values
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
Labels: bug, WEB, Ever Teams

#3024 [Improvement] All plans modal | disbale the start working button when the timer is running
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: WEB, Ever Teams

#3016 3008 improvements see plan user should be able to see all plans on the calendar
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
Labels: WEB, Ever Teams

#3019 fix overlap on team member card| table view
  apps/web/components/ui/data-table.tsx
  apps/web/components/ui/table.tsx
  apps/web/lib/features/team-member-cell.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
  apps/web/lib/features/team/user-team-card/task-info.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
Labels: bug, WEB, Ever Teams

#3023 Adapt sub-menus of 'Team' & 'Personal' menus UI
  apps/web/lib/components/sidebar-accordian.tsx
  apps/web/lib/settings/left-side-setting-menu.tsx
Labels: WEB, Ever Teams

#3017 refactor: use last selected option on the create day plan modal
  apps/web/app/constants.ts
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
Labels: WEB, Ever Teams

#3048 [Fix]: Typing Error Member Items Lists
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
Labels: bug, WEB, Ever Teams

#3049 refactor: use 'Calendar' / 'Plans' instead of 'Future' / 'Future Plan'
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
Labels: WEB, Improvement, Ever Teams

#3050 feat: disable actions on all past plans / add new details
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
Labels: WEB, Improvement, Ever Teams

#2973 'Daily plans' Organization Team ID for finders requests
  apps/web/app/api/daily-plan/[id]/route.ts
  apps/web/app/api/daily-plan/me/route.ts
  apps/web/app/api/daily-plan/route.ts
  apps/web/app/api/daily-plan/task/[taskId]/route.ts
  apps/web/app/hooks/features/useAuthTeamTasks.ts
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/interfaces/index.ts
  apps/web/app/services/client/api/daily-plan.ts
  apps/web/app/services/server/requests/daily-plan.ts
  apps/web/lib/app/init-state.tsx
  apps/web/lib/features/task/daily-plan/task-estimated-count.tsx
  apps/web/lib/features/task/task-filters.tsx
Labels: WEB, Improvement, Ever Teams

#3051 feat: should hide ouststanding notification after visit outstating tab
  apps/web/app/constants.ts
  apps/web/lib/features/team/team-outstanding-notifications.tsx
  apps/web/lib/features/user-profile-plans.tsx
Labels: WEB, Improvement, Ever Teams

#3055 fixbug: fix unhandled exception when no items in profilePlans
  apps/web/app/hooks/features/useDailyPlan.ts
Labels: bug, WEB, Ever Teams

#3059 3022 improvement see plan the timer is running and user addsremove a task to the plan
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/daily-plan/unplan-active-task-modal.tsx
Labels: WEB, Improvement, Ever Teams

#3073 feat: today's date in calenday should look differently
  apps/web/lib/features/daily-plan/all-plans-modal.tsx
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
Labels: WEB, Improvement, Ever Teams

#3071 Daily plan requests | employeeId should be a string
  apps/web/app/hooks/features/useDailyPlan.ts
Labels: bug, WEB, Ever Teams

#3072 Fix: validate employee object and employeeId string format in request…
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/lib/features/daily-plan/create-daily-plan-form-modal.tsx
  apps/web/lib/features/task/task-card.tsx
Labels: bug, WEB, Ever Teams

#3067 3014 improvement common scrolling zones on pages
  apps/web/app/[locale]/page-component.tsx
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/lib/components/notifications-dropdown/index.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/team/team-invitations.tsx
  apps/web/lib/features/team/user-team-card/task-skeleton.tsx
  apps/web/lib/features/team/user-team-table/user-team-table-header.tsx
  apps/web/lib/features/user-profile-plans.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams
