Repository ever-co/ever-teams, pull requests merged in 2025-04, with the labels that each got.

#3714 [Feat]: enhance project grid skeleton with detailed loading states
  apps/web/app/[locale]/projects/components/project-views/grid-view/grid-skeleton.tsx
  apps/web/app/[locale]/projects/components/project-views/grid-view/index.tsx
Labels: feature, UI/UX, WEB, Ever Teams

#3715 [Feat]: Enhance TimeActivityTable UI and functionality
  apps/web/app/[locale]/time-and-activity/Components/ActivityTable.tsx
  apps/web/app/[locale]/time-and-activity/Components/ActivityTableSkeleton.tsx
  apps/web/app/[locale]/time-and-activity/Components/EmptyTimeActivity.tsx
  apps/web/app/[locale]/time-and-activity/Components/TimeActivityTable.tsx
  apps/web/app/[locale]/time-and-activity/Components/TimeActivityTableAdapter.tsx
  apps/web/app/[locale]/time-and-activity/Components/TimeActivityTableSkeleton.tsx
  apps/web/app/[locale]/time-and-activity/Components/page-component.tsx
  apps/web/app/[locale]/time-and-activity/Components/progress-bar.tsx
  apps/web/public/assets/illustrations/empty-time-activity.svg
  apps/web/utils/formatDuration.ts
Labels: feature, WEB, Ever Teams, Bug fix

#3716 [Feature] Weekly Limit | Export PDF Weekly limit report
  apps/web/app/[locale]/reports/weekly-limit/components/time-report-table.tsx
  apps/web/app/[locale]/reports/weekly-limit/components/weekly-limit-report-export-menu.tsx
  apps/web/app/[locale]/reports/weekly-limit/export-formats/pdf/index.tsx
  apps/web/app/[locale]/reports/weekly-limit/page.tsx
Labels: feature, WEB, Ever Teams

#3719 [Feature] Weekly limit Report | Export data grouped by employee
  apps/web/app/[locale]/reports/weekly-limit/components/weekly-limit-report-export-menu.tsx
  apps/web/app/[locale]/reports/weekly-limit/export-formats/pdf/grouped-by-employee.tsx
  apps/web/app/[locale]/reports/weekly-limit/export-formats/pdf/index.tsx
  apps/web/app/[locale]/reports/weekly-limit/page.tsx
Labels: feature, WEB, Ever Teams

#3720 [Feat]: Enhance Empty States with Animated data visualization
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-application/ProductivityApplicationTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/states.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
  apps/web/app/[locale]/projects/components/project-views/grid-view/index.tsx
  apps/web/app/[locale]/projects/components/project-views/list-view/data-table.tsx
  apps/web/app/[locale]/time-and-activity/Components/ActivityTable.tsx
  apps/web/app/[locale]/time-and-activity/Components/EmptyTimeActivity.tsx
  apps/web/app/[locale]/time-and-activity/page.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetDetailModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/components/ui/AnimatedDataSvg.tsx
  apps/web/components/ui/empty-state.tsx
Labels: feature, UI/UX, WEB, Ever Teams

#3723 [Task] Implement search on the team tasks list and column views
  apps/web/app/[locale]/team/tasks/page.tsx
  apps/web/app/hooks/features/useOrganizationTeamManagers.ts
  apps/web/components/pages/team/tasks/TaskTable.tsx
  apps/web/components/pages/team/tasks/columns.tsx
  apps/web/components/pages/team/tasks/tasks-data-table.tsx
  apps/web/lib/components/pagination.tsx
Labels: enhancement, feature, UI/UX, WEB, Improvement, Ever Teams

#3725 [Feat]: Add Skeleton Loading State for project list
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/[locale]/projects/components/project-views/list-view/data-table.tsx
  apps/web/app/[locale]/projects/components/project-views/list-view/list-skeleton.tsx
Labels: feature, UI/UX, WEB, Improvement, Ever Teams

#3728 [Fix]: Improve project dropdown menu positioning
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
Labels: WEB, Improvement, Ever Teams, Bug fix

#3733 [Fix]: (Task card) Tabs and tasks cards in the container UI - issue (#3732)
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-activity.tsx
Labels: UI/UX

#3734 chore(web): Update dotenv configuration to load multiple environment …
  apps/web/env.js
  apps/web/next.config.js
Labels: chore

#3744 [Fix]: UI - The color picker input overlapping the profile dropdown
  apps/web/lib/settings/team-setting-form.tsx
Labels: UI/UX, Bug fix

#3747 [Fix]: UI/UX - Menu dropdown from task card is not fully visible issue-(#3738)
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-activity.tsx
  apps/web/lib/features/team/user-team-card/user-team-card-menu.tsx
Labels: Bug fix

#3748 [Improvement]: Phone number input should accept international numbers - issue(#3737)
  apps/web/lib/components/inputs/international-phone-Input.tsx
  apps/web/lib/settings/personal-setting-form.tsx
  apps/web/styles/globals.css
  package.json
  yarn.lock
Labels: UI/UX, WEB, Improvement

#3759 [CHORE]: Add issue templates for bug reports and feature requests
  .cspell.json
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: Improvement

#3753 [Update] - WEB: International phone number package
  .cspell.json
  apps/web/lib/components/inputs/international-phone-Input.tsx
  apps/web/lib/settings/personal-setting-form.tsx
  apps/web/styles/globals.css
  package.json
  yarn.lock
Labels: Improvement

#3756 [Core][Mobile]: Upgrade Dependencies and Resolve Minor Bugs
  .cspell.json
  apps/mobile/app.json
  apps/mobile/app/config/config.dev.ts
  apps/mobile/app/screens/Authenticated/SettingScreen/Personal/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/BottomSheetContent.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/components/LanguageForm.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/index.tsx
  apps/mobile/app/services/reactotron/reactotron.ts
  apps/mobile/app/services/reactotron/reactotronClient.ts
  apps/mobile/package.json
  apps/mobile/yarn.lock
Labels: MOBILE, dependencies, Bug fix

#3763 [Fix][mobile]: fix the teams and tasks not fetch issue
  apps/mobile/app/components/HeaderTimer.tsx
  apps/mobile/app/models/task/TaskStore.ts
  apps/mobile/app/services/client/queries/organizationTeam/organization.ts
  apps/mobile/app/services/client/queries/task/tasks.ts
  apps/mobile/app/services/client/requests/organization-team.ts
  apps/mobile/app/services/client/requests/tasks.ts
  apps/mobile/app/services/hooks/features/useTaskStatics.ts
  apps/mobile/app/services/hooks/features/useTeamMemberCard.ts
Labels: MOBILE, Improvement, Bug fix

#3776 Fix broken Docker build due to Yarn Workspaces in monorepo
  .gitignore
  Dockerfile
Labels: Ever Teams, Bug fix
