Repository ever-co/ever-teams, pull requests merged in 2025-07, with the labels that each got.

#3912 [Refactor] Improve api calls in useTimer hook \ update query keys
  apps/web/core/hooks/activities/use-timer.ts
  apps/web/core/hooks/organizations/teams/use-organization-teams-employee.ts
  apps/web/core/hooks/organizations/teams/use-organization-teams.ts
  apps/web/core/query/keys/index.ts
Labels: WEB, Improvement, Ever Teams, refactoring

#3935 [Fix] Fix pagination component
  apps/web/app/[locale]/(main)/(teams)/team/tasks/page.tsx
  apps/web/app/[locale]/(main)/reports/weekly-limit/page.tsx
  apps/web/core/components/duplicated-components/_pagination.tsx
  apps/web/core/components/pages/dashboard/app-url/productivity-application/productivity-application-table.tsx
  apps/web/core/components/pages/dashboard/app-url/productivity-employee/productivity-employee-table.tsx
  apps/web/core/components/pages/dashboard/app-url/productivity-project/index.tsx
  apps/web/core/components/pages/dashboard/app-url/productivity-table.tsx
  apps/web/core/components/pages/projects/project-views/grid-view/index.tsx
  apps/web/core/components/pages/projects/project-views/list-view/index.tsx
  apps/web/core/components/teams/invite/invitation-table.tsx
  apps/web/core/components/teams/member-table.tsx
  apps/web/core/hooks/common/use-pagination.ts
Labels: WEB, Ever Teams

#3936 [Fix] Fix Hydration Issues, Missing Time Logs, and Duplicate Toasts on Timesheet Page
  apps/web/core/components/pages/timesheet/timesheet-page-content.tsx
  apps/web/core/components/pages/timesheet/timesheet-view.tsx
Labels: WEB, Ever Teams, Bug fix

#3937 ETP-30-and-ETP-31/fix unexpected reset of task creation state on dropdown change
  apps/web/core/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/core/components/tasks/task-input.tsx
  apps/web/core/hooks/tasks/use-task-input.ts
Labels: WEB, Ever Teams, Bug fix

#3944 [FIX] Fix pagination component | Item per page drop down
  apps/web/app/[locale]/(main)/(teams)/team/tasks/page.tsx
  apps/web/core/components/duplicated-components/_pagination.tsx
  apps/web/core/components/pages/dashboard/team-dashboard/team-stats-table.tsx
  apps/web/core/components/settings/page-dropdown.tsx
  apps/web/core/components/settings/page-items.tsx
  apps/web/core/constants/config/constants.tsx
Labels: WEB, Ever Teams, Bug fix

#3945 Fix etp 41/task detail page issues
  .cspell.json
  apps/web/app/[locale]/(main)/task/[id]/page.tsx
  apps/web/core/components/pages/task/child-issue-card.tsx
  apps/web/core/components/pages/task/description-block/task-description-editor.tsx
  apps/web/core/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/core/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/core/components/pages/task/issue-card.tsx
  apps/web/core/components/pages/task/parent-task.tsx
  apps/web/core/components/pages/task/task-activity.tsx
  apps/web/core/components/pages/task/task-details.tsx
  apps/web/core/components/pages/task/title-block/task-title-block.tsx
  apps/web/core/components/tasks/task-input.tsx
  apps/web/core/components/tasks/task-issue.tsx
  apps/web/core/components/tasks/task-linked-issue.tsx
  apps/web/core/components/tasks/user-task-activity.tsx
  apps/web/core/hooks/tasks/use-active-task-status.ts
  apps/web/core/hooks/tasks/use-task-status.ts
  apps/web/core/lib/helpers/text-editor-service.ts
  apps/web/core/stores/tasks/index.ts
  apps/web/core/stores/tasks/task-optimistic-updates.ts
  apps/web/core/types/schemas/task/task.schema.ts
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
  apps/web/package.json
  yarn.lock
Labels: WEB, Improvement, Ever Teams, Bug fix

#3946 [Fix] Fix task input value on task creation
  apps/web/core/components/tasks/task-input.tsx
Labels: WEB, Ever Teams, Bug fix

#3948 Fix Dashboard Header Data Display
  apps/web/app/[locale]/(main)/dashboard/app-url/[teamId]/page.tsx
  apps/web/core/components/features/manual-time/add-manual-time-modal.tsx
  apps/web/core/components/pages/time-and-activity/activity-table.tsx
  apps/web/core/components/pages/time-and-activity/earnings-cell.tsx
  apps/web/core/components/pages/time-and-activity/page-component.tsx
  apps/web/core/components/pages/time-and-activity/time-activity-table.tsx
  apps/web/core/hooks/activities/use-time-activity-stats.ts
Labels: Improvement

#3951 [Fix Bugs] Fix UI / UX errors on account creation / login flow / OTP login flow
  apps/web/core/components/pages/auth/passcode/page-component.tsx
  apps/web/core/components/pages/auth/password/page-component.tsx
  apps/web/core/hooks/auth/use-authentication-passcode.ts
  apps/web/core/hooks/auth/use-authentication-password.ts
  apps/web/core/services/client/api-error.service.ts
  apps/web/core/services/client/api.service.ts
  apps/web/core/types/generics/services.ts
Labels: WEB, Improvement, Ever Teams, Bug fix

#3954 Feat etp 39/implement export functionality on time and activity page
  apps/web/core/components/auth/must-be-a-manager.tsx
  apps/web/core/components/pages/time-and-activity/date-range-picker-time-activity.tsx
  apps/web/core/components/pages/time-and-activity/export/export-progress-modal.tsx
  apps/web/core/components/pages/time-and-activity/export/index.ts
  apps/web/core/components/pages/time-and-activity/export/time-activity-by-member-pdf.tsx
  apps/web/core/components/pages/time-and-activity/export/time-activity-export-menu.tsx
  apps/web/core/components/pages/time-and-activity/export/time-activity-pdf.tsx
  apps/web/core/components/pages/time-and-activity/page-component.tsx
  apps/web/core/components/pages/time-and-activity/time-activity-header.tsx
  apps/web/core/hooks/activities/use-export-progress.ts
  apps/web/core/hooks/activities/use-time-activity-export.ts
  apps/web/core/hooks/activities/use-time-activity-stats.ts
  apps/web/core/hooks/activities/use-timesheet.ts
  apps/web/core/lib/config/export-config.ts
  apps/web/core/lib/utils/export-utils.ts
Labels: enhancement, feature, WEB, Improvement, Ever Teams

#3970 refactor: Enhance virtualization and error handling in task comp…
  apps/web/core/components/activities/optimized-task-accordion.tsx
  apps/web/core/components/common/virtualized-list.tsx
  apps/web/core/hooks/common/use-tanstack-virtual.ts
Labels: Bug fix
