Repository ever-co/ever-teams, pull requests merged in 2025-02, with the labels that each got.

#3569 [Fix]: Label Button Border in Dark Theme
  apps/web/lib/features/auth-user-task-input.tsx
  apps/web/lib/features/task/task-input-kanban.tsx
Labels: UI/UX, Improvement, Ever Teams

#3556 [Improvement] Team Dashboard | Card Data & UI
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-chart.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-grid.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetCard.tsx
Labels: UI/UX, WEB, Improvement, Ever Teams

#3558 [Feat]: Improve kanban issue selector
  apps/web/app/[locale]/kanban/page.tsx
Labels: bug, Bug fix

#3559 [Feat]: Improve Task title block UI
  apps/web/components/pages/task/title-block/task-title-block.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-issue.tsx
Labels: UI/UX, WEB, Improvement, Ever Teams

#3563 Fix: Correct Text for Collapsed and Expanded Card States
  apps/web/lib/components/Kanban.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: UI/UX, Improvement, Ever Teams

#3565 [Fix]: Correct Alignment of "Kanban Board Not Found" Card
  apps/web/lib/components/Kanban.tsx
  apps/web/lib/features/team-members-kanban-view.tsx
Labels: UI/UX, Improvement, Ever Teams

#3557 [Feat]: Timesheet Statistics api types
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-grid.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/api/timesheet/statistics/counts/route.ts
  apps/web/app/api/timesheet/time-log/report/daily/route.ts
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
  apps/web/components/pages/task/ParentTask.tsx
Labels: feature, WEB, Ever Teams

#3573 [Fix]: Buttons Displaying Two Borders on Kanban Page
  apps/web/app/[locale]/kanban/page.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: UI/UX, Improvement, Ever Teams

#3577 [FIX]: Buttons Moving Out of Container on Task Detail Page
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
Labels: Improvement, Ever Teams

#3578 [Refactor] Profile page | visited apps tab UI
  apps/web/app/helpers/array-data.ts
  apps/web/app/interfaces/timer/ITimerApp.ts
  apps/web/lib/components/progress-bar.tsx
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/app-visited-Item.tsx
  apps/web/lib/features/activity/screenshoots.tsx
Labels: enhancement, UI/UX, WEB, Improvement, Ever Teams

#3582 [Refactor] Profile page | Implement the new design for visited sites tab
  apps/web/app/helpers/date.ts
  apps/web/lib/features/activity/apps.tsx
  apps/web/lib/features/activity/components/visited-Item.tsx
  apps/web/lib/features/activity/components/visited-item-skeleton.tsx
  apps/web/lib/features/activity/visited-sites.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, UI/UX, WEB, Ever Teams

#3584 [Fix]: Correct Spacing Around Search Bar
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/user-profile-tasks.tsx
Labels: UI/UX, Improvement

#3586 [Feat]: Date picker settings init
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/date-range-picker.tsx
Labels: feature, WEB, Ever Teams

#3587 [Fix]: Correct Border For Label Button
  apps/web/lib/features/auth-user-task-input.tsx
Labels: Ever Teams

#3589 [Improvement]: Fix Confirmation Popup Alignment and Z-Axis Positioning
  apps/web/lib/components/dropdown.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-item.tsx
Labels: UI/UX, Improvement, Ever Teams

#3590 [Feat]: Improve timesheet and Activity reporting
  apps/server-web/release/app/yarn.lock
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/activity-modal.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-dashboard-filter.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-chart.tsx
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  yarn.lock
Labels: feature, WEB, Improvement, Ever Teams, Timesheets

#3601 [Feat]: Add role-based access control for team dashboard
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/dashboard-header.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-dashboard-filter.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/hooks/features/useReportActivity.ts
Labels: feature, WEB, Improvement, Ever Teams

#3600 Feat(i18n): Add translations for team dashboard
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-grid.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3603 [Feat]: reusable sort component
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
  apps/web/app/hooks/useSortableData.ts
  apps/web/components/ui/sort-popover.tsx
Labels: feature, Improvement, Ever Teams

#3602 [Fix]: improve timesheet pagination CSS styling
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetPagination.tsx
Labels: UI/UX, WEB, Improvement, Ever Teams, Bug fix

#3606 [Feat]: Implement productivity table for app usage statistics
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityChart.tsx
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityHeader.tsx
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityTable.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/dashboard-header.tsx
Labels: feature, UI/UX, WEB, Improvement, Ever Teams

#3607 [Feat]: Activity Report Implementation
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/api/timesheet/activity/report/route.ts
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/app/interfaces/activity/IActivityReport.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
Labels: feature, WEB, Improvement, Ever Teams

#3609 [Fix]: Update Select Components in manual time modal
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityTable.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/CompactTimesheetComponent.tsx
  apps/web/lib/features/manual-time/add-manual-time-modal.tsx
Labels: WEB, Ever Teams, Bug fix

#3599 [Feature] Projects management | Search and filter projects in the list and grid page
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/filters-card-modal.tsx
  apps/web/app/[locale]/projects/components/multi-select-with-search.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/services/client/api/organization-projects.ts
  apps/web/components/nav-projects.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3594 [Feature] Projects management | View projects in grid and list view
  apps/web/app/[locale]/projects/[id]/page.tsx
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/filters-card-modal.tsx
  apps/web/app/[locale]/projects/components/grid-item.tsx
  apps/web/app/[locale]/projects/components/multi-select-with-search.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/[locale]/projects/page.tsx
  apps/web/app/[locale]/reports/weekly-limit/page.tsx
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/interfaces/IOrganizationTeam.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/services/client/api/organization-projects.ts
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-main.tsx
  apps/web/components/nav-projects.tsx
  apps/web/components/shared/avatar-stack.tsx
  apps/web/components/shared/date-range-select.tsx
  apps/web/components/shared/export-mode-select.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3613 [Feat]: Report Activity Data productivity
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/dashboard/app-url/components/GroupBySelect.tsx
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityTable.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/dashboard-header.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/lib/features/unverified-email.tsx
Labels: feature, WEB, Improvement, Timesheets

#3614 [Feat]: Enhance team stats table loading state
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
Labels: feature, UI/UX, WEB, Improvement, Ever Teams

#3616 [Feat]: Productivity project table view
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/dashboard/app-url/components/GroupBySelect.tsx
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-employee/ProductivityEmployeeTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/components.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/index.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/states.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/types.ts
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/utils.ts
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/app/interfaces/activity/IActivityReport.ts
Labels: feature, WEB, Improvement, Ever Teams

#3615 [Feature] Projects management | Create New Project
  .cspell.json
  apps/web/app/[locale]/projects/components/multi-select-with-search.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/hooks/features/useTags.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/interfaces/IRoles.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/services/client/api/projects.ts
  apps/web/app/services/client/api/tags.ts
  apps/web/app/services/server/requests/project.ts
  apps/web/app/stores/tags.ts
  apps/web/components/ui/select.tsx
  apps/web/lib/features/project/add-or-edit-project/container.tsx
  apps/web/lib/features/project/add-or-edit-project/index.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/basic-information-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/categorization-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/financial-settings-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/review-summary.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/team-and-relations-form.tsx
  apps/web/lib/features/project/add-or-edit-project/text-editor/index.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3618 Feat(productivity): improve report functionality and performance
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-employee/ProductivityEmployeeTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/index.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/states.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/types.ts
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/utils.ts
  apps/web/app/hooks/features/useReportActivity.ts
Labels: feature, UI/UX, WEB, Ever Teams, Bug fix

#3619 [Improvement] Project management | Improve UX for select with multiple selected values
  apps/web/app/hooks/features/useCurrencies.ts
  apps/web/app/interfaces/currencies.ts
  apps/web/app/interfaces/index.ts
  apps/web/app/services/client/api/currency.ts
  apps/web/app/services/client/api/index.ts
  apps/web/app/stores/currencies.ts
  apps/web/lib/features/project/add-or-edit-project/steps/basic-information-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/categorization-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/financial-settings-form.tsx
Labels: enhancement, WEB, Improvement, Ever Teams

#3622 Feat/productivity table sorting
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityTable.tsx
Labels: feature, WEB, Improvement, Ever Teams

#3620 [Feat]: Apps Url Activity Grouping
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/dashboard/app-url/components/GroupBySelect.tsx
  apps/web/app/[locale]/dashboard/app-url/components/index.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-application/ProductivityApplicationTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-application/activity-bar.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-employee/ProductivityEmployeeTable.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/dashboard-header.tsx
  apps/web/app/hooks/features/useReportActivity.ts
Labels: feature, WEB, Improvement, Ever Teams, Bug fix

#3623 [Feature] Project management | Delete a project
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/filters-card-modal.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/services/client/api/organization-projects.ts
  apps/web/components/app-sidebar.tsx
  apps/web/lib/features/project/add-or-edit-project/container.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/basic-information-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/financial-settings-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/review-summary.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/team-and-relations-form.tsx
  apps/web/lib/features/project/delete-confirm-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, feature, WEB, Ever Teams
