Repository ever-co/ever-teams, pull requests merged in 2025-01, with the labels that each got.

#3497 Fix(timesheet): Correct handling of timesheet updates in state
  apps/web/app/[locale]/timesheet/[memberId]/components/AddTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/EditTaskModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/RejectSelectedModal.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimesheet.ts
Labels: bug, feature, Improvement, Ever Teams

#3498 [Feat]:Calendar timesheet selection
  apps/web/app/[locale]/timesheet/[memberId]/components/CalendarView.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/SelectionBar.tsx
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimelogFilterOptions.ts
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/stores/time-logs.ts
Labels: bug, feature, WEB, Ever Teams

#3500 [Feat]: Implement Automatic Offline Page Display
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page-component.tsx
  apps/web/components/offline-wrapper/index.tsx
  apps/web/components/pages/offline/index.tsx
Labels: feature, Improvement, Ever Teams

#3499 [Feat]: Visual Distinction of Days with Time Entries in Date Range Filter
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
Labels: bug, WEB, Ever Teams

#3504 [Fix]: Status Assignment Issue From Dropdown
  apps/web/app/hooks/features/useTaskStatus.ts
  apps/web/lib/components/color-picker.tsx
  apps/web/lib/components/modal.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-status-modal.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/settings/icon-popover.tsx
  apps/web/lib/settings/personal-setting-form.tsx
  apps/web/package.json
  yarn.lock
Labels: WEB, Ever Teams, Bug fix

#3506 [Feat]: Improve Timesheet Display and Functionality
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilterDate.tsx
  apps/web/app/hooks/features/useTimesheet.ts
  apps/web/app/interfaces/IBaseModel.ts
  apps/web/lib/features/integrations/calendar/table-time-sheet.tsx
Labels: feature, WEB, Improvement, Ever Teams, Timesheets

#3516 fix: NextAuth Error
  apps/web/.env
  apps/web/app/constants.ts
  apps/web/auth.ts
Labels: Ever Teams, Bug fix

#3520 [Refactor]: Optimize Timesheet filtering and view logic
  apps/web/app/[locale]/timesheet/[memberId]/page.tsx
  apps/web/app/hooks/features/useTimesheetFilters.ts
  apps/web/app/hooks/features/useTimesheetViewData.ts
Labels: feature, WEB, Improvement, Ever Teams

#3526 Feat | Calendar activity | Legend |Add not hours worked flag
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/lib/features/integrations/activity-calendar/index.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: WEB, Improvement, Ever Teams

#3531 [Fixbug] Add avatar to assignee on task creation (& task input dropdown UIs light/dark mode)
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/ui/svgs/project-icon.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/task/task-status.tsx
Labels: WEB, Ever Teams, Bug fix

#3532 [Feat] Team's tasks | Assigned / Unassigned option
  apps/web/components/pages/team/tasks/DropdownMenuTask.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
  yarn.lock
Labels: feature, WEB, Ever Teams

#3540 [Refactor / Fix] Profile page | Update screenshot tab UI
  apps/web/app/helpers/array-data.ts
  apps/web/app/interfaces/IScreenshoot.ts
  apps/web/lib/components/progress-bar.tsx
  apps/web/lib/features/activity/components/screenshoots-per-hour.tsx
  apps/web/lib/features/activity/components/screenshot-details.tsx
  apps/web/lib/features/activity/components/screenshot-item.tsx
  apps/web/lib/features/activity/screenshoots.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, UI/UX, WEB, Improvement, Ever Teams

#3539 [Fix]: update chart date format to MMM. dd yyyy
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-chart.tsx
Labels: WEB, Improvement, Bug fix

#3542 [Improvement] Screenshots Tab | Use api data
  apps/web/app/interfaces/IProject.ts
  apps/web/app/interfaces/timer/ITimerLogs.ts
  apps/web/app/interfaces/timer/ITimerSlot.ts
  apps/web/app/services/client/api/activity/time-slots.ts
  apps/web/app/services/server/requests/timer/timer-slot.ts
  apps/web/lib/features/activity/components/screenshot-details.tsx
  apps/web/lib/features/activity/components/screenshot-item.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, WEB, Improvement, Ever Teams

#3548 [Feat]: Team Dashboard View Team Activity
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-chart.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/api/timesheet copy/time-log/report/daily-chart/route.ts
  apps/web/app/api/timesheet copy/time-log/report/daily/route.ts
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/app/interfaces/timer/ITimerLog.ts
  apps/web/app/services/client/api/timer/timer-log.ts
  apps/web/app/services/server/requests/timesheet.ts
  apps/web/app/stores/time-logs.ts
Labels: feature, WEB, Improvement, Ever Teams
