Repository ever-co/ever-teams, pull requests merged in 2025-06, with the labels that each got.

#3869 Fix/timesheet page issue
  apps/web/app/[locale]/(main)/timesheet/[memberId]/page.tsx
  apps/web/core/components/pages/timesheet/calendar-view.tsx
  apps/web/core/components/pages/timesheet/table-time-sheet.tsx
  apps/web/core/components/pages/timesheet/timesheet-card.tsx
  apps/web/core/components/pages/timesheet/timesheet-filter-date.tsx
  apps/web/core/components/pages/timesheet/timesheet-filter.tsx
  apps/web/core/components/pages/timesheet/timesheet-view.tsx
  apps/web/core/components/timesheet/filter-with-status.tsx
  apps/web/core/components/timesheet/frequency-select.tsx
  apps/web/core/components/timesheet/timesheet-toggle-view.tsx
  apps/web/core/hooks/activities/use-timesheet-filters.ts
  apps/web/core/hooks/activities/use-timesheet-view-data.ts
  apps/web/core/hooks/activities/use-timesheet.ts
  apps/web/core/lib/helpers/format-date-range.ts
  apps/web/core/services/client/api/timesheets/time-log.service.ts
  apps/web/core/stores/timer/time-logs.ts
Labels: Improvement, Timesheets, Bug fix, performance

#3870 Fix/calendar view weekly monthly on timesheet page
  apps/web/app/[locale]/(main)/timesheet/[memberId]/page.tsx
  apps/web/calendar-view-fix-pull-request.md
  apps/web/core/components/pages/timesheet/timesheet-filter-date.tsx
  apps/web/core/components/timesheet/monthly-timesheet-calendar.tsx
  apps/web/core/components/timesheet/weekly-timesheet-calendar.tsx
  apps/web/core/hooks/activities/use-timesheet.ts
Labels: Improvement, Timesheets, Bug fix

#3871 [Task] Add Zod to validate API service responses , Use TanStack Query | Role, Role permission & Tag
  .cspell.json
  apps/web/app/layout.tsx
  apps/web/core/components/features/projects/add-or-edit-project/steps/categorization-form.tsx
  apps/web/core/components/features/projects/add-or-edit-project/steps/review-summary.tsx
  apps/web/core/components/features/roles/edit-role-dropdown.tsx
  apps/web/core/components/pages/permissions/page-component.tsx
  apps/web/core/components/providers/query-client-provider.tsx
  apps/web/core/components/roles/permission-dropdown.tsx
  apps/web/core/components/roles/role-item.tsx
  apps/web/core/components/teams/member-table.tsx
  apps/web/core/hooks/roles/use-role-permissions.ts
  apps/web/core/hooks/roles/use-roles.ts
  apps/web/core/hooks/tags/use-tags.ts
  apps/web/core/query/config/index.ts
  apps/web/core/query/keys/.gitkeep
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/roles/role-permission.service.ts
  apps/web/core/services/client/api/roles/role.service.ts
  apps/web/core/services/client/api/tags/tag.service.ts
  apps/web/core/stores/auth/role-permissions.ts
  apps/web/core/stores/auth/roles.ts
  apps/web/core/stores/tags/tags.ts
  apps/web/core/types/interfaces/project/organization-project.ts
  apps/web/core/types/schemas/README.md
  apps/web/core/types/schemas/common/base.schema.ts
  apps/web/core/types/schemas/common/enums.schema.ts
  apps/web/core/types/schemas/common/image-asset.schema.ts
  apps/web/core/types/schemas/common/tenant-organization.schema.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/organization/employee.schema.ts
  apps/web/core/types/schemas/organization/organization.schema.ts
  apps/web/core/types/schemas/organization/user-organization.schema.ts
  apps/web/core/types/schemas/role/role-permission-schema.ts
  apps/web/core/types/schemas/role/role.schema.ts
  apps/web/core/types/schemas/tag/tag.schema.ts
  apps/web/core/types/schemas/team/organization-team-employee.schema.ts
  apps/web/core/types/schemas/team/organization-team.schema.ts
  apps/web/core/types/schemas/timer/timer-status.schema.ts
  apps/web/core/types/schemas/utils/validation.ts
  apps/web/package.json
  yarn.lock
Labels: feature, WEB, Ever Teams

#3873 [Feat]-Web: Enhance currency management with React Query
  apps/web/core/hooks/common/use-currencies.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/currencies/currency.service.ts
  apps/web/core/services/client/api/roles/role-permission.service.ts
  apps/web/core/services/client/api/roles/role.service.ts
  apps/web/core/services/client/api/tags/tag.service.ts
  apps/web/core/types/interfaces/common/currency.ts
  apps/web/core/types/schemas/common/currency.schema.ts
  apps/web/core/types/schemas/index.ts
Labels: WEB, Improvement, Ever Teams, performance

#3877 [Feat] Implement zod validation for task status services
  apps/web/core/components/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/core/components/features/tasks/delete-status-confirmation-modal.tsx
  apps/web/core/components/features/tasks/edit-status-modal.tsx
  apps/web/core/components/pages/kanban/sort-tasks-status-settings.tsx
  apps/web/core/components/pages/kanban/team-members-kanban-view.tsx
  apps/web/core/components/pages/projects/project-views/grid-view/grid-item.tsx
  apps/web/core/components/pages/projects/project-views/list-view/data-table.tsx
  apps/web/core/components/projects/filters-card-modal.tsx
  apps/web/core/components/tasks/task-status.tsx
  apps/web/core/components/tasks/task-statuses-form.tsx
  apps/web/core/hooks/tasks/use-kanban.ts
  apps/web/core/hooks/tasks/use-task-status.ts
  apps/web/core/services/client/api/tasks/task-status.service.ts
  apps/web/core/stores/tasks/task-status.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/task/task-status.schema.ts
Labels: feature, WEB, Ever Teams

#3876 [Feat]-Web: migrate integrations to react query
  apps/web/calendar-view-fix-pull-request.md
  apps/web/core/hooks/integrations/use-github-integration.ts
  apps/web/core/hooks/integrations/use-integration-tenant.ts
  apps/web/core/hooks/integrations/use-integration-types.ts
  apps/web/core/hooks/integrations/use-integration.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/integrations/github.service.ts
  apps/web/core/services/client/api/integrations/integration-tenant.service.ts
  apps/web/core/services/client/api/integrations/integration.service.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/integrations/github.schema.ts
  apps/web/core/types/schemas/integrations/integration-tenant.schema.ts
  apps/web/core/types/schemas/integrations/integration-type.schema.ts
  apps/web/core/types/schemas/integrations/integration.schema.ts
Labels: WEB, Improvement, Ever Teams, performance

#3878 [Feat] Implement zod validation for task size and task priority services
  apps/web/core/components/tasks/task-priorities-form.tsx
  apps/web/core/components/tasks/task-sizes-form.tsx
  apps/web/core/hooks/tasks/use-issue-types.ts
  apps/web/core/hooks/tasks/use-task-labels.ts
  apps/web/core/hooks/tasks/use-task-priorities.ts
  apps/web/core/hooks/tasks/use-task-related-issue-type.ts
  apps/web/core/hooks/tasks/use-task-sizes.ts
  apps/web/core/hooks/tasks/use-task-status.ts
  apps/web/core/hooks/tasks/use-task-version.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/tasks/task-priority.service.ts
  apps/web/core/services/client/api/tasks/task-size.service.ts
  apps/web/core/stores/tasks/task-priorities.ts
  apps/web/core/stores/tasks/task-sizes.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/task/task-priority.schema.ts
  apps/web/core/types/schemas/task/task-size.schema.ts
Labels: feature, WEB, Ever Teams

#3885 [Feat] Web migrate manual time to react query and fix Add time modal and date report
  apps/web/app/[locale]/(main)/calendar/page.tsx
  apps/web/core/components/common/calendar.tsx
  apps/web/core/components/common/color-picker.tsx
  apps/web/core/components/common/language-dropdown-flags.tsx
  apps/web/core/components/common/loader.tsx
  apps/web/core/components/common/modal.tsx
  apps/web/core/components/common/multiple-select.tsx
  apps/web/core/components/common/popover.tsx
  apps/web/core/components/common/select-items.tsx
  apps/web/core/components/common/sidebar.tsx
  apps/web/core/components/common/sonner.tsx
  apps/web/core/components/features/daily-plan/add-task-to-plan.tsx
  apps/web/core/components/features/layouts/header/create-default-action.tsx
  apps/web/core/components/features/manual-time/add-manual-time-modal.tsx
  apps/web/core/components/features/tasks/edit-task-modal.tsx
  apps/web/core/components/features/timesheet/add-mask-modal.tsx
  apps/web/core/components/layouts/app-sidebar.tsx
  apps/web/core/components/tasks/custom-dropdown.tsx
  apps/web/core/components/tasks/kanban.tsx
  apps/web/core/components/tasks/task-input.tsx
  apps/web/core/hooks/activities/use-manual-time.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api-factory.ts
  apps/web/core/services/client/api/timesheets/time-log.service.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/timer/time-log.schema.ts
  apps/web/styles/globals.css
Labels: Improvement, Bug fix, performance

#3884 [Refactor] Separate jotai state updates from react query
  apps/web/core/hooks/common/use-has-mounted.ts
  apps/web/core/hooks/roles/use-role-permissions.ts
  apps/web/core/hooks/roles/use-roles.ts
  apps/web/core/hooks/tags/use-tags.ts
  apps/web/core/hooks/tasks/use-issue-types.ts
  apps/web/core/hooks/tasks/use-task-labels.ts
  apps/web/core/hooks/tasks/use-task-priorities.ts
  apps/web/core/hooks/tasks/use-task-related-issue-type.ts
  apps/web/core/hooks/tasks/use-task-sizes.ts
  apps/web/core/hooks/tasks/use-task-status.ts
  apps/web/core/hooks/tasks/use-task-version.ts
Labels: enhancement, WEB, Ever Teams

#3887 [Refactor]-Web: Migrate employee hooks to React Query and enhance type safety
  apps/web/core/hooks/organizations/employees/use-employee.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/auth/register.service.ts
  apps/web/core/services/client/api/organizations/teams/employee.service.ts
  apps/web/core/stores/user/employee.ts
  apps/web/core/types/schemas/organization/employee.schema.ts
  apps/web/core/types/schemas/team/organization-team-employee.schema.ts
Labels: WEB, Improvement, Ever Teams

#3888 Feat/migrate team invitation to react query
  apps/web/core/components/auth/auth-user-task-input.tsx
  apps/web/core/components/features/teams/invite-form-modal.tsx
  apps/web/core/components/features/teams/invite-modal.tsx
  apps/web/core/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/core/components/teams/invite/invitation-table.tsx
  apps/web/core/components/teams/invite/invited-card.tsx
  apps/web/core/components/teams/invite/user-invite-card.tsx
  apps/web/core/hooks/organizations/teams/use-team-invitations.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/languages/language.service.ts
  apps/web/core/services/client/api/organizations/teams/invites/invite.service.ts
  apps/web/core/services/server/requests/invite.ts
  apps/web/core/stores/auth/invitations.ts
  apps/web/core/types/interfaces/user/user.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/organization/employee.schema.ts
  apps/web/core/types/schemas/organization/organization.schema.ts
  apps/web/core/types/schemas/team/organization-team-employee.schema.ts
  apps/web/core/types/schemas/user/invite.schema.ts
Labels: WEB, Improvement, Ever Teams

#3891 feat(web): Refactor useTimeSlots hook to utilize React Query and enha…
  apps/web/core/components/common/spinner.tsx
  apps/web/core/components/pages/profile/screenshots/screenshoots-per-hour.tsx
  apps/web/core/components/pages/profile/screenshots/screenshot-details.tsx
  apps/web/core/components/pages/profile/screenshots/screenshot-item.tsx
  apps/web/core/hooks/activities/use-time-slots.ts
  apps/web/core/lib/helpers/array-data.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/timesheets/statistic.service.ts
  apps/web/core/services/client/api/timesheets/time-slot.service.ts
  apps/web/core/stores/timer/time-slot.ts
  apps/web/core/types/schemas/activities/activity.schema.ts
  apps/web/core/types/schemas/common/base.schema.ts
  apps/web/core/types/schemas/common/currency.schema.ts
  apps/web/core/types/schemas/common/language.schema.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/integrations/integration-tenant.schema.ts
  apps/web/core/types/schemas/integrations/integration-type.schema.ts
  apps/web/core/types/schemas/integrations/integration.schema.ts
  apps/web/core/types/schemas/role/role.schema.ts
  apps/web/core/types/schemas/timer/time-log.schema.ts
  apps/web/core/types/schemas/timer/time-slot.schema.ts
  apps/web/core/types/schemas/user/user.schema.ts
Labels: enhancement, WEB, Improvement, Ever Teams

#3895 refactor(web): Optimize language settings hook for improved performance and stability
  apps/web/core/hooks/common/use-language-settings.ts
Labels: WEB, Improvement, Ever Teams, Bug fix, performance

#3896 Feat/migrate request to join team hook to react query
  .cspell.json
  apps/web/core/components/features/daily-plan/create-daily-plan-form-modal.tsx
  apps/web/core/components/features/teams/invite-modal.tsx
  apps/web/core/components/features/teams/request-to-join-modal.tsx
  apps/web/core/components/pages/integration/github/page-component.tsx
  apps/web/core/components/tasks/task-card.tsx
  apps/web/core/components/teams/invite/invitation-table.tsx
  apps/web/core/components/teams/invite/invited-card.tsx
  apps/web/core/components/users/user-nav-menu.tsx
  apps/web/core/hooks/organizations/teams/use-request-to-join-team.ts
  apps/web/core/hooks/organizations/teams/use-team-invitations.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/organizations/teams/request-to-join-team.service.ts
  apps/web/core/types/schemas/common/base.schema.ts
  apps/web/core/types/schemas/index.ts
  apps/web/core/types/schemas/team/request-to-join.schema.ts
  apps/web/core/types/schemas/user/invite.schema.ts
Labels: WEB, Improvement, Ever Teams, Bug fix, performance

#3898 [Refactor] Migrate activity report api calls to react query
  apps/web/core/hooks/activities/use-report-activity.ts
  apps/web/core/hooks/activities/use-time-daily-activity.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/activities/activity.service.ts
  apps/web/core/types/interfaces/activity/activity-report.ts
Labels: enhancement, refactoring

#3899 [Refactor] Migrate board and image assets api calls to use react query
  apps/web/core/components/features/projects/add-or-edit-project/container.tsx
  apps/web/core/hooks/board/use-board.ts
  apps/web/core/hooks/common/index.ts
  apps/web/core/hooks/common/use-image-assets.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/common/image-assets.service.ts
  apps/web/core/services/client/api/common/index.ts
  apps/web/core/services/client/api/index.ts
  apps/web/core/types/interfaces/common/image-asset.ts
  apps/web/core/types/interfaces/project/organization-project.ts
  apps/web/core/types/interfaces/team/organization-team.ts
  apps/web/core/types/schemas/common/image-asset.schema.ts
Labels: WEB, Ever Teams, refactoring

#3903 Feat/migrate use organization teams employee to react query
  apps/web/core/components/pages/teams/team/team-members-views/team-members-card-view.tsx
  apps/web/core/hooks/organizations/teams/use-organization-teams-employee.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/organizations/teams/team-employee.service.ts
Labels: enhancement, WEB, Improvement, Ever Teams, refactoring

#3902 [Feat]-Web: Migrate `useAuthenticateUser` to react-query
  apps/web/.gitignore
  apps/web/core/components/analytics/jitsu-analytics.tsx
  apps/web/core/components/common/unverified-email.tsx
  apps/web/core/components/pages/dashboard/dashboard-header.tsx
  apps/web/core/components/pages/dashboard/team-dashboard-filter.tsx
  apps/web/core/components/pages/timesheet/table-time-sheet.tsx
  apps/web/core/components/pages/timesheet/timesheet-filter.tsx
  apps/web/core/components/pages/timesheet/timesheet-view.tsx
  apps/web/core/components/teams/team-outstanding-notifications.tsx
  apps/web/core/hooks/auth/use-authenticate-user.ts
  apps/web/core/hooks/organizations/teams/use-team-member.ts
  apps/web/core/lib/helpers/cookies/index.ts
  apps/web/core/services/client/api/timers/timer.service.ts
  apps/web/core/types/interfaces/user/user.ts
Labels: enhancement, Improvement, performance

#3901 [Refactor] Migrate daily plans api calls to use react query
  apps/web/core/hooks/daily-plans/use-daily-plan.ts
  apps/web/core/query/keys/index.ts
Labels: WEB, Ever Teams, refactoring

#3907 Fix/invitation data render
  apps/web/app/[locale]/page-component.tsx
  apps/web/core/components/activities/timesheet-skeleton.tsx
  apps/web/core/components/duplicated-components/_input.tsx
  apps/web/core/components/duplicated-components/teams-dropdown.tsx
  apps/web/core/components/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/core/components/pages/profile/user-profile-tasks.tsx
  apps/web/core/components/pages/teams/team/team-members-views/team-members-block-view.tsx
  apps/web/core/components/pages/teams/team/team-members-views/team-members-card-view.tsx
  apps/web/core/components/pages/teams/team/team-members-views/team-members-header.tsx
  apps/web/core/components/pages/teams/team/team-members-views/user-team-card/index.tsx
  apps/web/core/components/pages/teams/team/team-members-views/user-team-card/user-info.tsx
  apps/web/core/components/pages/teams/team/team-members-views/user-team-table/team-members-table-view.tsx
  apps/web/core/components/pages/teams/team/team-members.tsx
  apps/web/core/components/pages/timesheet/table-time-sheet.tsx
  apps/web/core/components/pages/timesheet/timesheet-card.tsx
  apps/web/core/components/pages/timesheet/timesheet-detail-modal.tsx
  apps/web/core/components/tasks/kanban.tsx
  apps/web/core/components/tasks/task-card.tsx
  apps/web/core/components/tasks/task-input.tsx
  apps/web/core/components/tasks/task-items.tsx
  apps/web/core/components/teams/invite/user-invite-card.tsx
  apps/web/core/components/teams/team-outstanding-notifications.tsx
  apps/web/core/hooks/organizations/teams/use-team-invitations.ts
  apps/web/core/hooks/tasks/use-timer-button.ts
  apps/web/core/types/interfaces/task/task-card.ts
  apps/web/core/types/interfaces/user/invite.ts
Labels: Bug fix

#3904 [Refactor] Migrate team tasks api calls to use react query
  apps/web/core/components/activities/user-team-card-activity.tsx
  apps/web/core/components/activities/user-worked-task.tsx
  apps/web/core/components/pages/profile/screenshots/screenshot-details.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/users-teams-block/user-team-active-task-times.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/users-teams-block/user-team-active-task.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/users-teams-block/user-team-task-estimate.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/users-teams-card/user-card.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/users-teams-card/user-team-active-task-times.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/users-teams-card/user-team-active-task.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/users-teams-card/user-team-task-estimate.tsx
  apps/web/core/components/pages/teams/team/team-members-views/user-team-card/index.tsx
  apps/web/core/components/tasks/task-default-status.tsx
  apps/web/core/components/tasks/task-input-kanban.tsx
  apps/web/core/components/tasks/task-input.tsx
  apps/web/core/components/tasks/task-priorities-form.tsx
  apps/web/core/components/tasks/task-status.tsx
  apps/web/core/hooks/organizations/teams/use-team-tasks.ts
  apps/web/core/hooks/tasks/use-task-filter.ts
  apps/web/core/hooks/tasks/use-task-input.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/organizations/teams/team-employee.service.ts
  apps/web/core/services/client/api/tasks/task.service.ts
  apps/web/core/types/generics/enums/task.ts
  apps/web/core/types/schemas/tag/tag.schema.ts
  apps/web/core/types/schemas/task/task.schema.ts
Labels: WEB, Ever Teams, refactoring

#3911 [Feat]-Web: improve kanban and dashboard with pdf export and skeletons
  apps/web/app/[locale]/(main)/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/(main)/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/[locale]/(main)/kanban/page.tsx
  apps/web/app/[locale]/(main)/settings/personal/page.tsx
  apps/web/core/components/common/data-table.tsx
  apps/web/core/components/common/skeleton/accordion-content-skeleton.tsx
  apps/web/core/components/common/skeleton/auth-user-task-input-skeleton.tsx
  apps/web/core/components/common/skeleton/chart-skeleton.tsx
  apps/web/core/components/common/skeleton/dashboard-header-skeleton.tsx
  apps/web/core/components/common/skeleton/export-pdf-skeleton.tsx
  apps/web/core/components/common/skeleton/kanban-card-skeleton.tsx
  apps/web/core/components/common/skeleton/kanban-column-loading-skeleton.tsx
  apps/web/core/components/common/skeleton/kanban-filters-skeleton.tsx
  apps/web/core/components/common/skeleton/kanban-view-skeleton.tsx
  apps/web/core/components/common/skeleton/no-team-skeleton.tsx
  apps/web/core/components/common/skeleton/personal-setting-form-skeleton.tsx
  apps/web/core/components/common/skeleton/productivity-application-table-skeleton.tsx
  apps/web/core/components/common/skeleton/productivity-employee-table-skeleton.tsx
  apps/web/core/components/common/skeleton/productivity-project-table-skeleton.tsx
  apps/web/core/components/common/skeleton/productivity-skeletons.tsx
  apps/web/core/components/common/skeleton/productivity-table-skeleton.tsx
  apps/web/core/components/common/skeleton/settings-personal-skeleton.tsx
  apps/web/core/components/common/skeleton/stats-card-skeleton.tsx
  apps/web/core/components/common/skeleton/task-timer-section-skeleton.tsx
  apps/web/core/components/common/skeleton/team-stats-table-skeleton.tsx
  apps/web/core/components/common/skeleton/working-hours-skeleton.tsx
  apps/web/core/components/icons/icons.tsx
  apps/web/core/components/pages/dashboard/app-url/productivity-application/productivity-application-pdf.tsx
  apps/web/core/components/pages/dashboard/app-url/productivity-header.tsx
  apps/web/core/components/pages/dashboard/app-url/productivity-pdf.tsx
  apps/web/core/components/pages/dashboard/dashboard-header.tsx
  apps/web/core/components/pages/dashboard/export-dialog.tsx
  apps/web/core/components/pages/dashboard/export-menu.tsx
  apps/web/core/components/pages/dashboard/team-dashboard/lazy-components.tsx
  apps/web/core/components/pages/dashboard/team-dashboard/team-stats-grid.tsx
  apps/web/core/components/pages/dashboard/team-dashboard/team-stats-table.tsx
  apps/web/core/components/pages/kanban/team-members-kanban-view.tsx
  apps/web/core/components/pages/profile/screenshots/screenshoots-per-hour-skeleton.tsx
  apps/web/core/components/pages/profile/user-profile-tasks.tsx
  apps/web/core/components/pages/teams/team/team-members-views/user-team-card/index.tsx
  apps/web/core/components/tasks/daily-plan/past-tasks.tsx
  apps/web/core/components/tasks/kanban-card.tsx
  apps/web/core/components/tasks/kanban.tsx
  apps/web/core/components/tasks/task-block-card.tsx
  apps/web/core/components/tasks/task-times.tsx
  apps/web/core/components/timer/timer-status.tsx
  apps/web/core/components/users/user-nav-menu.tsx
  apps/web/core/components/users/user-profile-plans.tsx
  apps/web/core/constants/config/constants.tsx
  apps/web/core/hooks/activities/use-report-activity.ts
  apps/web/styles/globals.css
Labels: Improvement, performance

#3915 Feat/migrate use organization teams to react query
  apps/web/core/components/features/manual-time/add-manual-time-modal.tsx
  apps/web/core/components/pages/teams/team/team-members-views/user-team-card/index.tsx
  apps/web/core/components/tasks/task-card.tsx
  apps/web/core/hooks/activities/use-time-limits.ts
  apps/web/core/hooks/common/use-language-settings.ts
  apps/web/core/hooks/organizations/teams/use-create-organization-team.ts
  apps/web/core/hooks/organizations/teams/use-organization-teams-employee.ts
  apps/web/core/hooks/organizations/teams/use-organization-teams.ts
  apps/web/core/hooks/organizations/teams/use-request-to-join-team.ts
  apps/web/core/hooks/organizations/teams/use-update-organization-team.ts
  apps/web/core/hooks/tasks/use-timer-button.ts
  apps/web/core/services/client/api/organizations/teams/team-employee.service.ts
  apps/web/core/types/schemas/team/organization-team-employee.schema.ts
  apps/web/package.json
  yarn.lock
Labels: enhancement, Improvement, Bug fix, performance
