Repository ever-co/ever-teams, pull requests merged in 2025-05, with the labels that each got.

#3783 [Fix][Mobile]: Fix Task Labels Endpoint and Team Settings Navigation
  apps/mobile/app/navigators/AuthenticatedNavigator.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/Team/index.tsx
  apps/mobile/app/screens/Authenticated/SettingScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskLabelScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskPrioritiesScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskSizeScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/index.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/components/TaskVersionForm.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/index.tsx
  apps/mobile/app/services/client/requests/task-label.ts
  apps/mobile/app/services/hooks/features/useTaskLabels.ts
Labels: MOBILE, Improvement, Bug fix

#3800 [Fix][Mobile]: Fix Multiple Issues in Task Management and Team Settings
  apps/mobile/app/screens/Authenticated/SettingScreen/components/ChangeTeamName.tsx
  apps/mobile/app/screens/Authenticated/TaskStatusScreen/components/TaskStatusForm.tsx
  apps/mobile/app/screens/Authenticated/TaskVersionScreen/components/TaskVersionForm.tsx
  apps/mobile/app/services/client/queries/task/task-status.ts
  apps/mobile/app/services/client/requests/task-status.ts
  apps/mobile/app/services/hooks/features/useTaskStatus.ts
  apps/mobile/app/services/interfaces/ITaskStatus.ts
  apps/web/app/[locale]/auth/password/component.tsx
  apps/web/app/api/task-statuses/route.ts
  apps/web/core/components/settings/task-statuses-form.tsx
  apps/web/core/hooks/features/useTaskStatus.ts
  apps/web/core/services/client/api/task-status.ts
  apps/web/styles/@ever-teams/ui/styles.css
Labels: MOBILE, Improvement, Bug fix

#3802 [Improve-Fix]-WEB Improve and fix build packages into web dev mode
  .codemap/main-panel.json
  apps/web/.env
  apps/web/.env.sample
  apps/web/app/[locale]/layout.tsx
  apps/web/app/layout.tsx
  apps/web/components.json
  apps/web/next.config.js
  apps/web/package.json
  package.json
  packages/constants/package.json
  packages/constants/tsconfig.json
  packages/hooks/package.json
  packages/services/package.json
  packages/services/src/api.service.ts
  packages/services/src/auth/auth.service.ts
  packages/services/src/file/index.ts
  packages/services/src/index.ts
  packages/services/src/user/index.ts
  packages/types/package.json
  packages/types/tsconfig.json
  packages/ui/src/styles/globals.css
  packages/utils/package.json
  yarn.lock
Labels: enhancement, WEB, Improvement

#3808 Fix Task Details UI ISSUE
  apps/web/app/[locale]/(main)/kanban/page.tsx
  apps/web/core/components/button.tsx
  apps/web/core/components/features/daily-plan/task-details.tsx
  apps/web/package.json
  yarn.lock
Labels: UI/UX, WEB, Ever Teams, Bug fix

#3815 [Bug Fix][WEB]: Fix invite code authentication flow and improve security
  apps/web/core/hooks/auth/use-authentication-passcode.ts
  apps/web/core/services/client/api/auth/auth.service.ts
  apps/web/core/types/interfaces/IAuthentication.ts
Labels: WEB, Improvement, Bug fix

#3819 [Fix][Mobile]: Update and the create team flow
  apps/mobile/app/services/client/requests/organization-team.ts
  apps/mobile/app/services/client/requests/project.ts
  apps/mobile/app/services/hooks/use-organization.ts
  apps/mobile/app/services/interfaces/IOrganizationTeam.ts
Labels: MOBILE, Improvement, Bug fix

#3820 [Fix][Mobile]: Assign task screen errors
  apps/mobile/app/screens/authenticated/profile-screen/components/assign-task-section.tsx
  apps/mobile/app/screens/authenticated/team-screen/components/list-card-item.tsx
  apps/mobile/app/screens/authenticated/timer-screen/components/timer-screen-skeleton.tsx
  apps/mobile/app/screens/authenticated/timer-screen/index.tsx
Labels: MOBILE, Improvement, Bug fix

#3823 Refactor/improve api request and web app logging system
  .cspell.json
  .github/PULL_REQUEST_TEMPLATE.md
  apps/web/.env
  apps/web/.env.sample
  apps/web/.gitignore
  apps/web/app/api/log/route.ts
  apps/web/core/constants/config/constants.tsx
  apps/web/core/hooks/common/use-check-api.ts
  apps/web/core/lib/helpers.ts
  apps/web/core/services/api.service.ts
  apps/web/core/services/client/api-error.service.ts
  apps/web/core/services/client/api-factory.ts
  apps/web/core/services/client/api.service.ts
  apps/web/core/services/client/api/auth/auth.service.ts
  apps/web/core/services/client/api/auth/meet-auth/meet-auth.service.ts
  apps/web/core/services/client/api/default.ts
  apps/web/core/services/client/api/organizations/teams/team.service.ts
  apps/web/core/services/client/api/tasks/task.service.ts
  apps/web/core/services/client/api/timers/timer.service.ts
  apps/web/core/services/client/api/timesheets/statistic.service.ts
  apps/web/core/services/client/axios.ts
  apps/web/core/services/logs/logger-adapter.service.ts
  apps/web/core/services/logs/logger-client.ts
  apps/web/core/services/logs/logger-server.ts
  apps/web/core/services/logs/logger.service.ts
  apps/web/core/types/generics/services.ts
Labels: WEB, Improvement, Ever Teams

#3838 Feat/add uci universal command input
  apps/web/core/components/sidebar-command-modal.tsx
  package.json
  yarn.lock
Labels: UI/UX, WEB, Improvement

#3842 Style(dark-mode): Improve Dark theme Support For Input Components
  apps/web/core/components/inputs/international-phone-Input.tsx
  apps/web/core/components/settings/personal-setting-form.tsx
  apps/web/core/components/settings/timezone-dropdown.tsx
Labels: WEB, Improvement, Ever Teams

#3844 [WEB]-Style: Enhance ActivityModal layout and responsiveness
  apps/web/core/components/dashboard/activity-modal.tsx
  apps/web/core/components/layouts/default-layout/main-layout.tsx
Labels: UI/UX, WEB, Ever Teams, Bug fix

#3849 [Refactor] Update relative imports to use path alias (@) in core/components
  apps/web/app/[locale]/(main)/(teams)/all-teams/page.tsx
  apps/web/app/[locale]/(main)/calendar/page.tsx
  apps/web/app/[locale]/(main)/integration/github/page.tsx
  apps/web/app/[locale]/(main)/meet/jitsi/page.tsx
  apps/web/app/[locale]/(main)/meet/livekit/page.tsx
  apps/web/app/[locale]/(main)/permissions/page.tsx
  apps/web/app/[locale]/auth/passcode/page.tsx
  apps/web/app/[locale]/auth/password/page.tsx
  apps/web/app/[locale]/auth/social-welcome/page.tsx
  apps/web/app/[locale]/auth/team/page.tsx
  apps/web/app/[locale]/auth/workspace/page.tsx
Labels: enhancement, WEB, Ever Teams

#3839 Fix(task-status): Replace Listbox with DropdownMenu in MultipleStatus
  .cspell.json
  .github/workflows/web.before-merge.yml
  apps/mobile/app/components/task/title-block/index.tsx
  apps/web/app/[locale]/(main)/kanban/page.tsx
  apps/web/core/components/common/auto-complete-dropdown.tsx
  apps/web/core/components/common/color-picker.tsx
  apps/web/core/components/common/command.tsx
  apps/web/core/components/common/dropdown.tsx
  apps/web/core/components/common/emoji-picker.tsx
  apps/web/core/components/common/multi-select-with-search.tsx
  apps/web/core/components/duplicated-components/avatar.tsx
  apps/web/core/components/duplicated-components/multi-select-with-search.tsx
  apps/web/core/components/duplicated-components/teams-dropdown.tsx
  apps/web/core/components/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/core/components/features/layouts/header/create-default-action.tsx
  apps/web/core/components/features/projects/add-or-edit-project/steps/basic-information-form.tsx
  apps/web/core/components/features/projects/add-or-edit-project/steps/categorization-form.tsx
  apps/web/core/components/features/tasks/delete-task.tsx
  apps/web/core/components/features/teams/invite-modal.tsx
  apps/web/core/components/layouts/default-layout/header/profile.tsx
  apps/web/core/components/layouts/default-layout/header/sidebar-command-modal.tsx
  apps/web/core/components/pages/profile/task-filters.tsx
  apps/web/core/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/core/components/pages/task/details-section/blocks/task-main-info.tsx
  apps/web/core/components/pages/task/details-section/blocks/task-progress.tsx
  apps/web/core/components/pages/teams/all-teams/all-teams-members-views/all-team-members-filter.tsx
  apps/web/core/components/pages/teams/team/team-members-views/user-team-card/user-team-card-menu.tsx
  apps/web/core/components/roles/permission-dropdown.tsx
  apps/web/core/components/settings/icon-popover.tsx
  apps/web/core/components/settings/table-action-popover.tsx
  apps/web/core/components/tasks/custom-dropdown.tsx
  apps/web/core/components/tasks/daily-plan/daily-plan-filter.tsx
  apps/web/core/components/tasks/task-card.tsx
  apps/web/core/components/tasks/task-date-range.tsx
  apps/web/core/components/tasks/task-input.tsx
  apps/web/core/components/tasks/task-status.tsx
  apps/web/core/components/teams/invite/invite-email-dropdown.tsx
  apps/web/core/components/teams/invite/user-invite-card.tsx
  apps/web/core/components/teams/members-card/users-card-menu.tsx
  apps/web/core/components/teams/team-item.tsx
  apps/web/core/components/teams/team-size-popover.tsx
  apps/web/core/components/teams/transfer-team/transfer-team-dropdown.tsx
  apps/web/core/components/users/user-nav-menu.tsx
  apps/web/package.json
  packages/ui/package.json
  packages/ui/src/components/command.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/index.ts
  yarn.lock
Labels: UI/UX, WEB, Improvement, Ever Teams

#3850 Feat(calendar): Enhance year dropdown with dynamic range
  apps/web/core/components/common/calendar.tsx
Labels: bug, UI/UX, WEB, Ever Teams, Bug fix

#3851 [Feature] Add GitHub Actions workflow for unused code detection and PR feedback
  .cspell.json
  .github/workflows/knip-cleanup.yml
Labels: feature, WEB, Ever Teams

#3852 Fix/UI issue on task label and daily plan block
  apps/web/core/components/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/core/components/tasks/task-all-status-type.tsx
Labels: UI/UX, WEB, Ever Teams, Bug fix

#3864 [Refactor]-Web Prepare/react query feature
  apps/web/core/components/common/unverified-email.tsx
  apps/web/core/components/layouts/app-sidebar.tsx
  apps/web/core/components/layouts/app/authenticator.tsx
  apps/web/core/components/pages/meet/jitsi/page-component.tsx
  apps/web/core/components/pages/task/issue-card.tsx
  apps/web/core/components/tasks/task-linked-issue.tsx
  apps/web/core/hooks/activities/use-manual-time.ts
  apps/web/core/hooks/activities/use-report-activity.ts
  apps/web/core/hooks/activities/use-time-daily-activity.ts
  apps/web/core/hooks/activities/use-time-limits.ts
  apps/web/core/hooks/activities/use-time-logs.ts
  apps/web/core/hooks/activities/use-time-slots.ts
  apps/web/core/hooks/activities/use-timer.ts
  apps/web/core/hooks/activities/use-timesheet.ts
  apps/web/core/hooks/auth/use-authenticate-user.ts
  apps/web/core/hooks/auth/use-authentication-passcode.ts
  apps/web/core/hooks/auth/use-authentication-password.ts
  apps/web/core/hooks/auth/use-authentication-team.ts
  apps/web/core/hooks/auth/use-email-verify-token.ts
  apps/web/core/hooks/common/use-check-api.ts
  apps/web/core/hooks/common/use-currencies.ts
  apps/web/core/hooks/common/use-language-settings.ts
  apps/web/core/hooks/common/use-query.ts
  apps/web/core/hooks/daily-plans/use-daily-plan.ts
  apps/web/core/hooks/integrations/use-github-integration.ts
  apps/web/core/hooks/integrations/use-integration-tenant.ts
  apps/web/core/hooks/integrations/use-integration-types.ts
  apps/web/core/hooks/integrations/use-integration.ts
  apps/web/core/hooks/organizations/employees/use-employee.ts
  apps/web/core/hooks/organizations/projects/use-organization-projects.ts
  apps/web/core/hooks/organizations/teams/use-organization-teams-employee.ts
  apps/web/core/hooks/organizations/teams/use-organization-teams.ts
  apps/web/core/hooks/organizations/teams/use-public-organization-teams.ts
  apps/web/core/hooks/organizations/teams/use-request-to-join-team.ts
  apps/web/core/hooks/organizations/teams/use-team-invitations.ts
  apps/web/core/hooks/organizations/teams/use-team-tasks.ts
  apps/web/core/hooks/roles/use-role-permissions.ts
  apps/web/core/hooks/roles/use-roles.ts
  apps/web/core/hooks/tags/use-tags.ts
  apps/web/core/hooks/tasks/use-issue-types.ts
  apps/web/core/hooks/tasks/use-task-activity.ts
  apps/web/core/hooks/tasks/use-task-labels.ts
  apps/web/core/hooks/tasks/use-task-priorities.ts
  apps/web/core/hooks/tasks/use-task-related-issue-type.ts
  apps/web/core/hooks/tasks/use-task-sizes.ts
  apps/web/core/hooks/tasks/use-task-status.ts
  apps/web/core/hooks/tasks/use-task-version.ts
  apps/web/core/hooks/users/use-email-reset.ts
  apps/web/core/hooks/users/use-settings.ts
  apps/web/core/hooks/users/use-user.ts
Labels: WEB, Ever Teams
