Repository ever-co/ever-teams, pull requests merged in 2025-08, with the labels that each got.

#3961 [Feature] Support invitation-based onboarding for users without a workspace
  apps/web/app/[locale]/auth/accept-invite/page.tsx
  apps/web/core/components/layouts/default-layout/auth-layout.tsx
  apps/web/core/components/layouts/skeletons/accept-invite-skeleton.tsx
  apps/web/core/components/pages/auth/accept-invite/complete-invitation-registration-form.tsx
  apps/web/core/components/pages/auth/accept-invite/invitation-expired-message-card.tsx
  apps/web/core/components/pages/auth/accept-invite/page-component.tsx
  apps/web/core/components/pages/auth/accept-invite/workspace-not-found-message-card.tsx
  apps/web/core/components/pages/auth/password/page-component.tsx
  apps/web/core/components/pages/auth/workspace/page-component.tsx
  apps/web/core/components/teams/invite/user-invite-card.tsx
  apps/web/core/constants/config/constants.tsx
  apps/web/core/hooks/auth/use-accept-invite.ts
  apps/web/core/hooks/organizations/teams/use-team-invitations.ts
  apps/web/core/lib/helpers/cookies/index.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api.service.ts
  apps/web/core/services/client/api/auth/signin.service.ts
  apps/web/core/services/client/api/organizations/teams/invites/invite.service.ts
  apps/web/core/services/client/api/users/user-organization.service.ts
  apps/web/core/types/schemas/user/invite.schema.ts
  apps/web/core/types/schemas/user/user.schema.ts
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: UI/UX, WEB, Ever Teams

#3980 [Feature] Implement use-current-organization
  apps/web/core/components/layouts/app/init-state.tsx
  apps/web/core/hooks/auth/use-current-organization.ts
  apps/web/core/query/keys/index.ts
  apps/web/core/services/client/api/organizations/organization.service.ts
  apps/web/core/services/client/api/tasks/task-label.service.ts
  apps/web/core/stores/user/user-organizations.ts
  apps/web/core/types/schemas/organization/organization.schema.ts
  apps/web/core/types/schemas/organization/user-organization.schema.ts
Labels: feature, WEB, Ever Teams

#3982 [FixBug] Home page | Active Task block | Project dropdown (empty state)
  apps/web/core/components/pages/task/details-section/blocks/task-secondary-info.tsx
Labels: UI/UX, Improvement, Ever Teams

#3983 [FixBug] 403 error when changing active task
  apps/web/core/components/tasks/task-input.tsx
  apps/web/core/hooks/activities/use-timer.ts
  apps/web/core/hooks/organizations/teams/use-team-tasks.ts
  apps/web/core/hooks/tasks/use-timer-button.ts
Labels: bug, UI/UX, Ever Teams

#3994 Etp 84 web bug team invitations role filter inconsistency between frontend and backend
  apps/web/app/api/invite/[id]/route.ts
  apps/web/app/api/invite/emails/route.ts
  apps/web/app/api/invite/route.ts
  apps/web/app/api/roles/options/route.ts
  apps/web/core/components/pages/teams/team/team-members-views/team-members-card-view.tsx
  apps/web/core/hooks/organizations/teams/use-team-invitations.ts
  apps/web/core/services/client/api/organizations/teams/invites/invite.service.ts
  apps/web/core/services/server/requests/invite.ts
  apps/web/core/types/interfaces/user/invite.ts
Labels: WEB, Ever Teams, Bug fix

#3996 [FixBug] Newly created team’s task page hides sidebar and header when no tasks exist
  apps/web/app/[locale]/(main)/(teams)/team/tasks/page.tsx
Labels: UI/UX, Ever Teams, Bug fix
