Repository ever-co/ever-teams, pull requests merged in 2025-03, with the labels that each got.

#3624 [Feat]: Add Interactive productivity chart component
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityChart.tsx
Labels: feature, UI/UX, Improvement, Ever Teams

#3625 [Refactor]: Extract productivity table configuration to custom hook
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-application/ProductivityApplicationTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-employee/ProductivityEmployeeTable.tsx
  apps/web/app/[locale]/dashboard/app-url/components/productivity-project/index.tsx
  apps/web/app/hooks/use-table-config.ts
  apps/web/app/utils/table-utils.ts
Labels: WEB, Improvement, Ever Teams

#3626 [Feature] Project management | Edit existing project
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/constants.ts
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/hooks/features/usePagination.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/services/client/api/organization-projects.ts
  apps/web/lib/features/project/add-or-edit-project/container.tsx
  apps/web/lib/features/project/add-or-edit-project/index.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/basic-information-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/categorization-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/financial-settings-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/review-summary.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/team-and-relations-form.tsx
  apps/web/lib/features/project/add-or-edit-project/text-editor/index.tsx
  apps/web/lib/features/project/add-or-edit-project/utils.ts
Labels: enhancement, feature, Ever Teams

#3629 Feat: Implement multi-format report export functionality
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/dashboard/app-url/components/ProductivityPDF.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/dashboard-header.tsx
  apps/web/components/ui/export-dialog.tsx
  apps/web/package.json
  yarn.lock
Labels: feature, UI/UX, WEB, Ever Teams, Bug fix, Apps & URLs Dashboard

#3634 [Fix]: Improve Dark Mode for icon popover
  apps/web/lib/settings/icon-items.tsx
  apps/web/lib/settings/icon-popover.tsx
Labels: UI/UX, WEB, Improvement, Ever Teams, Bug fix

#3635 [Feat]: time and activity
  apps/web/app/[locale]/time-and-activity/Components/GroupBySelectTimeActivity.tsx
  apps/web/app/[locale]/time-and-activity/Components/ViewSelect.tsx
  apps/web/app/[locale]/time-and-activity/Components/card-time-and-activity.tsx
  apps/web/app/[locale]/time-and-activity/Components/date-range-picker-time-activity.tsx
  apps/web/app/[locale]/time-and-activity/Components/index.tsx
  apps/web/app/[locale]/time-and-activity/Components/page-component.tsx
  apps/web/app/[locale]/time-and-activity/Components/progress-bar.tsx
  apps/web/app/[locale]/time-and-activity/Components/time-activity-header.tsx
  apps/web/app/[locale]/time-and-activity/page.tsx
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/components/app-sidebar.tsx
Labels: feature, WEB, Improvement, Ever Teams

#3639 [UI Fix] User profil modal
  apps/web/assets/svg.ts
  apps/web/assets/unique/full-width.svg
  apps/web/components/ui/select.tsx
  apps/web/lib/features/user-nav-menu.tsx
  apps/web/lib/layout/footer.tsx
  apps/web/lib/settings/language-dropdown-flags.tsx
Labels: enhancement, UI/UX, Ever Teams, Bug fix

#3641 [Feat]: Time Activity Filters
  apps/web/app/[locale]/time-and-activity/Components/page-component.tsx
  apps/web/app/[locale]/time-and-activity/Components/time-activity-header.tsx
  apps/web/app/[locale]/time-and-activity/Components/time-activityFilterPopover.tsx
  apps/web/app/stores/fullWidth.ts
  apps/web/lib/components/custom-select/multi-select.tsx
  apps/web/lib/layout/GlobalHeader.tsx
  apps/web/lib/layout/main-layout.tsx
Labels: feature, WEB, Improvement, Ever Teams

#3642 [Feat]: Activity Table Column visibility
  apps/web/app/[locale]/time-and-activity/Components/ActivityTable.tsx
  apps/web/app/[locale]/time-and-activity/Components/ViewSelect.tsx
  apps/web/app/[locale]/time-and-activity/Components/page-component.tsx
  apps/web/app/[locale]/time-and-activity/Components/time-activity-header.tsx
  apps/web/app/[locale]/time-and-activity/Components/time-activityFilterPopover.tsx
Labels: feature, WEB, Improvement, Ever Teams

#3652 [Fix UI bugs] User settings | working hours
  apps/web/components/multi-select-with-search.tsx
  apps/web/lib/settings/personal-setting-form.tsx
  apps/web/lib/settings/timezone-dropdown.tsx
  apps/web/lib/settings/working-hours.tsx
Labels: enhancement, WEB, Improvement, Ever Teams, Bug fix

#3653 [Fix UI bugs] Team settings
  apps/web/app/[locale]/settings/team/page.tsx
  apps/web/lib/layout/main-layout.tsx
  apps/web/lib/settings/invitation-setting.tsx
  apps/web/lib/settings/invitation-table.tsx
  apps/web/lib/settings/member-table.tsx
Labels: enhancement, WEB, Ever Teams, Bug fix

#3655 Feat: add localized day names to all languages
  .cspell.json
  apps/web/lib/settings/working-hours.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Improvement, Ever Teams

#3657 [Feature] Projects Management | Archive Active Project
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/grid-item.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/interfaces/IProject.ts
  apps/web/app/services/client/api/organization-projects.ts
  apps/web/components/app-sidebar.tsx
  apps/web/lib/features/project/add-or-edit-project/index.tsx
  apps/web/lib/features/project/archive-project-modal.tsx
  apps/web/lib/features/project/delete-project-modal.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/settings/integration-setting.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3658 [Feature] Projects Management | View Archived Project (list & gallery)
  .vscode/settings.json
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/grid-item.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3663 [Fix]: resolve typescript errors in drag-and-drop functionality
  apps/web/app/helpers/drag-and-drop.ts
Labels: Improvement, Ever Teams, Bug fix

#3664 [Feature] Projects Management | Restore Archived Project
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/grid-item.tsx
  apps/web/app/interfaces/IProject.ts
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-main.tsx
  apps/web/lib/features/project/archive-project-modal.tsx
  apps/web/lib/features/project/delete-project-modal.tsx
  apps/web/lib/features/project/restore-project-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Improvement, Ever Teams

#3667 Feat(dashboard): Add chart toggle functionality
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/components/team-stats-table.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/[locale]/time-and-activity/Components/ActivityTable.tsx
  apps/web/app/[locale]/time-and-activity/Components/page-component.tsx
  apps/web/app/[locale]/time-and-activity/Components/time-activity-header.tsx
  apps/web/app/hooks/features/useReportActivity.ts
Labels: feature, UI/UX, Improvement, Ever Teams

#3668 [Feature] Projects Management | Export Projects data
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/[locale]/projects/export-formats/pdf.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: feature, WEB, Ever Teams

#3666 [Feature] Project management | Columns visibility & Sorting handlers
  apps/web/app/[locale]/projects/components/data-table.tsx
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, feature, UI/UX, WEB, Improvement, Ever Teams

#3680 [Feature] Project management | Bulk actions | Archive active projects, Restore archived projects
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/[locale]/projects/components/project-export-menu.tsx
  apps/web/app/[locale]/projects/components/project-views/grid-view/grid-item.tsx
  apps/web/app/[locale]/projects/components/project-views/grid-view/index.tsx
  apps/web/app/[locale]/projects/components/project-views/index.tsx
  apps/web/app/[locale]/projects/components/project-views/list-view/data-table.tsx
  apps/web/app/[locale]/projects/components/project-views/list-view/index.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/lib/features/project/bulk-actions/bulk-archive-projects-modal.tsx
  apps/web/lib/features/project/bulk-actions/bulk-restore-projects-modal.tsx
  apps/web/lib/features/project/restore-project-modal.tsx
  apps/web/locales/ar.json
  apps/web/locales/bg.json
  apps/web/locales/de.json
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/locales/he.json
  apps/web/locales/it.json
  apps/web/locales/nl.json
  apps/web/locales/pl.json
  apps/web/locales/pt.json
  apps/web/locales/ru.json
  apps/web/locales/zh.json
Labels: enhancement, feature, WEB, Improvement, Ever Teams

#3689 [Performance optimisation] Unnecessary API calls
  apps/web/app/[locale]/permissions/component.tsx
  apps/web/app/[locale]/projects/components/filters-card-modal.tsx
  apps/web/app/[locale]/projects/components/project-views/grid-view/grid-item.tsx
  apps/web/app/[locale]/projects/components/project-views/index.tsx
  apps/web/app/[locale]/projects/components/project-views/list-view/data-table.tsx
  apps/web/app/[locale]/team/[teamId]/[profileLink]/page.tsx
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/hooks/features/useKanban.ts
  apps/web/app/hooks/features/useOrganizationProjects.ts
  apps/web/app/hooks/features/useOrganizationTeams.ts
  apps/web/app/hooks/features/usePublicOrganizationTeams.ts
  apps/web/app/hooks/features/useRefetchData.ts
  apps/web/app/hooks/features/useRoles.ts
  apps/web/app/hooks/features/useTaskInput.ts
  apps/web/app/hooks/features/useTaskLabels.ts
  apps/web/app/hooks/features/useTaskPriorities.ts
  apps/web/app/hooks/features/useTaskRelatedIssueType.ts
  apps/web/app/hooks/features/useTaskSizes.ts
  apps/web/app/hooks/features/useTaskStatus.ts
  apps/web/app/hooks/features/useTeamTasks.ts
  apps/web/app/hooks/features/useTimer.ts
  apps/web/app/interfaces/ITask.ts
  apps/web/app/services/client/api/task-sizes.ts
  apps/web/app/services/client/api/task-status.ts
  apps/web/app/stores/task-status.ts
  apps/web/components/pages/kanban/edit-status-modal.tsx
  apps/web/components/pages/kanban/menu-kanban-card.tsx
  apps/web/components/pages/kanban/sort-tasks-status-settings.tsx
  apps/web/components/pages/main/team-member.tsx
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/shared/teams/teams-dropdown.tsx
  apps/web/lib/app/init-state.tsx
  apps/web/lib/features/daily-plan/add-task-estimation-hours-modal.tsx
  apps/web/lib/features/permission/permission-dropdown.tsx
  apps/web/lib/features/project/add-or-edit-project/index.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/review-summary.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/team-and-relations-form.tsx
  apps/web/lib/features/project/archive-project-modal.tsx
  apps/web/lib/features/task-status/delete-status-confirmation-modal.tsx
  apps/web/lib/features/task/task-all-status-type.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-input-kanban.tsx
  apps/web/lib/features/task/task-status.tsx
  apps/web/lib/features/team-members-kanban-view.tsx
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/team-outstanding-notifications.tsx
  apps/web/lib/settings/table-action-popover.tsx
  apps/web/lib/settings/task-sizes-form.tsx
  apps/web/lib/settings/task-statuses-form.tsx
  apps/web/lib/settings/team-setting-form.tsx
Labels: enhancement, UI/UX, Improvement, Ever Teams, Bug fix

#3690 [Chore] Configure Husky, Prettier, Eslint and Commitlint for code quality enforcement
  .husky/commit-msg
  .husky/pre-commit
  package.json
Labels: enhancement, WEB, Improvement, Ever Teams, chore

#3692 feat: add reusable EmptyState component
  apps/web/components/ui/empty-state.tsx
Labels: feature, UI/UX, Ever Teams, Bug fix

#3693 [Perf]: Optimize Team Members Component
  apps/web/app/[locale]/dashboard/app-url/[teamId]/page.tsx
  apps/web/app/[locale]/dashboard/team-dashboard/[teamId]/page.tsx
  apps/web/app/[locale]/time-and-activity/Components/ActivityTable.tsx
  apps/web/app/hooks/features/useReportActivity.ts
  apps/web/lib/features/team-members.tsx
  apps/web/lib/features/team/user-team-block/user-team-block-header.tsx
Labels: feature, WEB, Improvement, Ever Teams

#3695 [Feat]: Optimize GitHub Integration
  apps/web/app/[locale]/integration/github/component.tsx
Labels: feature, WEB, Improvement, Ever Teams

#3694 [Feat]: Improve Meet Component
  .cspell.json
  apps/web/app/[locale]/meet/jitsi/component.tsx
  apps/web/app/[locale]/profile/[memberId]/page.tsx
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/app/services/client/api/meet-auth.ts
  apps/web/lib/features/integrations/meet/index.tsx
Labels: feature, WEB, Improvement, Ever Teams, Bug fix

#3699 Fix(web):[Daily Plan] useDailyPlan git conflicts build error
  apps/web/app/hooks/features/useDailyPlan.ts
Labels: WEB, Ever Teams, Bug fix

#3696 [Refactor] Project Management | Navigation in Create / Edit project form
  apps/web/app/[locale]/projects/components/page-component.tsx
  apps/web/app/[locale]/projects/components/project-views/index.tsx
  apps/web/app/components/ui/pagination/index.tsx
  apps/web/app/hooks/features/useDailyPlan.ts
  apps/web/components/pages/task/details-section/blocks/task-secondary-info.tsx
  apps/web/components/sidebar-opt-in-form.tsx
  apps/web/lib/features/project/add-or-edit-project/container.tsx
  apps/web/lib/features/project/add-or-edit-project/index.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/basic-information-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/categorization-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/financial-settings-form.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/review-summary.tsx
  apps/web/lib/features/project/add-or-edit-project/steps/team-and-relations-form.tsx
  apps/web/lib/features/project/add-or-edit-project/utils.ts
  apps/web/lib/features/project/create-project-modal.tsx
  apps/web/lib/features/project/edit-project-modal.tsx
  apps/web/lib/features/project/quick-create-project-modal.tsx
Labels: enhancement, WEB, Improvement, Ever Teams

#3703 [Bug Fix] Resolve UI inconsistencies across components
  apps/web/app/[locale]/task/[id]/component.tsx
  apps/web/components/pages/task/TaskProperties.tsx
  apps/web/components/pages/task/details-section/blocks/task-estimations-info.tsx
  apps/web/components/pages/task/details-section/blocks/task-progress.tsx
  apps/web/components/ui/data-table.tsx
  apps/web/lib/components/pagination.tsx
  apps/web/lib/features/task/task-card.tsx
  apps/web/lib/features/task/task-displays.tsx
  apps/web/lib/features/task/task-filters.tsx
  apps/web/lib/features/task/task-input.tsx
  apps/web/lib/features/team/user-team-card/index.tsx
  apps/web/lib/features/team/user-team-card/task-estimate.tsx
  apps/web/lib/features/team/user-team-card/user-info.tsx
  apps/web/lib/features/team/user-team-table/user-team-table-header.tsx
Labels: enhancement, UI/UX, WEB, Improvement, Ever Teams, Bug fix

#3704 refactor(permissions): Improve code formatting and optimize kanban performance
  apps/web/app/[locale]/kanban/page.tsx
  apps/web/app/[locale]/permissions/component.tsx
  apps/web/app/hooks/features/useKanban.ts
  apps/web/app/hooks/features/useRolePermissions.ts
  apps/web/locales/en.json
Labels: feature, WEB, Ever Teams

#3705 Fix(nav-menu): Improve submenu navigation and accessibility
  apps/web/app/[locale]/time-and-activity/Components/page-component.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-main.tsx
Labels: UI/UX, WEB, Improvement, Bug fix

#3707 Feat(activity-table): Add earnings column, UI enhancements, and pagination controls
  apps/web/app/[locale]/time-and-activity/Components/ActivityLevelCell.tsx
  apps/web/app/[locale]/time-and-activity/Components/ActivityTable.tsx
  apps/web/app/[locale]/time-and-activity/Components/ActivityTableSkeleton.tsx
  apps/web/app/[locale]/time-and-activity/Components/EarningsCell.tsx
  apps/web/app/[locale]/time-and-activity/Components/ProjectCell.tsx
  apps/web/app/[locale]/time-and-activity/Components/TrackedHoursCell.tsx
  apps/web/app/[locale]/time-and-activity/Components/page-component.tsx
  apps/web/app/interfaces/timer/ITimerLog.ts
Labels: Improvement, Ever Teams, Bug fix

#3708 perf(components): optimize MultiSelectWithSearch performance
  apps/web/app/[locale]/projects/components/filters-card-modal.tsx
  apps/web/app/[locale]/projects/components/multi-select-with-search.tsx
Labels: feature, WEB, Improvement

#3710 Feat(projects): Fnhance grid view layout and styling
  apps/web/app/[locale]/projects/components/project-views/grid-view/grid-item.tsx
  apps/web/app/[locale]/projects/components/project-views/grid-view/index.tsx
Labels: feature, WEB, Ever Teams

#3712 Feat(timesheet): Enhance filter components responsiveness and code style
  apps/web/app/[locale]/timesheet/[memberId]/components/FilterWithStatus.tsx
  apps/web/app/[locale]/timesheet/[memberId]/components/TimesheetFilter.tsx
Labels: feature, WEB, Improvement, Timesheets
